<?php 
use Magento\Framework\App\Action\Action;
if($this->getConfig('enabled')){ // start enable module?>
	<?php $_productCollection = $this->getProducts();
		$_helper = $this->helper('Magento\Catalog\Helper\Output');
		$title = $block->getTitle();
		$image = 'new_products_content_widget_grid';
	?>
	<div class="product-bestseller-slider product-bestseller-slider-customcss">
		<h2><?php echo $title;?></h2>
		<div class="slider-home2 product-bestseller-slider-fixed">
			<div class="wrap-item">
			<?php if(!$_productCollection->getSize()): ?> 
					<div class="rokan-featured-slider">	
						<p class="note-msg"><?php echo __('There are no products matching the selection.') ?></p>
					</div>
				<?php else: ?>
				<?php $i = 0; $rows = 2; foreach ($_productCollection as $_product){ ?>
				<?php 
					$productImage = $block->getImage($_product, $image);
					if($i % $rows == 0){
						echo '<div class="item">';
					}
					$i ++;
				?>
				<div class="item-product-bestseller">
					<div class="product-thumb">
						<a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>"><?php echo $productImage->toHtml(); ?></a>
						<?php if ($_product->isSaleable()): ?>
							<?php
							  $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
							  $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_product), ['product' => $_product->getEntityId()]);
							  $postParams = json_decode($postData, true);
							  ?>
							<form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
							  <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
							  <input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
							  <?php echo $block->getBlockHtml('formkey')?>
							  <button type="submit"
								  title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
								  class="addcart-link addcart-single">
								<i class="fa fa-shopping-basket"></i>
							  </button>
							</form>
						  <?php else: ?>
							<?php if ($_product->getIsSalable()): ?>
							  <div class="stock available"><span><?php echo __('In stock') ?></span></div>
							<?php else: ?>
							  <div class="stock unavailable"><span><?php echo __('Out of stock') ?></span></div>
							<?php endif; ?>
						  <?php endif; ?>
					</div>
					<div class="product-info2">
						<h3 class="title-product"><a title="<?php echo $block->escapeHtml($_product->getName()) ?>"
						   href="<?php echo $block->getProductUrl($_product) ?>"
						   class="product-item-link">
							<?php echo $block->escapeHtml($_product->getName()) ?>
						</a></h3>
						<div class="info-price">
							<?php echo $this->helper('Rokanthemes\Superdeals\Helper\Data')->getPriceDisplayCustom($block->getProductPrice($_product));  ?>
						</div>
						<div class="product-rating">
							<?php echo $block->getReviewsSummaryHtml($_product, null, true); ?>
						</div>
					</div>
				</div>
				<?php 
					if($i %$rows == 0){
						echo '</div>';
					}
				?>			
				<?php } ?>
				<?php if($i %$rows != 0) echo '</div>'; ?>
			<?php endif; ?>
			</div>
		</div>
		<div class="zoom-image-thumb video-image-thumb">
			<?php 
				echo $block->getBannerHomeCategory();
			?>
		</div>
	</div>
<?php } ?>