	<?php
use Magento\Framework\App\Action\Action;
	$enable = $block->getConfig('enabled');
	if($enable < 1) return ;
	$items = $block->getConfig('items');
	$speed = $block->getConfig('speed');
	$qty = $block->getConfig('qty');
	$showCart = $block->getConfig('addtocart');
	$showWishlist = $block->getConfig('wishlist');
	$showCompare = $block->getConfig('compare');
	$show_navigation = $block->getConfig('navigation');
	$show_pagination = $block->getConfig('pagination');
	$auto = $block->getConfig('auto');
	$imageBlock =  $block->getLayout()->createBlock('Magento\Catalog\Block\Product\Image');
	$image = 'new_products_content_widget_producttab';
	$type = 'widget-new-grid';
	$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
	$rows = $block->getConfig('row');
	?>
<div class="list-tab-product common-tab-system-fixed">
	
		  <h2 class="title30 font-bold title-box1 text-center">Best Sellers Products</h2>
		  <ul class="tabs list-none text-center title-tab1 list-inline-block">
		    <?php
		    $tab_contents = $block->getTabContent() ;
		    foreach($tab_contents as $tab) {
		      ?>
		      <li rel="tab_<?php echo $tab['id'];?>" class="<?php echo $tab['class']; ?>"> <a> <?php echo $tab['name'];?></a></li>
		      <?php
		    }
		    ?>
		  </ul>
		  <!-- <p class="des"><?php //echo __('Lorem Ipsum is simply dummy text of the printing and typesetting industry.') ?></p> -->
	<div class="row">
		<div class="col-md-3 col-sm-4 col-xs-6">
			<?php  echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId(' banner_block-adv7')->toHtml(); ?>
		</div>
		<div class="col-md-9 col-sm-8 col-xs-6">	
		    <div class="content-hotdeal tab-content">
			   <?php
				foreach($tab_contents as $tab) {
				?>
				 <div id="tab_<?php echo $tab['id'];?>" class="product-tab-slider tab_content <?php echo $tab['class']; ?>">
				 	<div class="productTabContent owl-carousel deal-slider2 product-slider  product-slider1">
					<?php
						$i=0;
						$productItems =  $tab['productInfo'];
						foreach($productItems as $_item) {
								$productImage = $block->getImage($_item, $image);
								$productImageThumb = $block->getImage($_item, 'category_page_grid-1');
						?>
							<?php if($i++%$rows==0) { ?>  <?php } ?>
							<div class="item-product item-product1 style2 text-center">
								<div class="product-thumb">
									<a href="<?php /* @escapeNotVerified */ echo $_item->getProductUrl() ?>" class="product-thumb-link rotate-thumb">
										<span class="first-thumb">
											<?php echo $productImage->toHtml(); ?>
										</span>
										<span class="second-thumb">
											<?php echo $productImageThumb->toHtml(); ?>
										</span>
									</a>
									<div class="quickview-product">
										<a class="quickview-link fancybox fancybox.iframe" data-role="quickview-button" data-id="<?php echo $_item->getId(); ?>" href="javascript: void(0);" data-href="<?php echo $block->getUrl('quickview/product/quickview/id/' . $_item->getId()) ?>" title=""><i class="fa fa-search"></i>
										</a>
								    </div>
							    </div>
								<div class="product-info">
									<h3 class="product-title">
											<a title="<?php echo $block->escapeHtml($_item->getName()) ?>"
											   href="<?php echo $block->getProductUrl($_item) ?>"
											   class="product-item-link">
												<?php echo $block->escapeHtml($_item->getName()) ?>
											</a>
									</h3>
									<div class="product-price">
										<?php
										echo $this->helper('Rokanthemes\Superdeals\Helper\Data')->getPriceDisplayCustom($block->getProductPrice($_item));
										?>
									</div>
									<div class="product-rate">
										<div class="product-rating">
											<?php if ($templateType): ?>
												<?php echo $block->getReviewsSummaryHtml($_item, $templateType,true); ?>
											<?php endif; ?>
										</div>
									</div>	
									<div class="product-extra-link">
										
					                	<?php if ($showWishlist || $showCompare): ?>
										<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
												<a href="#"
												   data-post='<?php echo $block->getAddToWishlistParams($_item); ?>'
												   class="wishlist-link" data-action="add-to-wishlist"
												   title="">
													<i class="fa fa-heart-o"></i><span>wishlist</span>
												</a>
										<?php endif; ?>
										 <?php if ($showCart): ?>
					                    <div class="addcart-link">
					                      <?php if ($_item->isSaleable()): ?>
					                        <?php
					                          $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
					                          $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()]);
					                          $postParams = json_decode($postData, true);
					                          ?>
					                        <form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
					                          <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
					                          <input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
					                          <?php echo $block->getBlockHtml('formkey')?>
					                          <button type="submit"
					                              title=""
					                              class="btn-add-to-cart">
					                           
					                            <?php echo $block->escapeHtml(__('Add to Cart')); ?>
					                          </button>
					                        </form>
					                      <?php else: ?>
					                        <?php if ($_item->getIsSalable()): ?>
					                          <div class="stock available"><span><?php echo __('In stock') ?></span></div>
					                        <?php else: ?>
					                          <div class="stock unavailable"><span><?php echo __('Out of stock') ?></span></div>
					                        <?php endif; ?>
					                      <?php endif; ?>
					                    </div>
						                  <?php endif; ?>
										<?php if ($block->getAddToCompareUrl() && $showCompare): ?>
											<?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');?>
											<a href="#" class="compare-link"
											   data-post='<?php echo $compareHelper->getPostDataParams($_item);?>'
											   title="">
												<i class="fa fa-compress"></i><span>compare</span>
											</a>
										<?php endif; ?>
										<?php endif; ?>  
									</div>
								</div>			
							</div>
						 <?php if($i%$rows==0 || $i == count($productItems)) { ?>  <?php }?>
					<?php } ?>
					</div>
				 </div>
				<?php
				}
				?>
			</div>
		</div>	
	</div>
</div>
<script type="text/x-magento-init">
{
	"[data-role=tocart-form], .form.map.checkout": {
		"catalogAddToCart": {}
	}
}
</script>

<script type="text/javascript">
require(["jquery", 'mage/mage', "rokanthemes/owl"], function($){
	'use strict';
	$( document ).ready(function() {
		$(".list-tab-product .tab_content").hide();
		$(".list-tab-product .tab_content:first").show();		
		$(".productTabContent").owlCarousel({
			items : <?php if($items) { echo $items; } else { echo 5; }?>,
			autoPlay : <?php if($auto) echo 'true'; else echo 'false'; ?>,
			slideSpeed : <?php if($speed) echo $speed; else echo '500'; ?>,
			navigation : <?php if($show_navigation) echo 'true'; else echo 'false'; ?>,
			stopOnHover : true,
			pagination : <?php if($show_pagination) echo 'true'; else echo 'false'; ?>,
			itemsDesktop : [1024,2],
			itemsDesktopSmall : [768,2],
			itemsTablet: [680,1],
			itemsMobile : [480,1]
		});
	});
});
</script>