<div class="main-content-home">
	<div class="container">
		<div class="from-blog2">
			<div class="row">
				<?php echo $block->getLayout()->createBlock('Rokanthemes\Blog\Block\Sidebar\Recent')->setTemplate('Rokanthemes_Blog::sidebar/slider.phtml')->toHtml();?>
			</div>
		</div>
		<div class="list-service3 bg-color2">
			<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('list_service3')->toHtml(); ?>
		</div>
	</div>

	<div class="product-box3">
		<div class="row">
			<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
				<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('product_adv3')->toHtml(); ?>
			</div>
			<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
				<?php echo $block->getLayout()->createBlock('Rokanthemes\ProductTab\Block\Producttab')->setTemplate('Rokanthemes_ProductTab::producttab.phtml')->toHtml();?>
			</div>
		</div>
	</div>
	<div class="product-box3">
		<div class="row">
			<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
				<?php  echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('category-productap-home3')->toHtml(); ?>
			</div>
			<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
				<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('product_adv3_02')->toHtml(); ?>
			</div>
		</div>
	</div>
	<div class="product-price-off">
		<div class="container">
			<?php  echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('categorytab_home3')->toHtml(); ?>
		</div>
	</div>
	<div class="fruit-gal3 box-parallax">
		<div class="container">
			<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('fruit_gal3')->toHtml(); ?>
		</div>
	</div>
	<div class="container">
		<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('statistic_box')->toHtml(); ?>
	</div>
	<div class="container">
		<div class="pop-cat3">
			<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('featured_categories_home3')->toHtml(); ?>
		</div>
		<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('wht_choise3')->toHtml(); ?>
	</div>
</div>

<script type="text/javascript">
require([
		'jquery',
		'mage/mage',
		'rokanthemes/owl',
		'rokanthemes/mCustomScrollbar'
	], function ($) {
		'use strict';
	$( document ).ready(function() {
		$('.custom-scroll').mCustomScrollbar({
			scrollButtons:{
				enable:true
			}
		});
		$("ul.tabs li").click(function() {
			$(this).closest("ul").find("li").removeClass("active");
			$(this).addClass("active");
			$(this).closest(".common-tab-system-fixed").find(".tab_content").hide();
			$(this).closest(".common-tab-system-fixed").find(".tab_content").removeClass("animate1");
			var activeTab = $(this).attr("rel");
			$("#"+activeTab) .addClass("animate1");
			$("#"+activeTab).fadeIn();
		});
		// sub-banner-slider
		$(".brand-slider .wrap-item").owlCarousel({
		  items: 5,
         	itemsDesktop : [1199, 4],
	        itemsDesktopSmall : [991, 3],
	        itemsTablet : [767, 2],
	        itemsMobile : [480, 1],
	        navigation : false,
	         afterAction: function(el){
		     this.$owlItems.removeClass('first-active')
		     this.$owlItems .eq(this.currentItem).addClass('first-active')  
		  }
		});
		$(".group-navi").owlCarousel({
		  items: 1,
         	itemsDesktop : [1199, 1],
	        itemsDesktopSmall : [991, 1],
	        itemsTablet : [767, 1],
	        itemsMobile : [480, 1],
	        navigation : true,
	         afterAction: function(el){
		     this.$owlItems.removeClass('first-active')
		     this.$owlItems .eq(this.currentItem).addClass('first-active')  
		  }
		});
		//block-home1
		$(".block-wrap-item").owlCarousel({
		  items: 1,
         	itemsDesktop : [1199, 1],
	        itemsDesktopSmall : [991, 1],
	        itemsTablet : [767, 1],
	        itemsMobile : [479, 1],
	        navigation : true,
	         afterAction: function(el){
		     this.$owlItems.removeClass('first-active')
		     this.$owlItems .eq(this.currentItem).addClass('first-active')  
		  }
		});
		//Close Service Box
		$('.close-service-box').on('click',function(event) {
			event.preventDefault();
			$('.banner-top-home').slideUp('slow');
		});
		$(".category_tab_slider").owlCarousel({
			items : 2,
			autoPlay : false,
			slideSpeed : 1000,
			navigation : true,
			stopOnHover : true,
			pagination : false,
			itemsDesktop : [1199,2],
			itemsDesktopSmall : [991,2],
			itemsTablet: [767,2],
			itemsMobile : [480,1],
			 afterAction: function(el){
		     this.$owlItems.removeClass('first-active')
		     this.$owlItems .eq(this.currentItem).addClass('first-active')  
		  }
		});
		//Category Brand
		if($('.category-brand-slider').length>0){
			$('.category-brand-slider').each(function(){
			  $(this).find('.wrap-item').owlCarousel({
				items: 1,
				itemsCustom: [
				[0, 2],
				[480, 2],
				[768, 1],
				[992, 1],
				[1200, 1]
				],
				pagination: false,
				navigation: true,
				autoPlay:true,
				navigationText:['<i class="fa fa-angle-left"></i>','<i class="fa fa-angle-right"></i>']
			  });
			});
		}
	});
});
</script>