<?php 
	$enable = $block->getConfig('enabled');
	if($enable < 1) return ; 
	$title = $block->getTitle();
	$categoryIds = $block->getCategoryIds();
	$categoryIds = explode(',', $categoryIds);
?>
<h2 class="title24 title-flash"><?php 	echo '<span class="white bg-color">'.$title.'</span>'; ?></h2>
<div class="fruit-list-cat">
	<!-- <div class="row"> -->
	<?php if(count($categoryIds) > 0) : ?>
		<div class="wrap-category">
		<?php $iterator = 1; 
			$i = 0;
			$rows = 1;
		?>
			<div class="owl">
			<?php foreach($categoryIds as $key => $cate_id) : ?>

				<div class="item-fruit-cat1">
					<?php 
						$cate_model =  $block->getCategory($cate_id);
						$subCate = $block->getCategoryList($cate_model->getChildren());
				   	?>
					<h2 class="title18 color2 text-uppercase font-bold text-center"><?php echo $cate_model->getName(); ?></h2>
					<div class="title18 line-space color text-center"><i class="fa fa-pagelines"></i></div>
					<ul class="list-none cat-menu2">
						<?php foreach ($subCate as $key => $value): ?>
							<li><a href="<?php echo $value->getUrl(); ?>"><?php echo $value->getName(); ?><span><?php echo $value->getProductCount(); ?></span></a></li>
				   		<?php endforeach; ?>
					</ul>
					<a href="<?php echo $cate_model->getUrl() ?>" class="btn-viewall color"><?php echo __('view All'); ?></a>
					<div class="cat-menu-img">
				    	<img src="<?php echo $this->helper('Rokanthemes\Categorytab\Helper\Data')->getThumbnailImageUrl($cate_model) ?>" alt="<?php echo $cate_model->getName() ?>" />
					</div>
				</div>
			<?php endforeach; ?>	
			</div>
		</div>
	  <?php endif; ?>			
	<!-- </div> -->
</div>
<script>
	require([
		'jquery',
		'mage/mage',
		'rokanthemes/owl'
	], function ($) {
		'use strict';
		jQuery(".wrap-category .owl").owlCarousel({
			autoPlay : false,
			items : 3,
			itemsDesktop : [1199,2],
			itemsDesktopSmall : [991,2],
			itemsTablet: [768,2],
			itemsMobile : [480,1],
			slideSpeed : 500,
			paginationSpeed : 500,
			rewindSpeed : 500,
			navigation : true,
			stopOnHover : true,
			pagination :false,
			scrollPerPage:true,
		});
	});
</script>

