<?php 
use Magento\Framework\App\Action\Action;
$showCart = $block->getConfig('addtocart');
$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
if($this->getConfig('enabled')){ // start enable module?>
	<?php $_productCollection = $this->getProducts();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
	?>
	<div class="rokan-featuredproduct product-box4 drop-shadow">
		
		<?php			
			if ($block->getMode() == 'grid') {
				$viewMode = 'grid';
				$image = 'category_page_grid';
				$showDescription = false;
				$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
			} else {
				$viewMode = 'list';
				$image = 'category_page_list_home3';
				$showDescription = true;
				$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
			}
			$pos = $block->getPositioned();
			
		?>
		<?php if($this->getConfig('title')){?>
			<h2 class="title30 font-bold title-box1 text-center white"><?php echo $this->getConfig('title')?></h2>
		<?php }?>
		<?php if(!$_productCollection->getSize()): ?> 
			<div class="rokan-featured-slider featured-product-slider">	
				<p class="note-msg"><?php echo __('There are no products matching the selection.') ?></p>
			</div>
		<?php else: ?>
			<?php
			$rows = $this->getConfig('row_show featured-product-slider');
			?>	
			<div  class='row'>
				<ul class="owl">
					<?php $_collectionSize = $_productCollection->count() ?>
					<?php $i=0; $rows = 1; foreach ($_productCollection as $_product): ?>
						<?php if($i %$rows == 0) echo "<li class='item product-slider'>"; ?>

							<div class="item-product item-product2">
								<?php
								$newFromDate = $_product->getNewsFromDate();
								$newToDate = $_product->getNewsToDate();                 
								$now = date("Y-m-d H:m(worry)");
								// Get the Special Price
								$specialprice = $_product->getSpecialPrice(); 
								// Get the Special Price FROM date
								$specialPriceFromDate = $_product->getSpecialFromDate();
								// Get the Special Price TO date
								$specialPriceToDate = $_product->getSpecialToDate();
								// Get Current date
								// if ($specialprice&&($specialPriceFromDate <= $now && $specialPriceToDate >= $now)){
								// 	echo "<span class='icon-sale icon-product'>Sale</span>";
								// 	}else{
								// 	if($newFromDate <= $now && $newToDate >= $now) {
								// 		echo "<span class='icon-new icon-product'>Hot</span>";
								// 		//echo $now.' -- '.$newsFrom.' -- '.$newsTo;
								// 	}
								// }
								?>
								<?php
								$productImage = $block->getImage($_product, $image);
								$productImageThumb = $block->getImage($_product, 'category_page_grid-1');
								if ($pos != null) {
									$position = ' style="left:' . $productImage->getWidth() . 'px;'
										. 'top:' . $productImage->getHeight() . 'px;"';
								}
								?>
								<?php // Product Image ?>
								<div class="item-product item-product-featured6 text-center">.
										<div class="product-thumb">
												<a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product-thumb-link rotate-thumb">
													<span class="first-thumb">
														<?php echo $productImage->toHtml(); ?>
													</span>
													<span class="second-thumb">
														<?php echo $productImageThumb->toHtml(); ?>
													</span>
												</a>
										</div>
										<div class="product-info">
											<h3 class="title18">
													<a title="<?php echo $block->escapeHtml($_product->getName()) ?>"
													   href="<?php echo $block->getProductUrl($_product) ?>"
													   class="product-item-link white">
														<?php echo $block->escapeHtml($_product->getName()) ?>
													</a>
											</h3>
											<div class="product-price">
												<?php
												echo $this->helper('Rokanthemes\Superdeals\Helper\Data')->getPriceDisplayCustom($block->getProductPrice($_product));
												?>
											</div>
											<a href="<?php echo $this->getUrl(); ?>" class="shop-button text-uppercase"><?php echo _('Shop Now'); ?> <i class="icon ion-ios-arrow-thin-right"></i>
											</a>
										</div>
								</div>	
							<?php $i++;?>
						</div>
						<?php if($i %$rows == 0) echo "</li>"; ?>                  
					<?php endforeach; ?>
						<?php if($i %$rows != 0) echo "</li>"; ?>                
				</ul>
			</div>
		<?php if (!$block->isRedirectToCartEnabled()) : ?>
			<script type="text/x-magento-init">
			{
				"[data-role=tocart-form], .form.map.checkout": {
					"catalogAddToCart": {}
				}
			}
			</script>
		<?php endif; ?>
			<script>
				require([
					'jquery',
					'mage/mage',
					'rokanthemes/owl'
				], function ($) {
					'use strict';

					jQuery(".rokan-featuredproduct .owl").owlCarousel({
						autoPlay : false,
						items : 3,
						itemsDesktop : [1199,3],
						itemsDesktopSmall : [980,2],
						itemsTablet: [767,2],
						itemsMobile : [480,1],
						slideSpeed : 500,
						paginationSpeed : 500,
						rewindSpeed : 500,
						navigation : true,
						stopOnHover : true,
						pagination :false,
						scrollPerPage:true,
					});
				});
			</script>
	<?php endif; ?>
	</div>
 
<?php } ?>