<?php 
use Magento\Framework\App\Action\Action;
if($this->getConfig('enabled')){ // start enable module?>
	<?php $_productCollection = $this->getProducts();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
	?>
	<div class="rokan-newproduct product-box4 bg-white drop-shadow">
		
		<?php			
			if ($block->getMode() == 'grid') {
				$viewMode = 'grid';
				$image = 'category_page_grid';
				$showDescription = false;
				$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
			} else {
				$viewMode = 'list';
				$image = 'category_page_list_home3';
				$showDescription = true;
				$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
			}
			$pos = $block->getPositioned();
			
		?>
		<?php if($this->getConfig('title')){?>
			<h2 class="text-uppercase font-bold title30"><?php echo $this->getConfig('title')?></h2>
		<?php }?>
		<?php if(!$_productCollection->getSize()): ?> 
			<div class="rokan-newproduct-slider">	
				<p class="note-msg"><?php echo __('There are no products matching the selection.') ?></p>
			</div>
		<?php else: ?>
			<?php
			$rows = 3;
			?>	
			<div class="row">
				<ul class="owl">
					<?php $_collectionSize = $_productCollection->count() ?>
					<?php $i=0; foreach ($_productCollection as $_product): ?>
						<?php if($i %$rows == 0) echo "<li class='item product-slider'>"; ?>

							<div class="item-product item-product2">
								<?php
								$productImage = $block->getImage($_product, $image);
								$productImageThumb = $block->getImage($_product, 'category_page_grid-1');
								if ($pos != null) {
									$position = ' style="left:' . $productImage->getWidth() . 'px;'
										. 'top:' . $productImage->getHeight() . 'px;"';
								}
								?>
								<?php // Product Image ?>
								<div class="row">.
									<div class="col-md-6 col-sm-12 col-xs-12">
										<div class="product-thumb">
												<a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product-thumb-link rotate-thumb">
													<span class="first-thumb">
														<?php echo $productImage->toHtml(); ?>
													</span>
													<span class="second-thumb">
														<?php echo $productImageThumb->toHtml(); ?>
													</span>
												</a>
												<div class="quickview-product">
													<a class="quickview-link fancybox fancybox.iframe" data-role="quickview-button" data-id="<?php echo $_product->getId(); ?>" href="javascript: void(0);" data-href="<?php echo $block->getUrl('quickview/product/quickview/id/' . $_product->getId()) ?>" title=""><i class="fa fa-search"></i>
													</a>
											    </div>
										</div>
									</div>	
									<div class="col-md-6 col-sm-12 col-xs-12">	
										<div class="product-info">
											<div class="product-price">
												<?php
												echo $this->helper('Rokanthemes\Superdeals\Helper\Data')->getPriceDisplayCustom($block->getProductPrice($_product));
												?>
											</div>
											<h3 class="product-title">
													<a title="<?php echo $block->escapeHtml($_product->getName()) ?>"
													   href="<?php echo $block->getProductUrl($_product) ?>"
													   class="product-item-link">
														<?php echo $block->escapeHtml($_product->getName()) ?>
													</a>
											</h3>
											<div class="product-rate">
												<div class="product-rating">
													<?php if ($templateType): ?>
														<?php echo $block->getReviewsSummaryHtml($_product, $templateType,true); ?>
													<?php endif; ?>
												</div>
											</div>	
											<div class="product-extra-link">
												<div class="action-inner">
													<div class="addcart-link">
														<?php if ($_product->isSaleable()): ?>
															<?php $postParams = $block->getAddToCartPostParams($_product); ?>
															<form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
																<input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
																<input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
																<?php echo $block->getBlockHtml('formkey')?>
																<button type="submit"
																		title=""
																		class="btn-add-to-cart">
																	<span><?php echo $block->escapeHtml(__('Add to Cart')); ?></span>
																</button>
															</form>
														<?php else: ?>
															<?php if ($_product->getIsSalable()): ?>
																<div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
															<?php else: ?>
																<div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
															<?php endif; ?>
														<?php endif; ?>
													</div>
													<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
														<a href="#"
														   class="action wishlist-link"
														   title=""
														   aria-label="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
														   data-post='<?php /* @escapeNotVerified */ echo $block->getAddToWishlistParams($_product); ?>'
														   data-action="add-to-wishlist"
														   role="button">
															<i class="fa fa-heart-o"></i><span>wishlist</span>
														</a>
													<?php endif; ?>
													<?php
														$compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
													?>
													<a href="#"
													   class="action compare-link"
													   title=""
													   aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
													   data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_product); ?>'
													   role="button">
														<i class="fa fa-compress"></i><span>compare</span>
													</a>
												</div>	
											</div>
										</div>
									</div>						
								</div>	
							<?php $i++;?>
						</div>
						<?php if($i %$rows == 0) echo "</li>"; ?>                  
					<?php endforeach; ?>
						<?php if($i %$rows != 0) echo "</li>"; ?>                
				</ul>
			</div>
		<?php if (!$block->isRedirectToCartEnabled()) : ?>
			<script type="text/x-magento-init">
			{
				"[data-role=tocart-form], .form.map.checkout": {
					"catalogAddToCart": {}
				}
			}
			</script>
		<?php endif; ?>
			<script>
				require([
					'jquery',
					'mage/mage',
					'rokanthemes/owl'
				], function ($) {
					'use strict';

					jQuery(".rokan-newproduct .owl").owlCarousel({
						autoPlay : false,
						items : 1,
						itemsDesktop : [1199,1],
						itemsDesktopSmall : [980,1],
						itemsTablet: [767,2],
						itemsMobile : [480,1],
						slideSpeed : 500,
						paginationSpeed : 500,
						rewindSpeed : 500,
						navigation : true,
						stopOnHover : true,
						pagination :false,
						scrollPerPage:true,
					});
				});
			</script>
	<?php endif; ?>
	</div>
<?php } ?>