<div id="footer" class="footer-container layout2 footer">
  <div class="footer-top">
      <?php  echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('service_footer')->toHtml(); ?>
  </div>
  <div class="box-google-map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d347518.3012232801!2d105.65362871125032!3d20.78052618426728!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1518254579269" width="1903" height="400"  style="border:0" allowfullscreen></iframe>
       
      <!-- End Google Map -->
</div>
    <div class="footer">
      <div class="main-footer">
        <div class="container">
          <?php echo $this->getChildHtml("footer_payment"); ?>
     
          <?php  echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('social_payment')->toHtml(); ?>
        </div>
      </div>
      <div class="bottom-fotter">
        <div class="container">
          <?php  echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_copyright')->toHtml(); ?>
        </div>
      </div>
    </div>
  <div id="back-top" class="hidden-xs"><i class="fa fa-arrow-up"></i></div>
 </div> 


 


