 <?php 
use Magento\Framework\App\Action\Action;
$showCart = $block->getConfig('addtocart');
$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
if($this->getConfig('enabled')){ // start enable module?>
	<?php $_productCollection = $this->getProducts();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
	?>
	<div class="rokan-featuredproduct">
		
		<?php			
			if ($block->getMode() == 'grid') {
				$viewMode = 'grid';
				$image = 'category_page_grid';
				$showDescription = false;
				$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
			} else {
				$viewMode = 'list';
				$image = 'category_page_list';
				$showDescription = true;
				$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
			}
			$pos = $block->getPositioned();
			
		?>
		<?php if($this->getConfig('title')){?>
			<h2 class="title30 font-bold title-box1 text-center"><?php echo $this->getConfig('title')?></h2>
		<?php }?>
		<?php if(!$_productCollection->getSize()): ?> 
			<div class="rokan-featured-slider">	
				<p class="note-msg"><?php echo __('There are no products matching the selection.') ?></p>
			</div>
		<?php else: ?>
			<?php
			$rows = $this->getConfig('row_show');
			?>	
			<div  class='featured-product-slider'>
				<ul class="owl">
					<?php $_collectionSize = $_productCollection->count() ?>
					<?php $i=0; foreach ($_productCollection as $_product): ?>
						<?php if($i %$rows == 0) echo "<li>"; ?>

							<div class="item-product-featured">
								<?php
								$newFromDate = $_product->getNewsFromDate();
								$newToDate = $_product->getNewsToDate();                 
								$now = date("Y-m-d H:m(worry)");
								// Get the Special Price
								$specialprice = $_product->getSpecialPrice(); 
								// Get the Special Price FROM date
								$specialPriceFromDate = $_product->getSpecialFromDate();
								// Get the Special Price TO date
								$specialPriceToDate = $_product->getSpecialToDate();
								// Get Current date
								// if ($specialprice&&($specialPriceFromDate <= $now && $specialPriceToDate >= $now)){
								// 	echo "<span class='icon-sale icon-product'>Sale</span>";
								// 	}else{
								// 	if($newFromDate <= $now && $newToDate >= $now) {
								// 		echo "<span class='icon-new icon-product'>Hot</span>";
								// 		//echo $now.' -- '.$newsFrom.' -- '.$newsTo;
								// 	}
								// }
								?>
								<?php
								$productImage = $block->getImage($_product, $image);
								$productImageThumb = $block->getImage($_product, 'category_page_grid-1');
								if ($pos != null) {
									$position = ' style="left:' . $productImage->getWidth() . 'px;'
										. 'top:' . $productImage->getHeight() . 'px;"';
								}
								?>
								<?php // Product Image ?>
								<div class="row">
									<div class="col-md-5 col-sm-5 col-xs-12">
										<div class="product-thumb border">
											<a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product-thumb-link rotate-thumb" tabindex="-1">
												<span class="first-thumb">
													<?php echo $productImage->toHtml(); ?>
												</span>
												<span class="second-thumb">
													<?php echo $productImageThumb->toHtml(); ?>
												</span>
											</a>
											<div class="quickview-product">
												<a class="quickview-link fancybox fancybox.iframe" data-role="quickview-button" data-id="<?php echo $_product->getId(); ?>" href="javascript: void(0);" data-href="<?php echo $block->getUrl('quickview/product/quickview/id/' . $_product->getId()) ?>" title=""><i class="fa fa-search"></i>
												</a>
										    </div>
										</div>
									</div>
									<div class="col-md-7 col-sm-7 col-xs-12">
										<div class="product-info">
											<h3 class="product-title">
												<a class="product-item-link"
												   href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
													<?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
												</a>
											</h3>
											<div class="product-price">
												<?php if( $this->getConfig('show_price') ): ?>
													 <?php /* @escapeNotVerified */ echo $block->getProductPrice($_product) ?>
												<?php endif; ?>
											</div>
											<div class="product-rate">
												<div class="product-rating">
													<?php if ($templateType): ?>
														<?php echo $block->getReviewsSummaryHtml($_product, $templateType,true); ?>
													<?php endif; ?>
												</div>
											</div>
											<?php if( $_product->getShortDescription()){?>
												<p class="desc">
													 <?php echo $_product->getShortDescription(); ?>		                    
												</p>
											<?php }?>
											<div class="product-extra-link">
												 <?php if ($showCart): ?>
							                    <div class="addcart-link">
							                      <?php if ($_product->isSaleable()): ?>
							                        <?php
							                          $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
							                          $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_product), ['product' => $_product->getEntityId()]);
							                          $postParams = json_decode($postData, true);
							                          ?>
							                        <form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
							                          <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
							                          <input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
							                          <?php echo $block->getBlockHtml('formkey')?>
							                          <button type="submit"
							                              title=""
							                              class="btn-add-to-cart">
							                           
							                            <?php echo $block->escapeHtml(__('Add to Cart')); ?>
							                          </button>
							                        </form>
							                      <?php else: ?>
							                        <?php if ($_product->getIsSalable()): ?>
							                          <div class="stock available"><span><?php echo __('In stock') ?></span></div>
							                        <?php else: ?>
							                          <div class="stock unavailable"><span><?php echo __('Out of stock') ?></span></div>
							                        <?php endif; ?>
							                      <?php endif; ?>
							                    </div>
								                  <?php endif; ?>
							                	<?php if( $this->getConfig('addtowishlist') || $this->getConfig('addtocompare') ){?>
													<?php if( $this->getConfig('addtowishlist')): ?>
															<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
																<a href="#"
																   class="action wishlist-link"
																   title=""
																   aria-label="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
																   data-post='<?php /* @escapeNotVerified */ echo $block->getAddToWishlistParams($_product); ?>'
																   data-action="add-to-wishlist"
																   role="button">
																	<i class="fa fa-heart-o"></i><span>wishlist</span>
																</a>
															<?php endif; ?>
														<?php endif; ?>
								
													<?php if( $this->getConfig('addtocompare')): ?>
													<?php
														$compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
														?>
														<a href="#"
														   class="action compare-link"
														   title=""
														   aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
														   data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_product); ?>'
														   role="button">
															<i class="fa fa-compress"></i><span>compare</span>
															</a>
													<?php endif; ?>
												<?php }?>
											</div>
										</div>
									</div>
								</div>	
							<?php $i++;?>
						</div>
						<?php if($i %$rows == 0) echo "</li>"; ?>                  
					<?php endforeach; ?>
						<?php if($i %$rows != 0) echo "</li>"; ?>                
				</ul>
			</div>
		<?php if (!$block->isRedirectToCartEnabled()) : ?>
			<script type="text/x-magento-init">
			{
				"[data-role=tocart-form], .form.map.checkout": {
					"catalogAddToCart": {}
				}
			}
			</script>
		<?php endif; ?>
			<script>
				require([
					'jquery',
					'mage/mage',
					'rokanthemes/owl'
				], function ($) {
					'use strict';

					jQuery(".rokan-featuredproduct .owl").owlCarousel({
						autoPlay : false,
						items : 1,
						itemsDesktop : [1199,1],
						itemsDesktopSmall : [980,1],
						itemsTablet: [768,1],
						itemsMobile : [479,1],
						slideSpeed : 500,
						paginationSpeed : 500,
						rewindSpeed : 500,
						navigation : true,
						stopOnHover : true,
						pagination :false,
						scrollPerPage:true,
					});
				});
			</script>
	<?php endif; ?>
	</div>
 
<?php } ?>