<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Language switcher template
 */
?>

<?php if (count($block->getStores())>1): ?>
<?php $id = $block->getIdModifier() ? '-' . $block->getIdModifier() : ''?>
<?php foreach ($block->getStores() as $_lang): ?>
	<li class="action toggle switcher-trigger <?php if ($_lang->getId() == $block->getCurrentStoreId()): ?>active<?php endif; ?>" id="switcher-language-trigger<?php /* @escapeNotVerified */ echo $_lang->getId()?>">
		<a href="#" data-post='<?php /* @escapeNotVerified */ echo $block->getTargetStorePostData($_lang); ?>'>
			<?php if($flag = \Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('general/country/flag', 'store', $_lang->getCode())): ?>
			<img alt="<?php echo $_lang->getName(); ?>" src="<?php echo $_lang->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'logo/' . $flag; ?>" />
			<?php else: ?>
			<span><?php echo $block->escapeHtml($_lang->getCode()) ?></span>
			<?php endif; ?>
			<?php echo $_lang->getName(); ?>
		</a>
	</li>
<?php endforeach; ?>
<?php endif; ?>
