<?php
	use Magento\Framework\App\Action\Action;
	$enable = $block->getConfig('enabled');
	if($enable < 1) return ;
	$items = $block->getConfig('items');
	$speed = $block->getConfig('speed');
	$qty = $block->getConfig('qty');
	$showCart = $block->getConfig('addtocart');
	$showWishlist = $block->getConfig('wishlist');
	$showCompare = $block->getConfig('compare');
	$show_navigation = $block->getConfig('navigation');
	$show_pagination = $block->getConfig('pagination');
	$auto = $block->getConfig('auto');
	$rows = $block->getConfig('row');
	$title = $block->getTitle();
	$identify = trim($block->getIdentify());
	$categoryIds = $block->getCategoryIds();
	$categoryIds = explode(',', $categoryIds);
	$string =$title;
	$productsOnRow = 2 ;
	if(!$productsOnRow) $productsOnRow = 3;

?>
<div class="list-tab-product common-tab-system-fixed ">
    <h2 class="title30 font-bold title-box1 text-center"><a href="javascript: void(0);"><?php echo $title;?></a></h2>
    <ul class="list-none text-center title-tab1 list-inline-block tabs2<?php echo '-'.$identify;?>">
        <?php $k=0 ; foreach($categoryIds as $cate_id) {
         	$cate_model=$block->getCategory($cate_id); 
         	$cateName = $cate_model->load($cate_id)->getName(); 
         	//echo "<pre>"; print_r($cate_model->getData()); die;
        if($cateName) {
        ?>
          <li class="<?php if($k==0){ echo "active"; }?>" rel="tab<?php echo $cate_id.'-'.$identify;?>"><a href="#"><?php  echo $cateName; ?></a></li>
        <?php }  $k++; } ?>
    </ul>
    <?php

		$imageBlock =  $block->getLayout()->createBlock('Magento\Catalog\Block\Product\Image');
		$image = 'new_products_content_widget_grid';
		$type = 'widget-new-grid';
		$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
		$showWishlist = true;
		$showCompare = true;
		$showCart = true;
		$rows = $block->getConfig('row');
	?>
	<div class="row">
		<div class="col-md-3 col-sm-4 col-xs-6">
			<?php echo $block->getBannerHomeCategory(); ?>
		</div>
		<div class="col-md-9 col-sm-8 col-xs-6">	
			<div class="content-hotdeal tab-content">
				<?php foreach($categoryIds as $cate_id) { ?>
				<div id="tab<?php echo $cate_id.'-'.$identify;?>" class="tab_content2_<?php echo $identify; ?>">
					<div class="category_tab_slider deal-slider2 product-slider">
						<?php
						$newItems =  $block -> getProductCate($cate_id)->getItems();
						$i=0;
						foreach($newItems as $_item) {
							$productImage = $block->getImage($_item, $image);
							$productImageThumb = $block->getImage($_item, 'category_page_grid-1');
						?>
							<?php if($i % $rows==0) { ?> <div class="justify-box2"> <?php } ?>
									<div class="item-product item-product1 style2 text-center">
										<div class="product-thumb">
											<a href="<?php /* @escapeNotVerified */ echo $_item->getProductUrl() ?>" class="product-thumb-link rotate-thumb">
												<span class="first-thumb">
													<?php echo $productImage->toHtml(); ?>
												</span>
												<span class="second-thumb">
													<?php echo $productImageThumb->toHtml(); ?>
												</span>
											</a>
											<div class="quickview-product">
												<a class="quickview-link fancybox fancybox.iframe" data-role="quickview-button" data-id="<?php echo $_item->getId(); ?>" href="javascript: void(0);" data-href="<?php echo $block->getUrl('quickview/product/quickview/id/' . $_item->getId()) ?>" title=""><i class="fa fa-search"></i>
												</a>
										    </div>
									    </div>
										<div class="product-info">
											<h3 class="product-title">
													<a title="<?php echo $block->escapeHtml($_item->getName()) ?>"
													   href="<?php echo $block->getProductUrl($_item) ?>"
													   class="product-item-link">
														<?php echo $block->escapeHtml($_item->getName()) ?>
													</a>
											</h3>
											<div class="product-price">
												<?php
												echo $this->helper('Rokanthemes\Superdeals\Helper\Data')->getPriceDisplayCustom($block->getProductPrice($_item));
												?>
											</div>
											<div class="product-rate">
												<div class="product-rating">
													<?php if ($templateType): ?>
														<?php echo $block->getReviewsSummaryHtml($_item, $templateType,true); ?>
													<?php endif; ?>
												</div>
											</div>	
											<div class="product-extra-link">
												
							                	<?php if ($showWishlist || $showCompare): ?>
												<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
														<a href="#"
														   data-post='<?php echo $block->getAddToWishlistParams($_item); ?>'
														   class="wishlist-link" data-action="add-to-wishlist"
														   title="">
															<i class="fa fa-heart-o"></i><span>wishlist</span>
														</a>
												<?php endif; ?>
												 <?php if ($showCart): ?>
							                    <div class="addcart-link">
							                      <?php if ($_item->isSaleable()): ?>
							                        <?php
							                          $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
							                          $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()]);
							                          $postParams = json_decode($postData, true);
							                          ?>
							                        <form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
							                          <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
							                          <input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
							                          <?php echo $block->getBlockHtml('formkey')?>
							                          <button type="submit"
							                              title=""
							                              class="btn-add-to-cart">
							                           
							                            <?php echo $block->escapeHtml(__('Add to Cart')); ?>
							                          </button>
							                        </form>
							                      <?php else: ?>
							                        <?php if ($_item->getIsSalable()): ?>
							                          <div class="stock available"><span><?php echo __('In stock') ?></span></div>
							                        <?php else: ?>
							                          <div class="stock unavailable"><span><?php echo __('Out of stock') ?></span></div>
							                        <?php endif; ?>
							                      <?php endif; ?>
							                    </div>
								                  <?php endif; ?>
												<?php if ($block->getAddToCompareUrl() && $showCompare): ?>
													<?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');?>
													<a href="#" class="compare-link"
													   data-post='<?php echo $compareHelper->getPostDataParams($_item);?>'
													   title="">
														<i class="fa fa-compress"></i><span>compare</span>
													</a>
												<?php endif; ?>
												<?php endif; ?>  
											</div>
										</div>			
									</div>							
							<?php $i++;?>
							<?php if($i %$rows == 0) echo "</div>"; ?>
						<?php }	?>
						<?php if($i %$rows != 0) echo "</div>"; ?> 
					</div>
		 	 	</div><!-- #tab1 -->
			 	<?php }?>
		 	</div> <!-- .tab_container -->
		</div>
	</div>
</div>	
<script type="text/javascript">
require([
		'jquery',
		'mage/mage',
		'rokanthemes/owl'
	], function ($) {
		'use strict';
		$(".tab_content2_<?php echo $identify; ?>").hide();
		$(".tab_content2_<?php echo $identify; ?>:first").show();
		
		$("ul.tabs2<?php echo '-'.$identify;?> li a").click(function() {
			$("ul.tabs2<?php echo '-'.$identify;?> li").removeClass("active");
			$(this).closest('li').addClass("active");
			$(".tab_content2_<?php echo $identify; ?>").hide();
			var activeTab = $(this).closest('li').attr("rel"); 
			$("#"+activeTab).fadeIn();
			return false;
		});	
})
</script>