<?php 
	$data = $block->getConfig();
    $_helper = $this->helper('Rokanthemes\Themeoption\Helper\Themeconfig');
?>
<?php
    $charSubset = ",latin-ext";
    $font_sizes = "%3A300%2C300italic%2C400%2C400italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic";
?>
<?php if (isset($data['font']['custom']) && $data['font']['custom'] && $data['font']['font_family'] == 'google'): ?>
<link rel="stylesheet" media="all" href='//fonts.googleapis.com/css?family=<?php echo str_replace(' ', '+', $data['font']['google_font_family']).$font_sizes; echo $charSubset; ?>' type='text/css' />
<?php else: ?>
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,700" media="all" rel='stylesheet' type='text/css'/>
<?php endif;?>
<link rel="stylesheet" type="text/css" media="all" href="<?php echo $_helper->getThemeOption()?>" />
<?php if (isset($data['general']['enable_preloaded']) && $data['general']['enable_preloaded'] == 1){ ?>
<style type="text/css">
#loading{
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 999999;
	margin-top: 0px;
	top: 0px;
}
#loading{
	<?php if (isset($data['general']['background_preloaded']) && $data['general']['background_preloaded'] != ''){ ?>
		background-color:#<?php echo $data['general']['background_preloaded']; ?>
	<?php }else{ ?>	
	background-color:#6c3;
	<?php } ?>
}
#loading-center{
	width: 100%;
	height: 100%;
	position: relative;
}
#loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 200px;
	width: 200px;
	margin-top: -100px;
	margin-left: -100px;
	-ms-transform: rotate(-135deg); 
   	-webkit-transform: rotate(-135deg); 
    transform: rotate(-135deg);
}
.object{
	-moz-border-radius: 50% 50% 50% 50%;
	-webkit-border-radius: 50% 50% 50% 50%;
	border-radius: 50% 50% 50% 50%;
	position: absolute;
	border-top: 5px solid #FFF;
	border-bottom: 5px solid transparent;
	border-left:  5px solid #FFF;
	border-right: 5px solid transparent;
	
	-webkit-animation: animate 2s infinite;
	animation: animate 2s infinite;	
}
#object_one{
	left: 75px;
	top: 75px;
	width: 50px;
	height: 50px;
}							
#object_two{
	left: 65px;
	top: 65px;
	width: 70px;
	height: 70px;
	-webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
#object_three{
	left: 55px;
	top: 55px;
	width: 90px;
	height: 90px;
	-webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
#object_four{
	left: 45px;
	top: 45px;
	width: 110px;
	height: 110px;
	-webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;	
}	
@-webkit-keyframes animate { 
50% {
	-ms-transform: rotate(360deg) scale(0.8); 
   	-webkit-transform: rotate(360deg) scale(0.8); 
    transform: rotate(360deg) scale(0.8); 
  }
}
@keyframes animate {	
50% {
	-ms-transform: rotate(360deg) scale(0.8); 
   	-webkit-transform: rotate(360deg) scale(0.8); 
    transform: rotate(360deg) scale(0.8); 
  }	
}

</style>
<?php } ?>
<style type="text/css">
	.message.info.empty {
		margin: 20px;
	}
	.customer-account-login .page-title-wrapper { margin-bottom: 20px; }
	.customer-account-login .page-main .columns {
		margin-bottom: 20px;
	}
	.item-fruit-cat1:hover>*:not(.cat-menu-img){
		position:relative;
		z-index:1;
	}
	.item-fruit-cat1:hover {
	    background:transparent;
	}
	.item-fruit-cat1:hover:before {
        opacity:1;
    } 
	.item-fruit-cat1:hover:after {
        opacity:1;
    }
	.why-choise.box-parallax{
	    background-attachment: scroll;
	    background-size: cover;
	}
	.main-menu-left .verticalmenu.navigation.side-verticalmenu {
	    top: 84px;
	}
	.nav-breadcrumbs .breadcrumbs {
	    margin-bottom: 50px;
	}
	body .product-info-main .product-reviews-summary .reviews-actions {
	    font-size: 13px !important;
		margin-left: 10px !important;
	    padding-left: 10px !important;
	}
	body .product-info-main .special-price, .product-options-bottom .special-price {
		margin: 0 !important;
	}
	body .product-info-main .price-box .price-wrapper .price, 
	.product-options-bottom .price-box .price-wrapper .price{
		font-size: 18px !important;
	}
	.page-main > .page-title-wrapper .page-title {
		margin-bottom: 15px;
	}
	.product-extra-link a {
		line-height: 34px;
	}
	.email-form input[type="submit"] {
		font-size: 14px;
	}
	
	.newsletter-box.bg-color form input {
		display: block;
	    width: 100%;
	    height: 50px;
	    color: #999;
	    background: #fff;
	    border-radius: 25px;
	    border: none;
	    padding: 0 25px;
	    vertical-align: top;
	}
	.newsletter-box.bg-color form .action.subscribe {
		position: absolute;
	    top: 0;
	    right: 0;
	    height: 50px;
	    border: 2px solid #fff;
	    border-radius: 25px;
	    color: #fff;
	    background: transparent;
	    padding: 0 40px;
	    text-transform: uppercase;	
	}

	.catalog-product_compare-index .action.print {
	    float: right;
	    margin: 15px 0;
	}
	.catalog-product_compare-index .table th {
	    display: table-cell;
	    border-radius: 0 !important;
	    border-bottom: 1px solid #eee !important;
	}
	.table:not(.cart):not(.totals) > thead > tr > th, .table:not(.cart):not(.totals) > tbody > tr > th, .table:not(.cart):not(.totals) > tfoot > tr > th, .table:not(.cart):not(.totals) > thead > tr > td, .table:not(.cart):not(.totals) > tbody > tr > td, .table:not(.cart):not(.totals) > tfoot > tr > td{
		    border: 1px solid #d1d1d1;
	}
	.table-comparison .cell.remove {
		text-align: center;
	}

	@media (min-width: 768px), print{
		body.page-layout-1column .product-info-main {
	        width: auto !important;
		}
	}
	@media (max-width: 560px) {
		.newsletter-box.bg-color form input {
			display: inline-block;
    		width: auto;
		}
		.newsletter-box.bg-color form .action.subscribe {
		    position: static;
		    padding: 0 30px;
		}
	}
</style>