<?php 
	use Magento\Framework\App\Action\Action;
	$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
	$category_load = $block->getCategory();
	$rows = $block->getConfig('row');
	$show_navigation = $block->getConfig('navigation');
	$show_pagination = $block->getConfig('pagination');
	if($category_load && strtotime($block->getConfig('end_date')) >= strtotime($block->getCurrentTime())){ 
		$image = 'new_products_content_widget_grid';
?>

<div class="banner-product-dealoff banner-adv zoom-image">
	
		<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('banner_13')->toHtml(); ?>
	<div class="info-countdown13">
	</div>
	<div class="info-countdown13">
		<h2 class="title30 title-deal13 color font-bold"><?php echo __('Deals Of The Day') ?></h2>
		<div class="countdown-master days-countdown">
			<div class="super-deal-countdowns" data-date="<?php echo $block->getConfig('end_date');?>"></div>
		</div>	
	</div>
</div>
<script type="text/javascript">
require(["jquery", 'mage/mage','rokanthemes/timecircles', "rokanthemes/owl"], function($){
	'use strict';
    // require([
    //     'jquery',
    //     'rokanthemes/timecircles'
    // ], function ($) {
		$( document ).ready(function() {
			$(".deal-slider2.product-slider").owlCarousel({
	        items: 3,
	         	itemsDesktop : [1199, 3],
		        itemsDesktopSmall : [1024, 2],
		        itemsTablet : [768, 2],
		        itemsMobile : [680, 1],
	        navigation : false,
	         afterAction: function(el){
		     this.$owlItems.removeClass('first-active')
		     this.$owlItems .eq(this.currentItem).addClass('first-active')  
		  }
	    });

			if($('.super-deal-countdowns').length>0){
				$(".super-deal-countdowns").TimeCircles({
					fg_width: 0.01,
					bg_width: 1.2,
					text_size: 0.07,
					circle_bg_color: "#ffffff",
					time: {
						Days: {
							show: true,
							text: "D",
							color: "#f9bc02"
						},
						Hours: {
							show: true,
							text: "H",
							color: "#f9bc02"
						},
						Minutes: {
							show: true,
							text: "M",
							color: "#f9bc02"
						},
						Seconds: {
							show: true,
							text: "S",
							color: "#f9bc02"
						}
					}
				}); 
			}
		});
    });
</script>
<?php } ?>