<?php
	use Magento\Framework\App\Action\Action;
	$enable = $block->getConfig('enabled');
	$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
	if($enable < 1) return ;
	$items = $block->getConfig('items');
	$speed = $block->getConfig('speed');
	$qty = $block->getConfig('qty');
	$showCart = $block->getConfig('addtocart');
	$showWishlist = $block->getConfig('wishlist');
	$showCompare = $block->getConfig('compare');
	$show_navigation = $block->getConfig('navigation');
	$show_pagination = $block->getConfig('pagination');
	$auto = $block->getConfig('auto');
	$rows = $block->getConfig('row');
	$title = $block->getTitle();
	$identify = trim($block->getIdentify());
	$categoryIds = $block->getCategoryIds();
	$categoryIds = explode(',', $categoryIds);
	$string =$title;
	$productsOnRow = 2 ;
	if(!$productsOnRow) $productsOnRow = 3;

?>
<div class="common-tab-system-fixed">
    <h2 class="title30 text-center font-bold"><a href="javascript: void(0);"><?php echo $title;?></a></h2>
    <ul class="list-none list-inline-block text-center title-tab-icon3 tabs<?php echo '-'.$identify;?>">
        <?php $k=0 ; foreach($categoryIds as $cate_id) {
         	$cate_model=$block->getCategory($cate_id); 
         	$cateName = $cate_model->load($cate_id)->getName(); 
         	//echo "<pre>"; print_r($cate_model->getData()); die;
        if($cateName) {
        ?>
          <li class="<?php if($k==0){ echo "active"; }?>" rel="tab<?php echo $cate_id.'-'.$identify;?>"><a href="#">
			<img src="<?php echo $this->helper('Rokanthemes\Categorytab\Helper\Data')->getThumbnailImageUrl($cate_model) ?>" alt="<?php echo $cate_model->getName() ?>" />
          <span><?php  echo $cateName; ?></span></a></li>
        <?php }  $k++; } ?>
    </ul>
    <?php

		$imageBlock =  $block->getLayout()->createBlock('Magento\Catalog\Block\Product\Image');
		$image = 'new_products_content_widget_grid_home3';
		$type = 'widget-new-grid';
		$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
		$showWishlist = true;
		$showCompare = true;
		$showCart = true;
		$rows = $block->getConfig('row');
	?>
	<div class="content-hotdeal tab-content">
		<?php foreach($categoryIds as $cate_id) { ?>
		<div id="tab<?php echo $cate_id.'-'.$identify;?>" class="tab-pane tab_content_<?php echo $identify; ?>">
			<div class="category_tab_slider3 list-price-off clearfix">
				<?php
				$newItems =  $block -> getProductCate($cate_id)->getItems();
				$i=0;
				$rows =3;
				foreach($newItems as $_item) {
					$productImage = $block->getImage($_item, $image);
				?>
					<?php if($i % $rows==0) { ?> <div class="product-slider3"> <?php } ?>
							<div class="item-product-price table">
								<div class="product-thumb">
									<a href="<?php /* @escapeNotVerified */ echo $_item->getProductUrl() ?>" class="product-thumb-link zoom-thumb">
											<?php echo $productImage->toHtml(); ?>
									</a>
									<div class="quickview-product">
										<a class="quickview-link fancybox fancybox.iframe" data-role="quickview-button" data-id="<?php echo $_item->getId(); ?>" href="javascript: void(0);" data-href="<?php echo $block->getUrl('quickview/product/quickview/id/' . $_item->getId()) ?>" title=""><i class="fa fa-search"></i>
										</a>									
								    </div>
							    </div>
								<div class="product-info">
									<h3 class="product-title">
											<a title="<?php echo $block->escapeHtml($_item->getName()) ?>"
											   href="<?php echo $block->getProductUrl($_item) ?>"
											   class="product-item-link">
												<?php echo $block->escapeHtml($_item->getName()) ?>
											</a>
									</h3>
									<div class="product-price">
										<?php
										echo $this->helper('Rokanthemes\Superdeals\Helper\Data')->getPriceDisplayCustom($block->getProductPrice($_item));
										?>
									</div>
									<div class="desc"><?php echo $_item->getShortDescription(); ?>
									</div>									
								</div>			
							</div>							
					<?php $i++;?>
					<?php if($i %$rows == 0) echo "</div>"; ?>
				<?php }	?>
				<?php if($i %$rows != 0) echo "</div>"; ?> 
			</div>
 	 	</div><!-- #tab1 -->
	 	<?php }?>
 	 	<div class="text-center">
 	 		<a href="<?php echo $cate_model->getUrl() ?>" class="btn-arrow color"><?php echo __('View All'); ?></a>
 	 	</div>
 	</div> <!-- .tab_container -->
</div>	
<script type="text/javascript">
require([
		'jquery',
		'mage/mage',
		'rokanthemes/owl'
	], function ($) {
		'use strict';
		$(".tab_content_<?php echo $identify; ?>").hide();
		$(".tab_content_<?php echo $identify; ?>:first").show();
		
		$("ul.tabs<?php echo '-'.$identify;?> li a").click(function() {
			$("ul.tabs<?php echo '-'.$identify;?> li").removeClass("active");
			$(this).closest('li').addClass("active");
			$(".tab_content_<?php echo $identify; ?>").hide();
			var activeTab = $(this).closest('li').attr("rel"); 
			$("#"+activeTab).fadeIn();
			return false;
		});	
		$(".category_tab_slider3").owlCarousel({
			items : 2,
			autoPlay : false,
			slideSpeed : 1000,
			navigation : true,
			stopOnHover : true,
			pagination : false,
			itemsDesktop : [1199,2],
			itemsDesktopSmall : [991,2],
			itemsTablet: [767,2],
			itemsMobile : [480,1],
			 afterAction: function(el){
		     this.$owlItems.removeClass('first-active')
		     this.$owlItems .eq(this.currentItem).addClass('first-active')  
		  }
		});
})
</script>