/**
 * custom theme 2017-03-15 10:20:05 */

#newsletter_pop_up{
width: 600px;height: 330px;background-color: #F4F4F4;background-image: url(http://labbluesky.com/magento/aloshop/pub/media/rokanthemes/newsletter/background/default/popup-girl.png);background-repeat: no-repeat;
background-position: 95% center;}
