/**
 * custom theme 2018-01-24 03:42:38 */

#newsletter_pop_up{
width: 600px;height: 349px;background-color: #F4F4F4;background-image: url(http://127.0.0.1/fruitshop/pub/media/rokanthemes/newsletter/background/default/newsletter.jpg);background-repeat: no-repeat;
background-position: center;}
