/**
 * custom theme 2017-09-19 07:18:46 */

#newsletter_pop_up{
width: 600px;height: 550px;background-color: #F4F4F4;background-image: url(http://127.0.0.1/kuteshop/pub/media/rokanthemes/newsletter/background/default/popup_1.jpg);background-repeat: no-repeat;
background-position: center;}
