/**
 * custom theme 2018-05-03 07:18:28 */

#newsletter_pop_up{
width: 600px;height: 349px;background-color: #F4F4F4;background-image: url(http://labbluesky.com/magento/fruitshop/pub/media/rokanthemes/newsletter/background/stores/16/newsletter.jpg);background-repeat: no-repeat;
background-position: center;}
