<div id="footer" class="footer-container layout2 footer">
  <div class="footer2 footer8 box-parallax">
      <?php  echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_home_2')->toHtml(); ?>
  </div>
  <div id="back-top" class="hidden-xs"><i class="fa fa-arrow-up"></i></div>
</div> 

