<header id="header">
	<div class="header">
		<div class="top-header8">
			<div class="container">
				<div class="row">
					<div class="col-md-5 col-sm-5 col-xs-12">
						<div class="logo8">
							<?php echo $this->getChildHtml("logo"); ?>
						</div>
					</div>
					<div class="col-md-7 col-sm-7 hidden-xs">
						
						 <?php echo $this->getChildHtml("top.links"); ?>
					</div>
				</div>
			</div>
		</div>
	    <div class="main-header8">
        	
  			<div class="container">
        		<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<span data-action="toggle-nav" class="action nav-toggle"><span><?php /* @escapeNotVerified */ echo __('Toggle Nav') ?></span></span>
						<div class="main-menu-left hidden-sm">
							<?php echo $this->getChildHtml("menu.vertical")?>
							<?php echo $this->getChildHtml("navigation-sections")?>
							<?php echo $this->getChildHtml("top.navigation.sections")?>
						</div>
						<div class="main-nav main-nav main-nav8 pull-left">
							<div class="header-wrapper-sticky<?php echo (!$this->helper('Rokanthemes\Themeoption\Helper\Themeconfig')->isEnableStickyHeader()) ? '' : ' enabled-header-sticky'; ?>">	
								<div class="container-header-sticky">
									<div class="logo-sticky"><a href="<?php echo $block->getUrl('');?>" title="<?php echo __('Logo');?>"><img src="<?php echo ($this->helper('Rokanthemes\Themeoption\Helper\Themeconfig')->getStickyLogoHeader() != '') ? $this->helper('Rokanthemes\Themeoption\Helper\Themeconfig')->getStickyLogoHeader() : $this->getViewFileUrl("images/logo_sticky.png");?>" alt="<?php echo __('Logo');?>"/></a></div>
									<div class="top-menu- top-menu-sticky">
									  <?php echo $this->getChildHtml("custom.topnav"); ?>
									</div>
								</div>
							</div>
						</div>
						<div class="mini-cart-box mini-cart1 pull-right">
						  <div class="mini-cart">
							<?php echo $this->getChildHtml("minicart");?>
						  </div>
						  <div class="clr"></div>
						</div>
			            <div class="search-form2 pull-right">
							<?php echo $this->getChildHtml("topSearch");?>
						</div>
			        </div>
			    </div>
	        </div>
	    </div>
	</div>
</header>
<script>
	require([
		'jquery',
		'mage/mage'
	], function ($) {
		'use strict';
		jQuery('.top-bar-menu li.menu-item-has-children-lk .sub-menu').hide();
		jQuery('.top-bar-menu li.menu-item-has-children-lk').on({
			  mouseenter: function(){
				$(this).find(".sub-menu").slideDown();
			  },
			  mouseleave: function(){
				$(this).find(".sub-menu").slideUp();
			  }
			});
	});
</script>
