<?php

use \Magento\Framework\Stdlib\StringUtils;

/**
 * Copyright © 2015 RokanThemes.com. All rights reserved.

 * @author RokanThemes Team <contact@rokanthemes.com>
 */
?>
<?php
/**
 * Blog sidebar recent posts template
 *
 * @var $block \Rokanthemes\Blog\Block\Sidebar\Recent
 */
?>

<?php

	$stringFilter = new \Magento\Framework\Stdlib\StringUtils;
	$enable = $this->getConfig('enable_frontend');
	$auto = $this->getConfig('auto');
	$speed = $this->getConfig('speed');
	$default = $this->getConfig('default');
	$desktop = $this->getConfig('desktop');
	$desktop_small = $this->getConfig('desktop_small');
	$tablet = $this->getConfig('tablet');
	$mobile = $this->getConfig('mobile');
	$pagination = $this->getConfig('pagination');
	$show_next_back = $this->getConfig('show_next_back');
	$show_navigation_control = $this->getConfig('show_navigation_control');
	$title = $this->getConfig('title');
	if($show_next_back)
		$show_next_back = 'true';
	else
		$show_next_back = 'false';
	$show_navigation_control = $this->getConfig('show_navigation_control');
	if($show_navigation_control)
		$show_navigation_control = 'true';
	else
		$show_navigation_control = 'false';
	$_postCollection = $block->getPostCollection();
?>
<?php if ($_postCollection->count() && $enable) { ?>
<section class="box-section block-recent-posts" data-bind="scope: 'recemt-posts'">
	<h2 class="title30 text-uppercase font-bold"><?php echo __($title) ?></h2>
	
	<div class="row">
		<div class="owl list-blog5">
			<?php $rows = 3;
				  $i=0;
			 ?>
			<?php foreach ($_postCollection as $_post) { ?>
				<?php if($i % $rows==0) { ?> <div class="post"> <?php } ?>
					<div class="item-blog5 wow fadeInUp">
						<div class="banner-adv zoom-image">
							<a class="adv-thumb-link" href="<?php echo $_post->getPostUrl() ?>">
								<img alt="<?php echo $_post->getTitle(); ?>" src="<?php echo $this->getMediaFolder().$_post->getThumbnailimage() ?>" />
							</a>
						</div>
						<div class="blog-info2">
							 <h2 class="title18"><a class="black" href="<?php echo $_post->getPostUrl() ?>"><?php echo $block->escapeHtml($_post->getTitle()) ?></a></h2>
							<p class="post-author-date color">
								<?php 
									$date = $_post->getPublishTime();
								?>
								<i class="fa fa-calendar"></i>
								<span class="date-time"><span class="date"><?php echo __(date("d", strtotime($date))) ?></span><span class="separator">-</span><span class="month"><?php echo __(date("M", strtotime($date))) ?></span>-<span class="year"><?php echo __(date("Y", strtotime($date))) ?></span></span>
							</p>
							<?php $length = 106; ?>
								<p class="desc"><?php echo $stringFilter->substr($_post->getShortContent(),0,$length); ?></p>
							<a class="shop-button" href="<?php echo $_post->getPostUrl() ?>">
								<?php echo __('Read more') ?>
							</a>	
						</div>
					</div>
			<?php $i++;?>
			<?php if($i %$rows == 0) echo "</div>"; ?>
			<?php }	?>
			<?php if($i %$rows != 0) echo "</div>"; ?> 
		</div>
	</div>		
</section>

<script type="text/javascript">
	require([
		'jquery',
		'mage/mage',
		'rokanthemes/owl'
	], function ($) {
		'use strict';

		jQuery(".block-recent-posts .owl").owlCarousel({
			items : <?php echo $default; ?>,
			itemsDesktop : [1199,<?php echo $desktop; ?>],
			itemsDesktopSmall : [980,<?php echo $desktop_small; ?>],
			itemsTablet: [768,<?php echo $tablet; ?>],
			itemsMobile : [480,<?php echo $mobile; ?>],
			slideSpeed : <?php echo $pagination; ?>,
			paginationSpeed : <?php echo $pagination; ?>,
			rewindSpeed : <?php echo $pagination; ?>,
			addClassActive: true,
			navigation : <?php echo $show_next_back; ?>,
			stopOnHover : true,
			pagination : <?php echo $show_navigation_control; ?>,
			scrollPerPage:true,
		});
	});
</script>
<?php } ?>