/* Less Variables */
@bkg: #fff;
@bkgheader: #212121;
@bkgfooter: #141414;
@maincolor:#333;
@bdf: 'Poppins', sans-serif; 
@titlefont : 'Poppins', sans-serif;
@otherfont: 'Lato', sans-serif;
@primarycolor: #666666;
@links: #333;
@linkshover: #99368f;
@bordercolor :#e5e5e5;
@inputtext: #fff;
@bgmenu: #fff;
@rating : #f4d632;