<li>
	<a href="<?php echo $block->escapeHtml($block->getHref())?>" title="<?php echo $block->escapeHtml(__($block->getLabel()))?>"> 
		<span class="color"><i class="fa fa-user"></i></span>
		<?php echo $block->escapeHtml(__($block->getLabel()))?>
	</a>
</li>