<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<div><?php /* @escapeNotVerified */ echo __('Your current currency is: %1.', $currency->getCode()) ?></div>
<div><a href="<?php /* @escapeNotVerified */ echo $block->getBaseUrl(); ?>" class="action continue"><span><?php /* @escapeNotVerified */ echo __('Continue') ?></span></a></div>
