<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Checkout\Block\Cart\Sidebar */
?>

<div data-block="minicart">
    <a class="mini-cart-link" href="<?php /* @escapeNotVerified */ echo $block->getShoppingCartUrl(); ?>"
       data-bind="scope: 'minicart_content'">
        <!-- <span class="text"><?php /* @escapeNotVerified */ echo __('My Cart'); ?></span> -->
        <span class="mini-cart-icon title18 color"
              data-bind="css: { empty: !!getCartParam('summary_count') == false }, blockLoader: isLoading">
			<!-- <span class="icon-cart-header"><i class="menu-icon  icon flaticon-shopping-cart6">&nbsp;</i></span> -->
            <span class="mini-cart-icon title18 color"><i class="fa fa-shopping-basket"></i></span>
            <span class="total-mini-cart-item">
            <!-- ko text: getCartParam('summary_count') --><!-- /ko -->
            <!-- ko i18n: 'item(s)' --><!-- /ko -->
          </span>
		  <!--  <span class="total-mini-cart-price" data-bind="html: getCartParam('subtotal')"></span> -->
        </span>
		<span class="total-mini-cart-item-sticky" data-bind="html: getCartParam('summary_count')"></span>
    </a>
    <?php if ($block->getIsNeedToDisplaySideBar()): ?>
        <div class="block-minicart empty">
            <div id="minicart-content-wrapper" class="content-mini-cart" data-bind="scope: 'minicart_content'">
                <!-- ko template: getTemplate() --><!-- /ko -->
            </div>
            <?php echo $block->getChildHtml('minicart.addons'); ?>
        </div>
    <?php endif ?>
    <script>
        window.checkout = <?php /* @escapeNotVerified */ echo \Zend_Json::encode($block->getConfig()); ?>;
    </script>
    <script type="text/x-magento-init">
    {
        "[data-block='minicart']": {
            "Magento_Ui/js/core/app": <?php /* @escapeNotVerified */ echo $block->getJsLayout();?>
        },
        "*": {
            "Magento_Ui/js/block-loader": "<?php /* @escapeNotVerified */ echo $block->getViewFileUrl('images/loader-1.gif'); ?>"
        }
    }
    </script>
</div>
