<?php 
use Magento\Framework\App\Action\Action;
if($this->getConfig('enabled')){ // start enable module?>
	<?php $_productCollection = $this->getProducts();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
	?>
	<div class="new-product3">
		
		<?php			
			if ($block->getMode() == 'grid') {
				$viewMode = 'grid';
				$image = 'category_page_grid';
				$showDescription = false;
				$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
			} else {
				$viewMode = 'list';
				$image = 'category_page_list';
				$showDescription = true;
				$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
			}
			$pos = $block->getPositioned();
			
		?>
		<?php if($this->getConfig('title')){?>
			<h2 class="text-capitalize title30 text-center title-box2"><?php echo $this->getConfig('title')?></h2>
		<?php }?>
		<?php if(!$_productCollection->getSize()): ?> 
			<div class="rokan-newproduct-slider">	
				<p class="note-msg"><?php echo __('There are no products matching the selection.') ?></p>
			</div>
		<?php else: ?>
			<?php
				$rows = 2;
			?>	
			<div class="owl">
				<?php $_collectionSize = $_productCollection->count() ?>
				<?php $i=0; foreach ($_productCollection as $_product): ?>
					<?php if($i %$rows == 0) echo "<div class='item bestsellerslider-item'>"; ?>

							<div class="item-product item-product2">
								<?php
								$newFromDate = $_product->getNewsFromDate();
								$newToDate = $_product->getNewsToDate();                 
								$now = date("Y-m-d H:m(worry)");
								// Get the Special Price
								$specialprice = $_product->getSpecialPrice(); 
								// Get the Special Price FROM date
								$specialPriceFromDate = $_product->getSpecialFromDate();
								// Get the Special Price TO date
								$specialPriceToDate = $_product->getSpecialToDate();
								// Get Current date
								if ($specialprice&&($specialPriceFromDate <= $now && $specialPriceToDate >= $now)){
									//echo "<span class='icon-sale icon-product'>Sale</span>";
									}else{
									if($newFromDate <= $now && $newToDate >= $now) {
										//echo "<span class='icon-new icon-product'>Hot</span>";
										//echo $now.' -- '.$newsFrom.' -- '.$newsTo;
									}
								}
								?>
								<?php
								$productImage = $block->getImage($_product, $image);
								if ($pos != null) {
									$position = ' style="left:' . $productImage->getWidth() . 'px;'
										. 'top:' . $productImage->getHeight() . 'px;"';
								}
								?>
								<?php // Product Image ?>
								<div class="row">
									<div class="col-md-6 col-sm-12 col-xs-12">
										<div class="product-thumb">
											<a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product-thumb-link zoomout-thumb">
												<?php 			
												   $productImage = $block->getImage($_product, $image);
												   $productImageThumb = $block->getImage($_product, 'super_date_images_home2');
												 ?>
												 <span class="first-thumb">
													<?php echo $productImage->toHtml(); ?>
												</span>
												<span class="second-thumb">
													<?php echo $productImageThumb->toHtml(); ?>
												</span>
											</a>
											<div class="quickview-product">
												<a class="quickview-link fancybox fancybox.iframe" data-role="quickview-button" data-id="<?php echo $_product->getId(); ?>" href="javascript: void(0);" data-href="<?php echo $block->getUrl('quickview/product/quickview/id/' . $_product->getId()) ?>" title=""><i class="fa fa-search"></i>
												</a>
										    </div> 
										</div>
									</div>
									<div class="col-md-6 col-sm-12 col-xs-12">
										<div class="product-info">
											<div class="product-price">
												<?php if( $this->getConfig('show_price') ): ?>
													 <?php /* @escapeNotVerified */ echo $block->getProductPrice($_product) ?>
												<?php endif; ?>
											</div>
											<h3 class="product-title">
												<a class="product-item-link"
												   href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
													<?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
												</a>
											</h3>
											<div class="product-rate">
												<div class="product-rating">
													<?php if ($templateType): ?>
														<?php echo $block->getReviewsSummaryHtml($_product, $templateType,true); ?>
													<?php endif; ?>
												</div>
											</div>
											<div class="product-extra-link">
												<div class="action-inner">
													<?php if ($this->getConfig('addtocart')) { ?>
													<div class="actions-primary addcart-link"<?php echo strpos($pos, $viewMode . '-primary') ? $position : ''; ?>>
														<?php if ($_product->isSaleable()): ?>
															<?php $postParams = $block->getAddToCartPostParams($_product); ?>
															<form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
																<input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
																<input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
																<?php echo $block->getBlockHtml('formkey')?>
																<button type="submit"
																		title=""
																		class="btn btn-add-to-cart">
																	<?php echo $block->escapeHtml(__('Add to Cart')); ?>
																</button>
															</form>
														<?php else: ?>
															<?php if ($_product->getIsSalable()): ?>
																<div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
															<?php else: ?>
																<div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
															<?php endif; ?>
														<?php endif; ?>
													</div>
													<?php }?>	
													
													<?php if( $this->getConfig('addtowishlist') || $this->getConfig('addtocompare') ){?>
														<?php if( $this->getConfig('addtowishlist')): ?>
																<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
																	<a href="#"
																	   class="wishlist-link"
																	   title=""
																	   aria-label="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
																	   data-post='<?php /* @escapeNotVerified */ echo $block->getAddToWishlistParams($_product); ?>'
																	   data-action="add-to-wishlist"
																	   role="button">
																		<i class="fa fa-heart-o"></i><span>wishlist</span>
																	</a>
																<?php endif; ?>
															<?php endif; ?>
												
														<?php if( $this->getConfig('addtocompare')): ?>
														<?php
															$compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
															?>
															<a href="#"
															   class="compare-link"
															   title=""
															   aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
															   data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_product); ?>'
															   role="button">
																<i class="fa fa-toggle-on"></i><span>compare</span>
																</a>
														<?php endif; ?>
													<?php }?>
												</div>
											</div>
										</div>
									</div>
								</div>	
							</div>								
						<?php $i++;?>
					<?php if($i %$rows == 0) echo "</div>"; ?>                  
				<?php endforeach; ?>
					<?php if($i %$rows != 0) echo "</div>"; ?>                
			</div>
			<div class="text-center">
				<a href="<?php echo $this->getUrl(); ?>" class="btn-arrow color text-uppercase loadmore-link">Load more </a>
			</div>
		<?php if (!$block->isRedirectToCartEnabled()) : ?>
			<script type="text/x-magento-init">
			{
				"[data-role=tocart-form], .form.map.checkout": {
					"catalogAddToCart": {}
				}
			}
		</script>
	<?php endif; ?>
		<script>
			require([
				'jquery',
				'mage/mage',
				'rokanthemes/owl'
			], function ($) {
				'use strict';

				jQuery(".new-product3 .owl").owlCarousel({
					autoPlay : false,
					items : 2,
					itemsDesktop : [1199,2],
					itemsDesktopSmall : [991,2],
					itemsTablet: [640,1],
					itemsMobile : [479,1],
					slideSpeed : 500,
					paginationSpeed : 500,
					rewindSpeed : 500,
					navigation : false,
					stopOnHover : true,
					pagination :false,
					scrollPerPage:true, 
				});
			});
		</script>
	<?php endif; ?>
	</div>
<?php } ?>