<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
    <form class="form- subscribe- email-form"
    novalidate
    action="<?php /* @escapeNotVerified */ echo $block->getFormActionUrl() ?>"
    method="post"
    data-mage-init='{"validation": {"errorClass": "mage-error"}}'
    id="newsletter-validate-detail">
    
        <input name="email" type="email" id="newsletter"
        placeholder="<?php /* @escapeNotVerified */ echo __('Place enter your email') ?>"
        data-validate="{required:true, 'validate-email':true}"/>

      
        <button class="action subscribe primary" title="<?php /* @escapeNotVerified */ echo __('Sign Up') ?>" type="submit">
          Sign Up
        </button>
   
  </form>

