<?php 
	$enable = $block->getConfig('enabled');
	if($enable < 1) return ; 
	$title = $block->getTitle();
	$categoryIds = $block->getCategoryIds();
	$categoryIds = explode(',', $categoryIds);
?>
<h2 class="title30 font-bold text-center"><?php echo $title; ?></h2>
<div class="popcat-slider3">
	<!-- <div class="row"> -->
	<?php if(count($categoryIds) > 0) : ?>
		<div class="wrap-category">
		<?php $iterator = 1; 
			$i = 0;
			$rows = 1;
		?>
			<div class="owl">
			<?php foreach($categoryIds as $key => $cate_id) : ?>

				<div class="item-popcat3">
					<?php 
						$cate_model =  $block->getCategory($cate_id);
						$subCate = $block->getCategoryList($cate_model->getChildren());
				   	?>
					<div class="banner-adv overlay-image zoom-out">
						<a href="<?php echo $cate_model->getUrl() ?>" class="adv-thumb-link">
							<img src="<?php echo $this->helper('Rokanthemes\Categorytab\Helper\Data')->getThumbnailImageUrl($cate_model) ?>" alt="<?php echo $cate_model->getName() ?>" />
							<img src="<?php echo $this->helper('Rokanthemes\Categorytab\Helper\Data')->getThumbnailImageUrl($cate_model) ?>" alt="<?php echo $cate_model->getName() ?>" />
						</a>
					</div>
					<div class="popcat-info3 text-center">
						<h3 class="title18 text-uppercase font-bold"><?php echo $cate_model->getName(); ?></h3>
						<div class="desc"><?php echo $cate_model->getDescription(); ?></div>
						<a href="<?php echo $cate_model->getUrl() ?>" class="btn-arrow color2 style2"><?php echo __('View category'); ?></a>
					</div>				
				</div>
			<?php endforeach; ?>	
			</div>
		</div>
	  <?php endif; ?>			
	<!-- </div> -->
</div>
<script>
	require([
		'jquery',
		'mage/mage',
		'rokanthemes/owl'
	], function ($) {
		'use strict';
		jQuery(".wrap-category .owl").owlCarousel({
			autoPlay : false,
			items : 3,
			itemsDesktop : [1199,2],
			itemsDesktopSmall : [991,2],
			itemsTablet: [768,2],
			itemsMobile : [480,1],
			slideSpeed : 500,
			paginationSpeed : 500,
			rewindSpeed : 500,
			navigation : true,
			stopOnHover : true,
			pagination :false,
			scrollPerPage:true,
		});
	});
</script>

