<?php
	$helperData = $this->helper('Rokanthemes\Testimonials\Helper\Data');
	$helperImage = $this->helper('Rokanthemes\Testimonials\Helper\Image');
	if(!$helperData->isEnabled()) return false;
	$_testimonialsCollection = $block->getTestimonials();
	$title = $helperData->getTitlePage();
	$img_width = $helperData->getImgRizeWidth();
	$img_height = $helperData->getImgRizeHeight();
?>
<?php if ($_testimonialsCollection->count()):?>
	<h2 class="title30 paci-font color"><?php echo __($title) ?></h2>
	<h2 class="title30 text-uppercase font-bold white">Fruit Store</h2>
	<div class="client-slider2">
		<div class="slick center slick-initialized slick-slider">
			<?php foreach ($_testimonialsCollection as $_testimonial) { ?>
				<div class="item-client2">
					<div class="client-thumb">
						<?php  $link = $helperImage->resize($_testimonial->getAvatar(),$img_width,$img_height, true);?>
						<a href="#"><img src="<?php echo $link;?>" alt="" /></a>
					</div>
					<div class="client-info">
						<h3 class="title18"><a class="color" href="#"><?php echo $_testimonial->getName(); ?></a>
						</h3>
						<span class="white"><?php echo $_testimonial->getJob(); ?></span>
						<p class="desc white"><?php echo $_testimonial->getTestimonial();?></p>
					</div>
				</div>
			<?php } ?>
		</div>
	</div>
	<!-- <a href="<?php //echo $block->getUrl('testimonials');?>" class="viewall"><?php //echo __('View All');?></a> -->
<script type="text/javascript">
	require([
		'jquery',
		'mage/mage',
		'rokanthemes/owl'
	], function ($) {
		'use strict';
	jQuery(document).ready(function ($) {
		$('.client-slider2 .slick-slider').owlCarousel({
			items:1,
			itemsCustom: [ 
			[0, 1], 
			[480, 1], 
			[768, 1], 
			[992, 1], 
			[1200, 1] 
			],
			pagination: false,
			navigation: false,
			navigationText:['<i class="fa fa-angle-left"></i>','<i class="fa fa-angle-right"></i>']
		});
	});
});
</script>
<?php else :?>
<div class="box-bottom-home2 box-testimo">
  <span><?php echo __('Testimonial records not available.'); ?></span>
</div>
<?php endif; ?>