.cms-index-index {
    .verticalmenu.navigation.side-verticalmenu{
        >ul{
            border: 0;
           
        }
    }
}
.verticalmenu.navigation.side-verticalmenu{
    position: absolute;
    left: 0;
    top: 51px;
    background: #fff; 
    .our_categories{
        background-color: #4e4e4e;
        color: #fff;
        padding: 19px 30px;
        font-size: 18px;
        margin: 0;
        cursor: pointer;
    }
    > ul{         
        border: 1px solid @bordercolor;
        border-top: 0;
        li.level0{
            position: relative;
            list-style: none;
            padding: 0 30px;
            &:last-child{
                > a{
                    border-bottom: 0;
                }
            }
            .level0.submenu{
                padding: 25px 30px;
				border-radius: 0;
                .subchildmenu{
                    > li.level1{
                        > a{
                            color: #444;
                            font-size: 14px;
                            font-family: @titlefont;
                            margin-bottom: 0;
                            text-decoration: none;
                            padding-left: 0;
                            padding-bottom: 12px;
                            font-weight: 500;
                            &:hover{
                                color: @linkshover;
                                span{
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                    > li.level2{
                        a{
                            color: #666;
                            text-decoration: none;
                            padding: 3px 0;
                            line-height: 24px;
                            &:hover{
                                color: @linkshover;
                                span{
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
            > a{
                display: inline-block;
                padding: 11px 0 11px;
                border: 0;
                font-family: @bdf;
                line-height: 28px;
                text-align: left;
                border-bottom: 1px solid #f0f0f0;
                width: 100%;
                color: #666;
                margin: 0;
                text-transform: capitalize;
            }
            &.parent{
                > a{
                    &:after{
                        content: "\f105";
                        font-family: 'FontAwesome';
                        float: right;
                        line-height: 24px;
                    }
                }
            }
            &:hover{
                background: none;
                > a{
                    color: @linkshover;
                }
            }
            &:last-child{
                a{
                    border: 0;
                }
            }
            
        }
		// li.parent-ul-cat-mega-menu{
		// 	padding-right: 20px !important;
		// 	ul{
		// 		padding: 0 0 0 17px !important;
		// 		li{
		// 			list-style: circle;
		// 		}
		// 	}
		// }
        li.level0.classic{
            .level0.submenu{
                .subchildmenu{
                    > li.level1{
                        > a{
                            color: #666;
                            font-size: 14px;
                            font-family: @bdf;
                            padding-left: 0;
                            margin: 0;
                            &:hover{
                                color: @linkshover;
                                background: none;
                                span{
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    a.viewall{
        padding: 19px 30px;
        border-top: 1px solid #f0f0f0;
        margin-top: -1px;
        width: 100%;
        font-family: @otherfont;
        font-size: 13px;
        font-style: italic;
        color: #888;
        text-decoration: underline;
        display: block;
    }
}
.title-cat-mega-menu {
    border-left: 0;
    border-bottom: 0;
}