<div id="footer" class="footer-container layout2 footer">
  <div class="footer-top">
      <?php  echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('service_footer')->toHtml(); ?>
      <?php  echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_bottom_home5')->toHtml(); ?>
  </div>
  <div id="back-top" class="hidden-xs"><i class="fa fa-arrow-up"></i></div>
</div> 

<script type="text/javascript">
require([
    'jquery',
    'mage/mage',
    'rokanthemes/owl',
    'rokanthemes/mCustomScrollbar'
  ], function ($) {
    'use strict';
  $( document ).ready(function() {
    // sub-banner-slider
    $(".brand-slider .wrap-item").owlCarousel({
      items: 5,
          itemsDesktop : [1199, 4],
          itemsDesktopSmall : [991, 3],
          itemsTablet : [767, 2],
          itemsMobile : [480, 1],
          navigation : false,
           afterAction: function(el){
         this.$owlItems.removeClass('first-active')
         this.$owlItems .eq(this.currentItem).addClass('first-active')  
      }
    });
  });
});
</script>
 
