<div class="main-content-home">
	<div class="container">
		<div class="content-top4">
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6 col-sm-12 col-xs-12">
					<div class="banner-slider banner-slider4 bg-slider drop-shadow">
						<?php echo $this->getLayout()->createBlock('Rokanthemes\SlideBanner\Block\Slider')->setslider_id('homepage4slider')->toHtml(); ?>
					</div>
				</div>
				<div class="col-md-3 col-sm-12 col-xs-12">	
					<div class="list-ads4">
						<?php  echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('list_ads4')->toHtml(); ?>
					</div>
				</div>	
			</div>	
		</div>
	</div>

	<div class="container">
		<?php  echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('list_service1')->toHtml(); ?>
		
		<div class="list-product-type4">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<?php echo $block->getLayout()->createBlock('Rokanthemes\BestsellerProduct\Block\Bestseller')->setTemplate('Rokanthemes_BestsellerProduct::bestseller.phtml')->toHtml();?>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<?php echo $block->getLayout()->createBlock('Rokanthemes\Newproduct\Block\Newproduct')->setTemplate('Rokanthemes_Newproduct::newproduct.phtml')->toHtml();?>
				</div>
			</div>
		</div>
		

		<div class="product-tab4 bg-white drop-shadow">
			<div class="row">
				<?php  echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('category-productap-home1')->toHtml(); ?>
			</div>
		</div>
		<div class="latest-news4 bg-white drop-shadow">
			<?php echo $block->getLayout()->createBlock('Rokanthemes\Blog\Block\Sidebar\Recent')->setTemplate('Rokanthemes_Blog::sidebar/slider.phtml')->toHtml();?>
		</div>
		<div class="list-product-type4">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<?php echo $block->getLayout()->createBlock('Rokanthemes\Featuredpro\Block\Featured')->setTemplate('Rokanthemes_Featuredpro::featured.phtml')->toHtml();?>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<?php echo $block->getLayout()->createBlock('Rokanthemes\Onsaleproduct\Block\Onsaleproduct')->setTemplate('Rokanthemes_Onsaleproduct::onsaleproduct.phtml')->toHtml();?>
				</div>
			</div>
		</div>

		<div class="list-service4">
			<?php  echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('list_service4')->toHtml(); ?>
		</div>
		<?php  echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('list_adv1')->toHtml(); ?>
	</div>	
	<?php  echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('list_brand')->toHtml(); ?>
</div>

<script type="text/javascript">
require([
		'jquery',
		'mage/mage',
		'rokanthemes/owl',
		'rokanthemes/mCustomScrollbar'
	], function ($) {
		'use strict';
	$( document ).ready(function() {
		$('.custom-scroll').mCustomScrollbar({
			scrollButtons:{
				enable:true
			}
		});
		$("ul.tabs li").click(function() {
			$(this).closest("ul").find("li").removeClass("active");
			$(this).addClass("active");
			$(this).closest(".common-tab-system-fixed").find(".tab_content").hide();
			$(this).closest(".common-tab-system-fixed").find(".tab_content").removeClass("animate1");
			var activeTab = $(this).attr("rel");
			$("#"+activeTab) .addClass("animate1");
			$("#"+activeTab).fadeIn();
		});
		// sub-banner-slider
		$(".brand-slider .wrap-item").owlCarousel({
		  items: 5,
         	itemsDesktop : [1199, 4],
	        itemsDesktopSmall : [991, 3],
	        itemsTablet : [767, 2],
	        itemsMobile : [480, 1],
	        navigation : false,
	         afterAction: function(el){
		     this.$owlItems.removeClass('first-active')
		     this.$owlItems .eq(this.currentItem).addClass('first-active')  
		  }
		});
		$(".sub_banner_slider").owlCarousel({
		  items: 3,
         	itemsDesktop : [1199, 3],
	        itemsDesktopSmall : [991, 3],
	        itemsTablet : [767, 2],
	        itemsMobile : [480, 1],
	        navigation : true,
	         afterAction: function(el){
		     this.$owlItems.removeClass('first-active')
		     this.$owlItems .eq(this.currentItem).addClass('first-active')  
		  }
		});
		//block-home1
		$(".block-wrap-item").owlCarousel({
		  items: 1,
         	itemsDesktop : [1199, 1],
	        itemsDesktopSmall : [991, 1],
	        itemsTablet : [767, 1],
	        itemsMobile : [479, 1],
	        navigation : true,
	         afterAction: function(el){
		     this.$owlItems.removeClass('first-active')
		     this.$owlItems .eq(this.currentItem).addClass('first-active')  
		  }
		});
		//Close Service Box
		$('.close-service-box').on('click',function(event) {
			event.preventDefault();
			$('.banner-top-home').slideUp('slow');
		});
		$(".category_tab_slider").owlCarousel({
			items : 4,
			autoPlay : false,
			slideSpeed : 1000,
			navigation : true,
			stopOnHover : true,
			pagination : false,
			itemsDesktop : [1199,3],
			itemsDesktopSmall : [768,2],
			itemsTablet: [767,2],
			itemsMobile : [480,1],
			 afterAction: function(el){
		     this.$owlItems.removeClass('first-active')
		     this.$owlItems .eq(this.currentItem).addClass('first-active')  
		  }
		});
		//Category Brand
		if($('.category-brand-slider').length>0){
			$('.category-brand-slider').each(function(){
			  $(this).find('.wrap-item').owlCarousel({
				items: 1,
				itemsCustom: [
				[0, 2],
				[480, 2],
				[768, 1],
				[992, 1],
				[1200, 1]
				],
				pagination: false,
				navigation: true,
				autoPlay:true,
				navigationText:['<i class="fa fa-angle-left"></i>','<i class="fa fa-angle-right"></i>']
			  });
			});
		}
	});
});
</script>