<?php 
	use Magento\Framework\App\Action\Action;
	$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
	$category_load = $block->getCategory();
	$rows = $block->getConfig('row');
	$show_navigation = $block->getConfig('navigation');
	$show_pagination = $block->getConfig('pagination');
	if($category_load && strtotime($block->getConfig('end_date')) >= strtotime($block->getCurrentTime())){ 
		$image = 'new_products_content_widget_grid';
?>
<div class="title-deal-box2 white bg-color">
	<h2 class="title30 paci-font">Super Delas</h2>
	<h2 class="title30 text-uppercase font-bold"><?php echo $block->getConfig('title');?></h2>
</div>	
<?php $rows = 1; ?>
<div class="deal-product2">
	<div class="container">
		<div class="deal-slider2 product-slider">
			<?php 
				$newItems =  $block->getProducts();
				$i=0;
			?>
			<?php
			foreach($newItems as $_item) {
			?>
			<?php if($i % $rows==0) { ?> <div class="hot"> <?php } ?>
			<div class="item-product item-deal-product2 text-center">
				<div class="product-thumb">
					<a href="<?php /* @escapeNotVerified */ echo $_item->getProductUrl() ?>" class="product-thumb-link zoomout-thumb">
						<?php 			
						   $productImage = $block->getImage($_item, $image);
						   $productImageThumb = $block->getImage($_item, 'super_date_images_home2');
						 ?>
						 <span class="first-thumb">
							<?php echo $productImage->toHtml(); ?>
						</span>
						<span class="second-thumb">
							<?php echo $productImageThumb->toHtml(); ?>
						</span>
					</a>
					<div class="quickview-product">
						<a class="quickview-link fancybox fancybox.iframe" data-role="quickview-button" data-id="<?php echo $_item->getId(); ?>" href="javascript: void(0);" data-href="<?php echo $block->getUrl('quickview/product/quickview/id/' . $_item->getId()) ?>" title=""><i class="fa fa-search"></i>
						</a>
				    </div> 
					<div class="product-label sale-label"><?php echo $block->showLableSalePrice($_item); ?>
						</div>
				</div>
				<div class="product-info">
					<div class="product-price">
						<?php
							echo $this->helper('Rokanthemes\Superdeals\Helper\Data')->getPriceDisplayCustom($block->getProductPrice($_item));
						?>
					</div>	
					<h3 class="product-title">
						<a title="<?php echo $block->escapeHtml($_item->getName()) ?>"
						   href="<?php echo $block->getProductUrl($_item) ?>"
						   class="product-item-link">
							<?php echo $block->escapeHtml($_item->getName()) ?>
						</a>
					</h3>
					<div class="product-rate">
						<div class="product-rating">
							<?php if ($templateType): ?>
								<?php echo $block->getReviewsSummaryHtml($_item, $templateType,true); ?>
							<?php endif; ?>
						</div>
					</div>
					<div class="product-extra-link">
						<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
							<a href="#"
							   data-post='<?php echo $block->getAddToWishlistParams($_item); ?>'
							   class="wishlist-link" data-action="add-to-wishlist"
							   title="">
								<i class="fa fa-heart-o"></i><span>wishlist</span>
							</a>
						<?php endif; ?>
						<div class="actions-primary addcart-link">
						  <?php if ($_item->isSaleable()): ?>
							<?php
							  $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
							  $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()]);
							  $postParams = json_decode($postData, true);
							  ?>
							<form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
							  <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
							  <input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
							  <?php echo $block->getBlockHtml('formkey')?>
							  <button type="submit"
								  title=""
								  class="btn btn-add-to-cart">
								  <?php echo $block->escapeHtml(__('Add to Cart')); ?>
							  </button>
							</form>
						  <?php else: ?>
							<?php if ($_item->getIsSalable()): ?>
							  <div class="stock available"><span><?php echo __('In stock') ?></span></div>
							<?php else: ?>
							  <div class="stock unavailable"><span><?php echo __('Out of stock') ?></span></div>
							<?php endif; ?>
						  <?php endif; ?>
						</div>
						<?php if ($block->getAddToCompareUrl()): ?>
							<?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');?>
							<a href="#" class="compare-link"
							   data-post='<?php echo $compareHelper->getPostDataParams($_item);?>'
							   title="">
								<i class="fa fa-toggle-on"></i><span>compare</span>
							</a>
						<?php endif; ?>
					</div>
				</div>
			</div>
			<?php $i++;?>
			<?php if($i %$rows == 0) echo "</div>"; ?>
			<?php }	?>
			<?php if($i %$rows != 0) echo "</div>"; ?> 
		</div>
		
	</div>	
</div>
<div class="deal-countdown2">
	<h2 class="title18 color"><?php echo __('Deals End in:') ?></h2>
	<div class="countdown-master days-countdown">
		<div class="super-deal-countdowns" data-date="<?php echo $block->getConfig('end_date');?>"></div>
	</div>	
</div>
<script type="text/javascript">
require(["jquery", 'mage/mage','rokanthemes/timecircles', "rokanthemes/owl"], function($){
	'use strict';
    // require([
    //     'jquery',
    //     'rokanthemes/timecircles'
    // ], function ($) {
		$( document ).ready(function() {
			$(".deal-slider2.product-slider").owlCarousel({
	        items: 3,
	         	itemsDesktop : [1199, 3],
		        itemsDesktopSmall : [1024, 2],
		        itemsTablet : [768, 2],
		        itemsMobile : [680, 1],
	        navigation : false,
	         afterAction: function(el){
		     this.$owlItems.removeClass('first-active')
		     this.$owlItems .eq(this.currentItem).addClass('first-active')  
		  }
	    });

			if($('.super-deal-countdowns').length>0){
				$(".super-deal-countdowns").TimeCircles({
					fg_width: 0.01,
					bg_width: 1.2,
					text_size: 0.07,
					circle_bg_color: "#ffffff",
					time: {
						Days: {
							show: true,
							text: "Days",
							color: "#f9bc02"
						},
						Hours: {
							show: true,
							text: "Hours",
							color: "#f9bc02"
						},
						Minutes: {
							show: true,
							text: "Mins",
							color: "#f9bc02"
						},
						Seconds: {
							show: true,
							text: "Secs",
							color: "#f9bc02"
						}
					}
				}); 
			}
		});
    });
</script>
<?php } ?>