

@media (min-width: 1200px){
.products-grid ol > li:nth-of-type(3n+1) {  clear: left;} 
  
}

@media (max-width: 1199px) and (min-width: 640px){
	.products-grid ol > li:nth-of-type(3n+1) { clear: left;}
	
}
@media (max-width: 1199px){
	.item-sub-banner {  
		border-right: 0;
	}
	.owl-theme .owl-pagination { display: none; }
	.header-wrapper-sticky.enable-sticky .mini-cart { right: 0;	}
	.header-wrapper-sticky.enable-sticky .search-form2 .block-search { right: 50px; }

}
@media (max-width: 1024px){
	.header-wrapper-sticky.enable-sticky .mini-cart,
	.header-wrapper-sticky.enable-sticky .search-form2 .block-search { display: none; }
	.custommenu.navigation .level0>.level-top, .custommenu.navigation .level0>.level-top:hover { padding: 0 16px; }
	.mini-cart1 .mini-cart-link .mini-cart-icon.title18.color {right: 0;}
	.mini-cart1 .mini-cart-link .total-mini-cart-item-sticky { right: -8px; }
	.search-form2 .block-search { right: 28px; }
}

@media (max-width: 639px) and (min-width: 480px){
	.product-grid .item-inner:nth-child(3n+1){ clear: none;}
.products-grid ol > li:nth-of-type(2n+1) {clear: left;}
.products-grid ol > li{width: 50%;}   
}

@media (max-width: 479px) and (min-width: 0px){
.products-grid ol > li:nth-of-type(1n+1) {clear: left;}
.products-grid ol > li{width: 100%;}  
}
@media (max-width: 1199px){
	.bg-image{
		min-height: 330px;
	}
	.footer-container.layout2 .section-footer-top .block-social{ padding-left: 40px;}
	.header-container .header-content .main-header .top-menu{ padding-left: 50px;}
}
@media (max-width: 992px){
	.nav-open {
		.verticalmenu.navigation.side-verticalmenu{
			display:block;
			position: relative;
		}
	}
	.verticalmenu.navigation.side-verticalmenu .our_categories{
		padding:19px 10px
	}
	.verticalmenu.navigation.side-verticalmenu > ul li.level0 > a{
		padding: 10px 0;
		line-height: 33px;
	}
	
	.header-container{
		.header-content{
			.top-bar-left{
				width: 100%;
				> ul{
					> li{
						width: 50%;
					}
				}
			}
			.top-bar-right{
				width: 100%;
			    float: left;
			    border-top: 1px solid #eee;
			    > ul{
			    	> li{
			    		width: 50%;
			    	}
			    }
			}
			.main-header{
				text-align: center;
				.logo{
					float: none;
					margin-bottom: 30px;
					max-width: 100%;
					text-align: center;
					display: block;
					img{
						margin: 0 auto;
					}
				}
				.top-menu{
					padding-left: 0;
				}
			}
		}
	}	
	.banner-home-category{
		display: none;
	}
	.featured-product-category{
		width: 70%;
	}
	.header-container .header-content .top-bar-right .top-bar-menu{
		table-layout: fixed;
		width: 100%;
	}
	.link-follow{ text-align: left;}
	.footer-box{
		margin-bottom: 30px;
	}
	.footer-container.layout2 .section-footer-top .block-social{ padding-left: 70px;}
	.page-footer .footer-container .footer-copyright .payment{ text-align: center;}
	.logo-footer,
	.page-footer .footer-static-container .footer-static .footer-links h2{ margin-top: 30px;}
	.footer-newletter,
	.footer-copyright{ text-align: center;}
	.page-footer .footer-copyright .copyright{ float: none; margin-bottom: 20px; display: block;}
	.page-footer .footer-copyright .footer-payment{ float: none; text-align: center; margin-top: 20px;}
	.page-footer .footer-newletter .footer-payment{ float: none; margin-top: 20px; text-align: center;}
	.footer-primary-column-3{ clear: left;}
	.slider_left-slider .owl-theme .owl-pagination { left: 40px; right: auto;}
	.owl-theme .owl-controls .owl-buttons .owl-next{ right: 15px;}
	.owl-theme .owl-controls .owl-buttons .owl-prev{ left: 15px;}
}
@media (max-width: 992px) and (min-width: 768px){
	.search-by-cateogry{
		.chosen-container-single{
			.chosen-single{
				span{
					text-transform: capitalize;
				}
			}
		}
	}
	.header .header_main .wp-header > div .smart-search{
		padding: 0 0 0 182px ;
	}
	
}	
@media (min-width: 768px){ 
	.block-search .control {
		padding: 0;
	}
	.checkout-cart-configure .attr-info .fieldset>.field {
		margin: 0;
	}
	.checkout-cart-configure .product-social-extra {
	    margin: 10px 0 0 35px;
	}
	.actions-toolbar .primary {
		float: none;
	}
 }
 

@media (max-width: 767px){
	.nav-open .nav-sections { position: fixed; }
	.text-left, 
	.desc.copyright3 , 
	.text-right { text-align: center; } 
	.owl-theme .owl-controls {display: none;}
	.header-container .header-content .main-header .top-menu,
	.owl-theme .owl-buttons{ display: none;}
	.header-container{ text-align: center;}
	.header-container .header{ margin:0;}
	.header-container_lk{
		.header-content{
			position: static;
			z-index: 0;
		}
	}
	.logo2 { margin-bottom: 20px; }
	
	.mini-cart1 .mini-cart-link .total-mini-cart-item-sticky {
		top: 0;
	}
	.search-form2 .block-search {
		top: 12px;
		right: 33px;
	}
	.search-by-cateogry .form.minisearch .control .search-text-box{
		padding-left: 0;
	}

	.top-menu{
		position: static;
		z-index: 0;
		margin: 0 -15px;
		text-align: center;
		border-bottom: 1px solid @bordercolor;
	}
	
	.list-category-dropdown > li > a img{
		display: none;
	}
	.verticalmenu.navigation.side-verticalmenu > ul li.level0:hover > a{
		&:after{
			color: @maincolor;
		}
	}
	.verticalmenu.navigation.side-verticalmenu > ul li.level0 > a{
		&:after{
			content: "\f068";
			font-family: FontAwesome;
			position: absolute;
			right: 0;
			color: #666;
			font-size: 12px;
		}
	}
	// .nav-open .nav-sections{
	// 	z-index: 0;
	// }
	.header-container .header-content .top-bar-left ul li a,
	.header-container .header-content .top-bar-right .top-bar-menu > li .minicart-wrapper, .header-container .header-content .top-bar-right .top-bar-menu > li > a{
		display: block;
	}

	.navigation{ max-width: 100%;}
	.navigation .level0 > .level-top{
		    display: block;
	    color: #333;
	    padding: 14px 20px;
	    text-decoration: none;
	    text-transform: uppercase;
	    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	    -webkit-transition: all 0.25s ease;
	    -o-transition: all 0.25s ease;
	    transition: all 0.25s ease;
	    font-size: 14px;
	    font-weight: 700;
	    text-transform: uppercase;
	}
	.navigation .submenu:not(:first-child) ul > li a{
		text-transform: none;
		font-family: @bdf;
	}
	.navigation .level0.active > .level-top, .navigation .level0.has-active > .level-top, .navigation .level0 > .level-top:hover{
		border-bottom: 1px solid rgba(0, 0, 0, 0.05)
	}
	.navigation li.level0:last-child{ border: 0;}
	.nav-sections{ width: 250px;}
	.navigation li.level0{ margin-right: 0; border: 0;}
	.navigation{ padding: 0; float: none;}
	.navigation .parent .level-top:after{
		font-family: FontAwesome;
		content: "\f107";
		color: #333;
		font-size: 14px;
		float: right;
		position: static;
	}
	.navigation .parent .level-top.ui-state-active:after{ content: "\f105"}
	.navigation .level0 .submenu{ box-shadow: none; padding-top: 0;}
	.navigation .level0 .submenu a{
		font-size: 12px;
		text-transform: uppercase;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.custommenu.navigation li.ui-menu-item{
		display: block;
	}
	.custommenu.navigation li.level0.fullwidth > .submenu{
		padding: 0;
	}
	.custommenu.navigation li.ui-menu-item > a{
		text-align: left;
	}

	.verticalmenu.navigation.side-verticalmenu{
		> ul{
			li.level0{
				display: block;
				.level0.submenu{
					padding: 0;
				}
			}
		}
	}
	
	.catalog-product-view .column.main{ width: 100%;}
	.static-banner a{ display: block;}
	
	.page-footer .footer-static-container .footer-static .footer-links.contacts .title{
		display: block;
	}
	.page-footer .footer-static-container .footer-static .footer-links .title{
		position: relative;
	}
	.page-footer .footer-static-container .footer-static .footer-links .title:before{
		display: none;
		
	}
	.page-footer .footer-static-container .footer-static .footer-links .title{
		padding-bottom: 0;
		margin-bottom: 0;
	}
	.page-footer .footer-static-container .footer-static .footer-links .title.clicked{
		padding-bottom: 20px;
		margin-bottom: 30px;
	}
	.page-footer .footer-static-container .footer-static .footer-links .title.clicked:before{
		display: block;
	}
	.page-footer .footer-static-container .footer-static .footer-links .title:after{
		content: "\f067";
		font-family: FontAwesome;
	    font-size: 12px;
	    float: right;
	    line-height: 30px;
        width: 30px;
	    height: 30px;
	    text-align: center;
	    color: #333333;
	    background: #eeeeee;
	    cursor: pointer;
	}
	.page-footer .footer-static-container .footer-static .footer-links .title:hover:after{
		background: @maincolor;
		color: #fff;
	}
	
	
}
@media only screen and (max-width: 639px){
	.block-search {
		margin-top: 0;
	}
	.header-container_lk .header-content {
		.top-header .top-bar-left {
			width: 100%;
			display: inline-block;
			float: none;text-align: center;
			.sub-menu-top li {
				float: none;
				a {
					border-right: 0;
					padding: 0 10px;
				}
			}
		}
		.top-header{
			.top-bar-right{
			    width: 100%;
				float: none;
			    text-align: center;
				.top-info{
					> li{
						border-left: 0;
						padding: 0;
						margin-left: 0;
					}
				}
			}
		}
		.header-main{
			text-align: center;
			> .row{
				> div{
					width: 100%;
					.logo{
						float: none;
						img{
							display: inline-block;
							margin-bottom: 15px;
						}
					}
					.mini-cart{
						width: 80%;
					}
				}
			}
		}
	}
	.title-box1 .list-none li {
		display: block;
	}

}
@media (max-width: 480px){
	
	.block.newsletter .content{ padding: 30px; padding-top: 80px;}
	.block.newsletter .content .actions .action.subscribe{ float: left; }
	.header-container .header .block-search .block-content .dropdown .dropdown-menu{ width: 270px;}
	.header-container .header-content .top-bar-right .top-bar-menu > li .minicart-wrapper, .header-container .header-content .top-bar-right .top-bar-menu > li > a{
		padding: 20px;
	}
	.header-container .header-content .top-bar-left .form-search-wapper,
	.header-container .header-content .top-bar-left .logo{
		width: 100%;
		display: block;
		overflow: hidden;
	}
	.banner-box1 .banner-box {
		width: 100%;
	}
	.item-product.item-product-list .product-info {
		padding: 10px;
	}
	.review-form>div {
		padding-left: 0;
	}
}
@media (max-width: 375px){
	.container {
		.attr-info .addcart-link {
			margin: 0;
		}
		.product-social-extra {
			margin: 10px 0 0 0;
		}
	}
	.fieldset > .legend {
		float: none;
	}
}