<?php 
	$swatchData = $block->getSwatchData();
	$attribute_code_selected = ($block->getRequest()->getParam($swatchData['attribute_code'])) ? $block->getRequest()->getParam($swatchData['attribute_code']) : 0;
?>
<div class="swatch-attribute swatch-attribute-cusmtom-style swatch-layered <?php /* @escapeNotVerified */ echo $swatchData['attribute_code'] ?>"
     data-attribute-code="<?php /* @escapeNotVerified */ echo $swatchData['attribute_code'] ?>" data-attribute-id="<?php /* @escapeNotVerified */ echo $swatchData['attribute_id'] ?>">
    <div class="swatch-attribute-options clearfix">
        <?php foreach ($swatchData['options'] as $option => $label): ?>
            <a href="<?php /* @escapeNotVerified */ echo $label['link'] ?>" class="swatch-option-link-layered">
                <?php if (isset($swatchData['swatches'][$option]['type'])) { ?>
                    <?php switch ($swatchData['swatches'][$option]['type']) {
                        case '3':
                            ?>
                            <div class="swatch-option <?php /* @escapeNotVerified */ echo $label['custom_style'] ?>"
                                 data-option-type="3"
                                 data-option-id="<?php /* @escapeNotVerified */ echo $option ?>"
                                 data-option-label="<?php /* @escapeNotVerified */ echo $label['label'] ?>"
                                 data-option-tooltip-thumb=""
                                 data-option-tooltip-value=""
                                ><?php echo ($attribute_code_selected == $option && $attribute_code_selected > 0) ? '<span class="active"></span>' : '';?></div>
                            <?php    break;
                        case '2':
                            ?>
                            <?php $swatchThumbPath = $block->getSwatchPath('swatch_thumb',
                            $swatchData['swatches'][$option]['value']); ?>
                            <?php $swatchImagePath = $block->getSwatchPath('swatch_image',
                            $swatchData['swatches'][$option]['value']); ?>
                            <div class="swatch-option image <?php /* @escapeNotVerified */ echo $label['custom_style'] ?>"
                                 data-option-type="2"
                                 data-option-id="<?php /* @escapeNotVerified */ echo $option ?>"
                                 data-option-label="<?php /* @escapeNotVerified */ echo $label['label'] ?>"
                                 data-option-tooltip-thumb="<?php /* @escapeNotVerified */ echo $swatchThumbPath ?>"
                                 data-option-tooltip-value=""
                                 style="background: url(<?php /* @escapeNotVerified */ echo $swatchImagePath ?>) no-repeat center; background-size: initial;"><?php echo ($attribute_code_selected == $option && $attribute_code_selected > 0) ? '<span class="active"></span>' : '';?></div>
                            <?php    break;
                        case '1':
                            ?>
                            <div class="swatch-option color <?php /* @escapeNotVerified */ echo $label['custom_style'] ?>"
                                 data-option-type="1"
                                 data-option-id="<?php /* @escapeNotVerified */ echo $option ?>"
                                 data-option-label="<?php /* @escapeNotVerified */ echo $label['label'] ?>"
                                 data-option-tooltip-thumb=""
                                 data-option-tooltip-value="<?php /* @escapeNotVerified */ echo $swatchData['swatches'][$option]['value'] ?>"
                                 style="background: <?php /* @escapeNotVerified */ echo $swatchData['swatches'][$option]['value'] ?> no-repeat center; background-size: initial;"><?php echo ($attribute_code_selected == $option && $attribute_code_selected > 0) ? '<span class="active"></span>' : '';?></div>
                            <?php    break;
                        case '0':
                        default:
                            ?>
                                <div class="swatch-option text <?php /* @escapeNotVerified */ echo $label['custom_style'] ?>"
                                     data-option-type="0"
                                     data-option-id="<?php /* @escapeNotVerified */ echo $option ?>"
                                     data-option-label="<?php /* @escapeNotVerified */ echo $label['label'] ?>"
                                     data-option-tooltip-thumb=""
                                     data-option-tooltip-value=""
                                    ><?php /* @escapeNotVerified */ echo $swatchData['swatches'][$option]['value'] ?><?php echo ($attribute_code_selected == $option && $attribute_code_selected > 0) ? '<span class="active"></span>' : '';?></div>
                            <?php    break;
                    } ?>
                <?php } ?>
            </a>
        <?php endforeach; ?>
    </div>
</div>

<script>
    require(["jquery", "jquery/ui", "Magento_Swatches/js/swatch-renderer"], function ($) {
        $('.swatch-layered.<?php /* @escapeNotVerified */ echo $swatchData['attribute_code'] ?>')
            .find('[option-type="1"], [option-type="2"], [option-type="0"], [option-type="3"]')
            .SwatchRendererTooltip();
    });
</script>