.newsletterpopup {
	top: 210px !important;
	position: fixed !important;
}
#newsletter_pop_up {
    background: #F6F5F2 none repeat scroll 0 0;
    width: 600px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    text-align: center;
    display: none;
    padding: 90px 100px;
    border-radius: 4px;
    background-size: 100% 100%;
    position: relative;
	.newletter_popup_close{
	    background: #fff none repeat scroll 0 0;
		color: #f40;
		display: block;
		height: 30px;
		line-height: 30px;
		position: absolute;
		right: -15px;
		text-align: center;
		top: -15px;
		border-radius: 50px;
		width: 30px;
		z-index: 999;
	    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
		span{
			&:before{
				content: "\f00d";
				font-family: FontAwesome;
				color: #555;
				font-size: 15px;
				line-height: 15px;
			}
			&:hover:before {
				color: @linkshover;
			}
		}
	}
	
	.content-popup input[type="email"]{
		background: #fff none repeat scroll 0 0;
	    border: 1px solid #e5e5e5;
	    border-radius: 4px;
	    color: #999;
	    display: block;
	    font-size: 18px;
	    height: 50px;
	    margin: 0 0 16px;
	    padding: 0 10px;
	    text-align: center;
	    width: 100%;
	}
	.content-popup button[type="submit"]{
		    border-width: 0 0 3px;
		    display: block;
		    width: 100%;
		    margin-bottom: 15px;
		    border-radius: 4px;
		    height: 50px;
		    line-height: 50px;
		    color: #fff;
		    border: none;
		    padding: 0;
		    transition: all 0.5s ease-out 0s;
		    -webkit-transition: all 0.5s ease-out 0s;
		    span {
		    	font-size: 24px;
		    	font-weight: 700;
		    	text-transform: uppercase;
		    	line-height: 48px;
		    }
	}
	.content-popup .subscribe-bottom input{
		margin-top: -4px;
	}
	.content-popup .subscribe-bottom label{
		margin-left: 10px;
		cursor: pointer;
		font-size: 14px;
	}
}
div.mage-error[generated] {
	color: @bkg;
	margin-top: -15px;
}

@media(max-width: 767px){
	.b-modal.__b-popup1__,
	#newsletter_pop_up{
		display: none !important;
	}
}
