<?php 
	use Magento\Framework\App\Action\Action;
	$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
	$category_load = $block->getCategory();
	$rows = $block->getConfig('row');
	$show_navigation = $block->getConfig('navigation');
	$show_pagination = $block->getConfig('pagination');
	if($category_load && strtotime($block->getConfig('end_date')) >= strtotime($block->getCurrentTime())){ 
		$image = 'new_products_content_widget_grid';
?>
<h2 class="title30 text-uppercase font-bold"><?php echo $block->getConfig('title');?></h2>
<?php $rows = 5; ?>
	<div class="deal-slider5 product-slider">
		<?php 
			$newItems =  $block->getProducts();
			$i=0;
		?>
		<?php
		foreach($newItems as $_item) {
		?>
		<?php if($i % $rows==0) { ?> <div class="hot"> <?php } ?>
		<div class="item-deal-product5">
			<div class="product-thumb">
				<a href="<?php /* @escapeNotVerified */ echo $_item->getProductUrl() ?>" class="product-thumb-link zoomout-thumb">
					<?php 			
					   $productImage = $block->getImage($_item, $image);
					   $productImageThumb = $block->getImage($_item, 'super_date_images_home2');
					 ?>
					 <span class="first-thumb">
						<?php echo $productImage->toHtml(); ?>
					</span>
					<span class="second-thumb">
						<?php echo $productImageThumb->toHtml(); ?>
					</span>
				</a>
				<div class="quickview-product">
					<a class="quickview-link fancybox fancybox.iframe" data-role="quickview-button" data-id="<?php echo $_item->getId(); ?>" href="javascript: void(0);" data-href="<?php echo $block->getUrl('quickview/product/quickview/id/' . $_item->getId()) ?>" title=""><i class="fa fa-search"></i>
					</a>
			    </div> 
				<div class="product-label sale-label"><?php echo $block->showLableSalePrice($_item); ?>
					</div>
			</div>
			<div class="product-info text-center">
				<div class="product-price">
					<?php
						echo $this->helper('Rokanthemes\Superdeals\Helper\Data')->getPriceDisplayCustom($block->getProductPrice($_item));
					?>
				</div>								
			</div>
		</div>
		<?php $i++;?>
		<?php if($i %$rows == 0) echo "</div>"; ?>
		<?php }	?>
		<?php if($i %$rows != 0) echo "</div>"; ?> 
	</div>
<script type="text/javascript">
require(["jquery", 'mage/mage','rokanthemes/timecircles', "rokanthemes/owl"], function($){
	'use strict';
    // require([
    //     'jquery',
    //     'rokanthemes/timecircles'
    // ], function ($) {
		$( document ).ready(function() {
			$(".deal-slider5.product-slider").owlCarousel({
	        items: 1,
	         	itemsDesktop : [1199, 1],
		        itemsDesktopSmall : [1024, 1],
		        itemsTablet : [768, 1],
		        itemsMobile : [680, 1],
	        navigation : false,
	         afterAction: function(el){
		     this.$owlItems.removeClass('first-active')
		     this.$owlItems .eq(this.currentItem).addClass('first-active')  
		  }
	    });

			if($('.super-deal-countdowns').length>0){
				$(".super-deal-countdowns").TimeCircles({
					fg_width: 0.01,
					bg_width: 1.2,
					text_size: 0.07,
					circle_bg_color: "#ffffff",
					time: {
						Days: {
							show: true,
							text: "Days",
							color: "#f9bc02"
						},
						Hours: {
							show: true,
							text: "Hours",
							color: "#f9bc02"
						},
						Minutes: {
							show: true,
							text: "Mins",
							color: "#f9bc02"
						},
						Seconds: {
							show: true,
							text: "Secs",
							color: "#f9bc02"
						}
					}
				}); 
			}
		});
    });
</script>
<?php } ?>