<div id="footer" class="footer-container layout2 footer">
  <div class="footer">
    <div class="main-footer">
      <div class="container">
        <?php echo $this->getChildHtml("footer_payment"); ?>
   
        <?php  echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('social_payment')->toHtml(); ?>
      </div>
    </div>
    <div class="bottom-fotter">
      <div class="container">
        <?php  echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_copyright')->toHtml(); ?>
      </div>
    </div>
  </div>
  <div id="back-top" class="hidden-xs"><i class="fa fa-arrow-up"></i></div>
</div> 

