/*----------------------------------
Project: Fruit Shop
Version: 1.1
Last change: 04/25/2017
Author:	7UP Theme
Author URI: https://7uptheme.com/
1.Home 1
2.Home 2
3.Home 3
4.Home 4
5.Home 5
6.Shop
7.Product
8.Blog
9.Page
-----------------------------------*/
/* General */
body {
    color: #333;
	font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: inherit;
    margin: 0;
    padding: 0;
	font-weight:400;
}
.wrap{
	overflow:hidden;
	position:relative;
}
*{	
	box-sizing:border-box;
	outline:none;
}
img{
	max-width:100%;
}
a{
	color:#555;
	.transition;
}
a:hover,a:focus{
	text-decoration:none;
	outline:none;
}
.container {
    max-width: 1200px;
	position:relative;
    width: 100%;
}
input,input:focus,input:hover{
	outline:none;
}
/*Begin Class*/
.border{
	border:1px solid #e5e5e5;
}
.border-none{
	border:none!important;
}
.no-margin{
	margin:0!important;
}
.border-left{
	border-left:1px solid #e5e5e5;
}
.border-right{
	border-right:1px solid #e5e5e5;
}
.border-top{
	border-top:1px solid #e5e5e5;
}
.border-bottom{
	border-bottom:1px solid #e5e5e5;
}
.transition{
	transition:all 0.5s ease-out 0s;
	-webkit-transition:all 0.5s ease-out 0s;
}
.radius4{
	border-radius:4px;
}
.radius6{
	border-radius:6px;
}
.drop-shadow{
	box-shadow:0 5px 10px 0 rgba(0,0,0,0.05);
}
.round{
	border-radius:50%;
}
.desc {
    color: #555;
    margin: 0;
	line-height:24px;
}
.white{
	color:#fff;
}
.black{
	color:#333;
}
.silver{
	color:#999;
}
.list-none, .silver {
	.silver{
		color:#999;
		&:hover {
			color: @linkshover;
		}
	}
}
.smoke{
	color:#ccc;
}
.bg-white{
	background:#fff;
}
.title14{
	margin:0;
	font-size:14px;
}
.title12{
	&:extend(.title14);
	font-size:12px;
}
.title16{
	&:extend(.title14);
	font-size:16px;
}
.title18{
	&:extend(.title14);
	font-size:18px;
}
.title24{
	&:extend(.title14);
	font-size:24px;
}
.title30{
	&:extend(.title14);
	font-size:30px;
} 
.title40{
	&:extend(.title14);
	font-size:40px;
} 
.title48{
	&:extend(.title14);
	font-size:48px;
} 
.title60{
	&:extend(.title14);
	font-size:60px;
}
.title90{
	&:extend(.title14);
	font-size:90px;
}
.title120{
	&:extend(.title14);
	font-size:120px;
}
.title100{
	&:extend(.title14);
	font-size:100px;
}
.vibes-font{
	font-family: 'Great Vibes', cursive;
	font-weight:400;
	text-transform:inherit;
}
.link-btn{
	display:inline-block;
	height:40px;
	line-height:40px;
	padding:0 20px;
	.transition;
}
.font-bold{
	font-weight:700;
}
.font-light{
	font-weight:300;
}
.absolute{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	content:"";
}
.inline-block{
	display:inline-block;
	vertical-align:top;
}
.list-none{
	list-style:none;
	margin:0;
	padding:0;
}
.list-inline-block{
	margin:0;
	padding:0;
	list-style:none;
}
.list-inline-block>li{
	display:inline-block;
	vertical-align:top;
}
div.table{
	display:table;
	margin:0;
	width:100%;
}
div.table>div{
	display:table-cell;
	vertical-align:top;
}
/*End Class*/
/*Begin Owl Carousel*/
.wrap-item > div:not(:first-child){
    display: none;
}
.owl-theme .owl-controls{
	margin:0;
}
.owl-theme .owl-controls .owl-buttons div{
	width:30px;
	height:30px;
	opacity:1;
	padding:0;
	margin:-15px 0 0;
	border-radius:50%;
	background:#fff;
	border:1px solid #e5e5e5;
	color:#c5c5c5;
	font-size:20px;
	position:absolute;
	top:50%;
	z-index:9;
	.transition;
}
.owl-theme .owl-controls .owl-buttons div:hover{
	color:#fff;
}
.owl-theme .owl-controls .owl-buttons div i::before{
	line-height:30px;
}
.banner-slider .owl-theme .owl-controls .owl-buttons div {
    height: 56px;
    width: 56px;
    margin: -28px 0 0;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 30px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05) inset;
    color: #fff;
}
.banner-slider .owl-theme .owl-controls .owl-buttons div i::before{
	line-height:56px;
}
.banner-slider .owl-theme .owl-controls .owl-buttons div.owl-prev{
	left:-60px;
	opacity:0;
}
.banner-slider .owl-theme .owl-controls .owl-buttons div.owl-next{
	right:-60px;
	opacity:0;
}
.banner-slider:hover .owl-theme .owl-controls .owl-buttons div.owl-prev{
	left:15px;
	opacity:1;
}
.banner-slider:hover .owl-theme .owl-controls .owl-buttons div.owl-next{
	right:15px;
	opacity:1;
}
.owl-theme .owl-controls .owl-buttons div.owl-prev{
	left:0;
}
.owl-theme .owl-controls .owl-buttons div.owl-next{
	right:0;
}
.banner-slider{
	position:relative;
	overflow:hidden;
}
.owl-theme .owl-controls .owl-page {
    vertical-align: middle;
}
.owl-theme .owl-controls .owl-page span{
	background:#e5e5e5;
	margin:0 5px;
	width:10px;
	height:10px;
	border-radius:50%;
	opacity:1;
	position:relative;
	.transition;
}
.banner-slider.bg-slider .item-slider {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
.banner-slider .item-slider {
    position: relative;
}
.banner-slider.bg-slider .banner-thumb img {
    max-width: none;
    opacity: 0;
    width: auto;
}
.group-navi .owl-buttons {
    position: absolute;
    right: 15px;
    top: -40px;
    width: 63px;
}
.banner-slider .banner-thumb img {
    width: 100%;
}
.banner-slider .banner-info {
    height: 200px;
}
.banner_item { position: relative; }
.banner-info.animated {
	-webkit-animation: zoomIn 4000ms ease-in-out;
    -moz-animation: zoomIn 4000ms ease-in-out;
    -ms-animation: zoomIn 4000ms ease-in-out;
    animation: zoomIn 4000ms ease-in-out;
}
.banner_item {
	.slide-banner-info {
	    position: absolute;
	    left: 0;
	    right: 0;
	    top: 55%;
	    margin: auto;
		z-index:9;
		-moz-transform: translateY(-55%);
		-webkit-transform: translateY(-55%);
		-o-transform: translateY(-55%);
		-ms-transform: translateY(-55%);
		transform: translateY(-55%);
		.title30 {
			position: absolute;
		    top: -80px;
		    right: 0;
		    left: 0;
		    -webkit-animation: bounceIn 2500ms ease-in-out;
		    -moz-animation: bounceIn 2500ms ease-in-out;
		    -ms-animation: bounceIn 2500ms ease-in-out;
		    animation: bounceIn 2500ms ease-in-out;
		}
		.title120 {
			color: #f8ff09;
			-webkit-animation: bounceIn 2500ms ease-in-out;
			-moz-animation: bounceIn 2500ms ease-in-out;
			-ms-animation: bounceIn 2500ms ease-in-out;
			animation: bounceIn 2500ms ease-in-out;
		}
		.title18 {
			position: absolute;
		    top: 75px;
		    right: 0;
		    left: 0;
			-webkit-animation: bounceIn 2500ms ease-in-out;
			-moz-animation: bounceIn 2500ms ease-in-out;
			-ms-animation: bounceIn 2500ms ease-in-out;
			animation: bounceIn 2500ms ease-in-out;
		}
		.btn-shopnow {
			position: absolute;
		    top: 120px;
		    right: 0;
		    left: 0;
		    .btn-arrow.white {
			border-radius: 0;
		    }
		}
	}
}

.banner-info {
	bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
}


.banner-info-image {
    position: absolute;
    right: 0;
    top: 0;
}
.banner-info-text {
	top:50%;
	height:200px;
	margin:-100px 0 0;
	z-index:9;
	left:0;
	position:absolute;
}
/*End Owl Carousel*/
/*Begin Custom Scroll*/
.mCSB_scrollTools .mCSB_buttonUp, .mCSB_scrollTools .mCSB_buttonDown{
	display:none;
}
.mCSB_container {
    margin-right: 0;
}
.mCustomScrollBox > .mCSB_scrollTools {
    width: 4px;
}
/*End Custom Scroll*/
/*Begin Line White*/
.line-white{
	position:relative;
}
.line-white::after{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	width:2px;
	content:"";
	background:#fff;
}
/*End Line White*/
/*Begin Box Hover Dir*/
.box-hover-dir {
    overflow: hidden;
    position: relative;
	cursor:all-scroll;
}
.box-hover-dir>div{
	height: 100%;
    position: absolute;
    width: 100%;
	transition:all 0.5s ease-out 0s!important;
	-webkit-transition:all 0.5s ease-out 0s!important;
}
/*End Box Hover Dir*/
/*Begin Banner Adv*/
.banner-adv {
    position: relative;
}
.adv-thumb-link {
    display: block;
    overflow: hidden;
    position: relative;
}
.adv-thumb-link > img {
    display: block;
    width: 100%;
	.transition;
}
/*Zoom Rotate*/
.zoom-rotate .adv-thumb-link > img {
	transform:scale(1) rotate(0);
	-webkit-transform:scale(1) rotate(0);
}
.zoom-rotate:hover .adv-thumb-link > img {
	transform:scale(1.15) rotate(4deg);
	-webkit-transform:scale(1.15) rotate(4deg);
}
/*Zoom Image*/
.zoom-image:hover .adv-thumb-link > img {
	transform:scale(1.15);
	-webkit-transform:scale(1.15);
}
/*Fade Out In*/
.fade-out-in .adv-thumb-link::before{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	content:"";
	background:rgba(0,0,0,0.1);
	opacity:0;
	z-index:1;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -ms-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
}
.fade-out-in .adv-thumb-link::after{
	&:extend(.fade-out-in .adv-thumb-link::before);
}
.fade-out-in:hover .adv-thumb-link::before{
	opacity:1;
	top:50%;
	bottom:50%;
}
.fade-out-in:hover .adv-thumb-link::after{
	opacity:1;
	left:50%;
	right:50%;
}
/*Fade In Out*/
.fade-in-out .adv-thumb-link::before{
	&:extend(.fade-out-in .adv-thumb-link::before);
	opacity:1;
	top:50%;
	bottom:50%;
}
.fade-in-out .adv-thumb-link::after{
	&:extend(.fade-out-in .adv-thumb-link::before);
	opacity:1;
	left:50%;
	right:50%;
}
.fade-in-out:hover .adv-thumb-link::before{
	opacity:0;
	top:0;
	bottom:0;
}
.fade-in-out:hover .adv-thumb-link::after{
	opacity:0;
	left:0;
	right:0;
}
/*Overlay Image*/
.overlay-image .adv-thumb-link::after{
	&:extend(.fade-out-in .adv-thumb-link::before);
	background:rgba(0,0,0,0.3);
}
.overlay-image:hover .adv-thumb-link::after{
	opacity:1;
}
/*Blue Image*/
.blur-image:hover .adv-thumb-link img{
	filter:blur(5px);
	-webkit-filter:blur(5px);
}
/*Gray Image*/
.gray-image:hover .adv-thumb-link img{
	-webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
/*Zoom Out*/
.zoom-out .adv-thumb-link img:last-child{
	position:absolute;
	top:0;
	left:0;
	opacity:0;
	visibility:hidden;
	transform:scale(3);
	-webkit-transform:scale(3);
}
.zoom-out:hover .adv-thumb-link img{
	opacity:1;
	visibility:visible;
	transform:scale(1);
	-webkit-transform:scale(1);
}
/*Line Scale*/
.line-scale .adv-thumb-link::before{
	position:absolute;
	top:20px;
	bottom:20px;
	left:10px;
	right:10px;
	content:"";
	border-top:1px solid fade(#fff,90%);
	border-bottom:1px solid fade(#fff,90%);
	z-index:1;
	transform:scaleX(0);
	-webkit-transform:scaleX(0);
	.transition;
}
.line-scale .adv-thumb-link::after{
	position:absolute;
	top:10px;
	bottom:10px;
	left:20px;
	right:20px;
	content:"";
	border-left:1px solid fade(#fff,90%);
	border-right:1px solid fade(#fff,90%);
	z-index:1;
	transform:scaleY(0);
	-webkit-transform:scaleY(0);
	.transition;
}
.line-scale:hover .adv-thumb-link::before,
.line-scale:hover .adv-thumb-link::after{
	transform:scale(1);
	-webkit-transform:scale(1);
}
/*End Banner Adv*/
/*******************************************************************************************************
										Preview	Menu				
********************************************************************************************************/
.main-nav > ul > li .sub-menu > li.menu-item-preview {
    position: relative;
}
.main-nav > ul > li .sub-menu > li.menu-item-preview > .preview-image {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
    left: 100%;
    padding: 10px;
    position: absolute;
    top: 0;
    width: 200px;
	opacity:0;
	visibility:hidden;
	margin-top:30px;
	.border;
	.transition;
}
.main-nav > ul > li .sub-menu > li.menu-item-preview:hover > .preview-image {
	opacity:1;
	visibility:visible;
	margin-top:0;
}
.main-nav > ul > li .sub-menu > li.menu-item-preview > .preview-image > a {
    display: block;
    height: 200px;
    overflow: hidden;
    position: relative;
}
.main-nav > ul > li .sub-menu > li.menu-item-preview > .preview-image > a > img {
    left: 0;
    position: absolute;
    top: 0;
    transition: all 5s ease-in-out 0s;
    -webkit-transition: all 5s ease-in-out 0s;
    width: 100%;
}
.main-nav > ul > li .sub-menu > li.menu-item-preview > .preview-image > a:hover > img {
    top: 100%;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
}
/*Begin Header On Top*/
.header-ontop {
	.transition;
}
.header-ontop.fixed-ontop {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    visibility: visible;
    width: 100%;
    z-index: 999!important;
	padding:10px 0;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
    left: 0;
    position: fixed!important;
    top: 0;
}
/*End Header On Top*/
/*Begin Main Nav*/
.main-nav {
    position: relative;
    // z-index: 1001;
}
.main-nav > ul {
    font-size: 0;
    list-style: outside none none;
    padding: 0;
	margin:0;
    position: relative;
}
.main-nav > ul > li {
    display: inline-block;
    font-size: 14px;
	vertical-align:top;
}
.main-nav > ul > li > a {
    color: #333;
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
	font-weight:700;
    padding: 0 15px;
    position: relative;
    text-transform: uppercase;
}
.main-nav > ul > li.menu-item-has-children > a::after,
.main-nav > ul > li.has-mega-menu > a::after{
	content:"\f107";
	font-family:fontAwesome;
	margin-left:5px;
	font-weight:400;
}
.main-nav li.menu-item-has-children{
	position:relative;
}
.main-nav li.menu-item-has-children:hover > .sub-menu {
    margin:0;
    opacity: 1;
    visibility: visible;
}
.main-nav .sub-menu {
    background: #fff none repeat scroll 0 0;
	box-shadow:0 5px 5px 0 rgba(0,0,0,0.1);
    left: 0;
    list-style: outside none none;
    margin: 30px 0 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    visibility: hidden;
    width: 200px;
    z-index: 999;
	text-align:left;
	.transition;
}
.main-nav > ul > li .sub-menu > li {
    padding: 0 20px;
}
.main-nav > ul > li .sub-menu > li > a {
    border-top: 1px solid #e5e5e5;
    display: block;
    padding: 10px 0;
    position: relative;
    text-transform: capitalize;
}
.main-nav > ul > li .sub-menu > li:first-child > a {
    border:none;
}
.main-nav > ul > li .sub-menu > li.menu-item-has-children > a {
    padding-right: 10px;
    position: relative;
}
.main-nav > ul > li .sub-menu > li.menu-item-has-children > a::after {
    content: "";
    font-family: "fontAwesome";
    position: absolute;
    right: 0;
    top: 11px;
}
.main-nav > ul > li.menu-item-has-children li.menu-item-has-children > .sub-menu {
    left: 100%;
    top: 0;
}
li.menu-item-has-children.has-mega-menu >.sub-menu {
    width: 1170px;
}
.main-nav > ul >li.menu-item-has-children.has-mega-menu{
	position:static;
}
.has-mega-menu .mega-menu {
    padding: 30px 10px 0;
}
.mega-menu-title {
    margin-bottom: 20px;
}
.mega-adv-info .title24 {
    margin: 15px 0 13px;
}
.sub-menu,.cat-mega-menu{
    pointer-events:none;
}
li.has-cat-mega:hover>.cat-mega-menu,
li.menu-item-has-children:hover>.sub-menu{
    pointer-events: inherit;
}
.main-nav .btn-toggle-mobile-menu{
	display:none;
}
/*End Main Nav*/
/*Begin Toggle Mobile Menu*/
// .main-nav .toggle-mobile-menu {
//     display: none;
//     height: 30px;
//     width: 30px;
// 	position:relative;
// 	.transition;
// }
// .main-nav .toggle-mobile-menu span{
//     position: absolute;
//     width: 100%;
//     height: 4px;
//     left: 0;
//     top: 50%;
// }
// .main-nav .toggle-mobile-menu::before, 
// .main-nav .toggle-mobile-menu::after {
//     content: '';
//     position: absolute;
//     top: 0;
//     height: 4px;
//     width: 100%;
//     left: 0;
//     top: 50%;
//     -webkit-transform-origin: 50% 50%;
//     -ms-transform-origin: 50% 50%;
//     transform-origin: 50% 50%;
// }
// .main-nav .toggle-mobile-menu::before {
//     -webkit-transform: translate3d(0,-10px,0);
//     transform: translate3d(0,-10px,0);
// }
// .main-nav .toggle-mobile-menu::after {
//     -webkit-transform: translate3d(0,10px,0);
//     transform: translate3d(0,10px,0);
// }
// .main-nav.active .toggle-mobile-menu::before {
//     -webkit-transform: rotate3d(0,0,1,45deg);
//     transform: rotate3d(0,0,1,45deg);
// }
// .main-nav.active .toggle-mobile-menu::after {
//     -webkit-transform: rotate3d(0,0,1,-45deg);
//     transform: rotate3d(0,0,1,-45deg);
// }
// .main-nav.active .toggle-mobile-menu span{
// 	display:none;
// }
/*End Toggle Mobile Menu*/
/*Begin Menu Responsive*/
// @media (max-width: 767px){
// .main-nav .btn-toggle-mobile-menu{
// 	display:block;
// }
// .main-nav .menu-item-has-children .sub-menu li > a {
//     border-bottom: none;
// }
// .main-nav .toggle-mobile-menu {
//     display: block;
// }
// .main-nav .sub-menu {
//     background: #fff none repeat scroll 0 0;
//     box-shadow: none;
//     display: none;
//     margin: 0!important;
//     opacity: 1!important;
//     visibility: visible!important;
// 	position:static!important;
// 	box-shadow:0 3px 3px 0 rgba(0, 0, 0, 0.1)!important;
//     border: 1px solid #f9f9f9;
// }
// .main-nav > ul > li > a::before{
// 	display:none!important;
// }	
// .main-nav > ul > li > a{
// 	color:#333!important;
// 	font-weight:400!important;
// }
// .main-nav {
// 	margin:0;
// }
// .main-nav > ul {
//     position: absolute;
//     left: 0;
//     top: 100%;
//     width: 290px;
//     z-index: 999;
//     background: #fff;
//     box-shadow:0 5px 5px 0 rgba(0, 0, 0, 0.1);
// 	transition:all 0.5s ease-out 0s;
// 	-webkit-transition:all 0.5s ease-out 0s;
// 	transform:translateX(-320px);
// 	-webkit-transform:translateX(-320px);
// }
// .main-nav.active > ul{
// 	transform:translateX(0)!important;
// 	-webkit-transform:translateX(0)!important;
// }
// .main-nav > ul > li {
//     display: block;
//     margin: 0 15px !important;
//     padding: 0!important;
// }
// .main-nav .sub-menu li a::before{
// 	display:none;
// }
// .main-nav > ul li > a {
//     border-top: 1px solid #e5e5e5;
//     display: block;
//     font-size: 14px;
//     font-weight: 400;
//     height: auto !important;
//     line-height: inherit !important;
//     padding: 10px 0!important;
// }
// .main-nav > ul  li:first-child > a {
//     border: medium none;
// }
// .main-nav .sub-menu > li {
//     padding: 0px!important;
// 	margin:0 15px;
// }
// .main-nav > ul li.menu-item-has-children .menu-item-has-children > a::after {
//     right: 0;
//     top: 0;
// }
// .main-nav > ul > li.menu-item-has-children > a::after {
//     content: "\f107";
//     font-family: fontawesome;
// }
// .main-nav > ul > li .sub-menu::after {
//     display: none;
// }
// .main-nav > ul > li .sub-menu {
//     display: none;
//     width: 100%;
// 	box-shadow:0 3px 3px 0 rgba(0, 0, 0, 0.1);
// 	padding:0;
// }
// .main-nav > ul > li.menu-item-has-children li.menu-item-has-children>.sub-menu{
// 	left:0;
// 	top:100%;
// 	padding:0;
// }
// .main-nav > ul > li.menu-item-has-children li.menu-item-has-children > a::after {
//     display:none;
// }
// .main-nav > ul > li.has-mega-menu > a::after{
// 	display:none!important;
// }
// .menu-item-preview .preview-image{
// 	display:none;
// }
// }
/*End Menu Responsive*/
/*Begin Rating*/
.product-rate {
    // background-image: url("../images/icon/rate-star.png");
    background-position: 0 -13px;
    background-repeat: repeat-x;
    height: 13px;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
    width: 95px;
}
.product-rating {
    // background-image: url("../images/icon/rate-star.png");
    background-position: 0 0;
    background-repeat: repeat-x;
    height: 13px;
}
.item-product.text-center .product-rate{
	margin:auto;
}
/*End Rating*/
/*Button Scoll*/
body .scroll-top {
    bottom: 10px;
    color: #fff;
    display: block;
    height: 40px;
	line-height:40px;
    opacity: 0;
    position: fixed;
    right: -50px;
    text-align: center;
    width: 40px;
    z-index: 999;
}
body .scroll-top:hover{
	box-shadow:0 0 10px 0 rgba(0,0,0,0.2);
}
.scroll-top.active{
	opacity:1;
	right: 10px;
}
/*Begin Product*/
.product-slider .item-product{
	padding-bottom: 35px;
	margin:0 15px 30px;
}
// .product-slider{
// 	margin:0 -15px;
// }
.item-product .product-info{
	padding-top:17px;
	position: relative;
}
.product-thumb {
    position: relative;
	overflow:hidden;
	.transition;
}
.product-title {
    margin: 0 0 7px;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
div.table .product-info  .product-title{
	white-space: normal;
}
.product-title a {
    color: #333;
}
.product-price ins {
    font-size: 18px;
    text-decoration: none;
}
.product-price {
    margin: 0 -2px 7px;
}
.product-price>*{
	margin:0 2px;
}
/*Overlay Product*/
.product-thumb-link{
	display:block;
	position:relative;
	overflow:hidden;
}
.product-thumb-link img{
	width:100%;
	.transition;
}
.product-thumb-link::before{
	content:"";
	background:fade(#000,10%);
	opacity:0;
	z-index:5;
	.absolute;
	.transition;
}
.product-thumb:hover .product-thumb-link::before{
	opacity:1;
}
/*Zoom Product*/
.product-thumb:hover .zoom-thumb img{
	transform:scale(1.15);
	-webkit-transform:scale(1.15);
}
/*Zoomout Product*/
.zoomout-thumb .second-thumb{
	position:absolute;
	top:0;
	left:0;
	opacity:0;
	transform:scale(3);
	-webkit-transform:scale(3);
}
.product-thumb:hover .zoomout-thumb .second-thumb{
	transform:scale(1);
	-webkit-transform:scale(1);
	opacity:1;
}
.product-thumb:hover .zoomout-thumb .first-thumb {
	opacity: 0;
	visibility: hidden;
}
/*Rotate Product*/
.rotate-thumb .second-thumb{
	opacity:0;
	transform:rotateY(90deg);
	-webkit-transform:rotateY(90deg);
}
.product-thumb:hover .rotate-thumb .second-thumb{
	transform:rotateY(0);
	-webkit-transform:rotateY(0);
	opacity:1;
}
.product-thumb:hover .rotate-thumb .first-thumb{
	transform:rotateY(-90deg);
	-webkit-transform:rotateY(-90deg);
	opacity:0;
}
/*Translate Product*/
.translate-thumb img:last-child{
	position:absolute;
	top:0;
	left:0;
	opacity:0;
	transform:translateY(100%);
	-webkit-transform:translateY(100%);
} 
.product-thumb:hover .translate-thumb img:last-child{
	transform:translateY(0);
	-webkit-transform:translateY(0);
	opacity:1;
}
.product-thumb:hover .translate-thumb img:first-child{
	transform:translateX(-100%);
	-webkit-transform:translateX(-100%);
	opacity:0;
}
/*End Product*/
/*Select Box*/
.select-box label {
    font-weight: 400;
    margin: 0 5px;
}
.select-box select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    height: 34px;
    padding: 0 50px 0 20px;
    position: relative;
    text-align: left;
    text-transform: capitalize;
	display:block;
	width:100%;
	border:none;
	color:#555;
}
.select-box {
	position:relative;
}
.select-box::after{
	position:absolute;
	top:12px;
	right:17px;
	content:"\f107";
	font-family:"fontAwesome";
}
/*Begin Wishlist Popup*/
.wishlist-mask {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
	display:none;
}
.wishlist-popup {
    background: #fff none repeat scroll 0 0;
    border: 10px solid rgba(0, 0, 0, 0.5);
    bottom: 0;
    height: 200px;
    left: 0;
    margin: auto;
    padding: 20px;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    width: 470px;
    z-index: 9999;
}
.wishlist-button a {
    background: #858785 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    padding: 8px 15px;
	margin:0 3px;
}
.popup-icon{
	font-size:30px;
}
.wishlist-alert {
    margin: 10px 0 20px;
}
.product-popup-content{
	padding:15px 0;
}
/*End Wishlist Popup*/
/*Begin Email Popup*/
#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}  
#boxes .window {
  position:fixed;
  left:0;
  top:0;
  display:none;
  z-index:9999;
}
.window-popup {
    background: url(../images/home/home1/newsletter.jpg);
    padding: 90px 100px;
    width: 600px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    background-size: 100% 100%;
	position:relative;
}
.window-popup .close-popup {
    background: #fff none repeat scroll 0 0;
    display: block;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: -15px;
    text-align: center;
    top: -15px;
    width: 30px;
    z-index: 999;
	border-radius:50%;
	box-shadow:0 0 5px 0 rgba(0,0,0,0.1);
}
.content-popup {
    position: relative;
    z-index: 99;
}
.content-popup input[type="submit"]{
	border-width:0 0 3px;
	display:block;
	width:100%;
	border-radius:4px;
	height:50px;
}
.content-popup input[type="text"] {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    color: #999;
    display: block;
    font-size: 18px;
    height: 50px;
    margin: 0 0 16px;
    padding: 0 10px;
    text-align: center;
    width: 100%;
}
.content-popup .image-popup {
    margin: 10px 0;
}
.content-popup .title30 {
    margin-bottom: 20px;
}
.content-popup select {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%) repeat scroll 0 0;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    color: #555;
    display: block;
    height: 40px;
    margin-bottom: 15px;
    padding: 0 15px;
    width: 100%;
}
.content-popup select option{
	padding:0 15px;
}
/*End Email Popup*/
/*Begin Mini Cart*/
.mini-cart-box {
    position: relative;
    z-index: 1002;
}
.mini-cart-content {
    background: #fff none repeat scroll 0 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 100%;
    visibility: hidden;
    width: 290px;
    z-index: 11;
	margin-top:30px;
	padding: 30px 20px;
	.transition;
	.drop-shadow;
}
.mini-cart-box:hover .mini-cart-content {
	opacity:1;
	visibility:visible;
	margin-top:0px;
}
.list-mini-cart-item {
    margin-top: 20px;
}
.mini-cart-icon sup {
    display: inline-block;
    font-size: 10px;
    height: 23px;
    line-height: 23px;
    right: 5px;
    text-align: center;
    top: -10px;
    width: 23px;
}
.mini-cart-link > span {
    vertical-align: middle;
}
.mini-cart-number {
    line-height: 24px;
    margin-left: 5px;
}
.product-mini-cart.table {
    margin-bottom: 20px;
}
.product-mini-cart .product-thumb {
    width: 90px;
}
.product-mini-cart .product-thumb-link{
	border:1px solid #e5e5e5;
}
.product-mini-cart .product-info {
    padding-left: 20px;
}
.mini-cart-button {
    margin: 20px -3px 0;
}
.mini-cart-button a {
    padding: 0 25px;
	margin:0 3px;
}
/*End Mini Cart*/
/*Begin Count Down Master*/
.countdown-master .flip-clock-divider .flip-clock-label{
	display:none;
}
.countdown-master {
    display: inline-block;
    margin: 0;
    width: auto;
	vertical-align:middle;
}
.countdown-master.flip-clock-wrapper ul {
    background: transparent;
    float: left;
    margin: 0 -4px;
    width: 30px;
    height: 30px;
	border-radius:4px;
}
.countdown-master.flip-clock-wrapper .flip{
	box-shadow:none;
}
.countdown-master.flip-clock-wrapper ul li{
    line-height: 30px;
	width:30px;
}
.countdown-master.flip-clock-wrapper ul li a div div.inn{
	font-size: 18px;
	color:#fff600;
	background: #333 url("../images/icons/bg-time.png") repeat-x scroll center center;
	border-radius:4px;
}
.countdown-master.flip-clock-wrapper ul li a div.down {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.countdown-master .flip-clock-divider {
    height: 30px;
    width: 10px;
}
.countdown-master .flip-clock-dot {
    background: #333 none repeat scroll 0 0;
    box-shadow: none;
    height: 2px;
    left: 0px;
    width: 2px;
}
.countdown-master .flip-clock-dot.top {
    top: 10px;
}
.countdown-master .flip-clock-dot.bottom {
    bottom: 10px;
}
/*End Count Down Master*/
/*Begin Preload*/
.wrap-item{
	position:relative;
}
.item-banner{
	position:relative;
}

/*End Preload */

/* basic scrollbar styling */
/* vertical scrollbar */
.mCSB_container{
	width:auto;
	margin-right:30px;
	overflow:hidden;
}
.mCSB_container.mCS_no_scrollbar{
	margin-right:0;
}
.mCS_disabled>.mCustomScrollBox>.mCSB_container.mCS_no_scrollbar,
.mCS_destroyed>.mCustomScrollBox>.mCSB_container.mCS_no_scrollbar{
	margin-right:30px;
}
.mCustomScrollBox>.mCSB_scrollTools{
	width:16px;
	height:100%;
	top:0;
	right:0;
}
.mCSB_scrollTools .mCSB_draggerContainer{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0; 
	height:auto;
}
.mCSB_scrollTools a+.mCSB_draggerContainer{
	margin:20px 0;
}
.mCSB_scrollTools .mCSB_draggerRail{
	width:2px;
	height:100%;
	margin:0 auto;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.mCSB_scrollTools .mCSB_dragger{
	cursor:pointer;
	width:100%;
	height:30px;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:4px;
	height:100%;
	margin:0 auto;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	text-align:center;
}
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown{
	display:block;
	position:relative;
	height:20px;
	overflow:hidden;
	margin:0 auto;
	cursor:pointer;
}
.mCSB_scrollTools .mCSB_buttonDown{
	top:100%;
	margin-top:-40px;
}
/* horizontal scrollbar */
.mCSB_horizontal>.mCSB_container{
	height:auto;
	margin-right:0;
	margin-bottom:30px;
	overflow:hidden;
}
.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar{
	margin-bottom:0;
}
.mCS_disabled>.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar,
.mCS_destroyed>.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar{
	margin-right:0;
	margin-bottom:30px;
}
.mCSB_horizontal.mCustomScrollBox>.mCSB_scrollTools{
	width:100%;
	height:16px;
	top:auto;
	right:auto;
	bottom:0;
	left:0;
	overflow:hidden;
}
.mCSB_horizontal>.mCSB_scrollTools a+.mCSB_draggerContainer{
	margin:0 20px;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{
	width:100%;
	height:2px;
	margin:7px 0;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger{
	width:30px;
	height:100%;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:100%;
	height:4px;
	margin:6px auto;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonRight{
	display:block;
	position:relative;
	width:20px;
	height:100%;
	overflow:hidden;
	margin:0 auto;
	cursor:pointer;
	float:left;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonRight{
	margin-left:-40px;
	float:right;
}
.mCustomScrollBox{
	-ms-touch-action:none; /*MSPointer events - direct all pointer events to js*/
}

/* default scrollbar colors and backgrounds (default theme) */
.mCustomScrollBox>.mCSB_scrollTools{
	opacity:0.75;
	filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; /* old ie */
}
.mCustomScrollBox:hover>.mCSB_scrollTools{
	opacity:1;
	filter:"alpha(opacity=100)"; -ms-filter:"alpha(opacity=100)"; /* old ie */
}
.mCSB_scrollTools .mCSB_draggerRail{
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.4);
	filter:"alpha(opacity=40)"; -ms-filter:"alpha(opacity=40)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background:#fff; /* rgba fallback */
	background:rgba(255,255,255,0.75);
	filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background:rgba(255,255,255,0.85);
	filter:"alpha(opacity=85)"; -ms-filter:"alpha(opacity=85)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background:rgba(255,255,255,0.9);
	filter:"alpha(opacity=90)"; -ms-filter:"alpha(opacity=90)"; /* old ie */
}
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown,
.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_scrollTools .mCSB_buttonRight{
	background-image:url(mCSB_buttons.png);
	background-repeat:no-repeat;
	opacity:0.4;
	filter:"alpha(opacity=40)"; -ms-filter:"alpha(opacity=40)"; /* old ie */
}
.mCSB_scrollTools .mCSB_buttonUp{
	background-position:0 0;
	/* 
	sprites locations are 0 0/-16px 0/-32px 0/-48px 0 (light) and -80px 0/-96px 0/-112px 0/-128px 0 (dark) 
	*/
}
.mCSB_scrollTools .mCSB_buttonDown{
	background-position:0 -20px;
	/* 
	sprites locations are 0 -20px/-16px -20px/-32px -20px/-48px -20px (light) and -80px -20px/-96px -20px/-112px -20px/-128px -20px (dark) 
	*/
}
.mCSB_scrollTools .mCSB_buttonLeft{
	background-position:0 -40px;
	/* 
	sprites locations are 0 -40px/-20px -40px/-40px -40px/-60px -40px (light) and -80px -40px/-100px -40px/-120px -40px/-140px -40px (dark) 
	*/
}
.mCSB_scrollTools .mCSB_buttonRight{
	background-position:0 -56px;
	/* 
	sprites locations are 0 -56px/-20px -56px/-40px -56px/-60px -56px (light) and -80px -56px/-100px -56px/-120px -56px/-140px -56px (dark) 
	*/
}
.mCSB_scrollTools .mCSB_buttonUp:hover,
.mCSB_scrollTools .mCSB_buttonDown:hover,
.mCSB_scrollTools .mCSB_buttonLeft:hover,
.mCSB_scrollTools .mCSB_buttonRight:hover{
	opacity:0.75;
	filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; /* old ie */
}
.mCSB_scrollTools .mCSB_buttonUp:active,
.mCSB_scrollTools .mCSB_buttonDown:active,
.mCSB_scrollTools .mCSB_buttonLeft:active,
.mCSB_scrollTools .mCSB_buttonRight:active{
	opacity:0.9;
	filter:"alpha(opacity=90)"; -ms-filter:"alpha(opacity=90)"; /* old ie */
}

/*scrollbar themes*/
/*dark (dark colored scrollbar)*/
.mCS-dark>.mCSB_scrollTools .mCSB_draggerRail{
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.15);
}
.mCS-dark>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.75);
}
.mCS-dark>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background:rgba(0,0,0,0.85);
}
.mCS-dark>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background:rgba(0,0,0,0.9);
}
.mCS-dark>.mCSB_scrollTools .mCSB_buttonUp{
	background-position:-80px 0;
}
.mCS-dark>.mCSB_scrollTools .mCSB_buttonDown{
	background-position:-80px -20px;
}
.mCS-dark>.mCSB_scrollTools .mCSB_buttonLeft{
	background-position:-80px -40px;
}
.mCS-dark>.mCSB_scrollTools .mCSB_buttonRight{
	background-position:-80px -56px;
}
/*light-2*/
.mCS-light-2>.mCSB_scrollTools .mCSB_draggerRail{
	width:4px;
	background:#fff; /* rgba fallback */
	background:rgba(255,255,255,0.1);
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
}
.mCS-light-2>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:4px;
	background:#fff; /* rgba fallback */
	background:rgba(255,255,255,0.75);
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
}
.mCS-light-2.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{
	width:100%;
	height:4px;
	margin:6px 0;
}
.mCS-light-2.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:100%;
	height:4px;
	margin:6px auto;
}
.mCS-light-2>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background:rgba(255,255,255,0.85);
}
.mCS-light-2>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-light-2>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background:rgba(255,255,255,0.9);
}
.mCS-light-2>.mCSB_scrollTools .mCSB_buttonUp{
	background-position:-32px 0;
}
.mCS-light-2>.mCSB_scrollTools .mCSB_buttonDown{
	background-position:-32px -20px;
}
.mCS-light-2>.mCSB_scrollTools .mCSB_buttonLeft{
	background-position:-40px -40px;
}
.mCS-light-2>.mCSB_scrollTools .mCSB_buttonRight{
	background-position:-40px -56px;
}
/*dark-2*/
.mCS-dark-2>.mCSB_scrollTools .mCSB_draggerRail{
	width:4px;
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.1);
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
}
.mCS-dark-2>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:4px;
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.75);
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
}
.mCS-dark-2.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{
	width:100%;
	height:4px;
	margin:6px 0;
}
.mCS-dark-2.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:100%;
	height:4px;
	margin:6px auto;
}
.mCS-dark-2>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background:rgba(0,0,0,0.85);
}
.mCS-dark-2>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark-2>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background:rgba(0,0,0,0.9);
}
.mCS-dark-2>.mCSB_scrollTools .mCSB_buttonUp{
	background-position:-112px 0;
}
.mCS-dark-2>.mCSB_scrollTools .mCSB_buttonDown{
	background-position:-112px -20px;
}
.mCS-dark-2>.mCSB_scrollTools .mCSB_buttonLeft{
	background-position:-120px -40px;
}
.mCS-dark-2>.mCSB_scrollTools .mCSB_buttonRight{
	background-position:-120px -56px;
}
/*light-thick*/
.mCS-light-thick>.mCSB_scrollTools .mCSB_draggerRail{
	width:4px;
	background:#fff; /* rgba fallback */
	background:rgba(255,255,255,0.1);
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
.mCS-light-thick>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:6px;
	background:#fff; /* rgba fallback */
	background:rgba(255,255,255,0.75);
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
.mCS-light-thick.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{
	width:100%;
	height:4px;
	margin:6px 0;
}
.mCS-light-thick.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:100%;
	height:6px;
	margin:5px auto;
}
.mCS-light-thick>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background:rgba(255,255,255,0.85);
}
.mCS-light-thick>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-light-thick>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background:rgba(255,255,255,0.9);
}
.mCS-light-thick>.mCSB_scrollTools .mCSB_buttonUp{
	background-position:-16px 0;
}
.mCS-light-thick>.mCSB_scrollTools .mCSB_buttonDown{
	background-position:-16px -20px;
}
.mCS-light-thick>.mCSB_scrollTools .mCSB_buttonLeft{
	background-position:-20px -40px;
}
.mCS-light-thick>.mCSB_scrollTools .mCSB_buttonRight{
	background-position:-20px -56px;
}
/*dark-thick*/
.mCS-dark-thick>.mCSB_scrollTools .mCSB_draggerRail{
	width:4px;
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.1);
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
.mCS-dark-thick>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:6px;
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.75);
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
.mCS-dark-thick.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{
	width:100%;
	height:4px;
	margin:6px 0;
}
.mCS-dark-thick.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:100%;
	height:6px;
	margin:5px auto;
}
.mCS-dark-thick>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background:rgba(0,0,0,0.85);
}
.mCS-dark-thick>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark-thick>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background:rgba(0,0,0,0.9);
}
.mCS-dark-thick>.mCSB_scrollTools .mCSB_buttonUp{
	background-position:-96px 0;
}
.mCS-dark-thick>.mCSB_scrollTools .mCSB_buttonDown{
	background-position:-96px -20px;
}
.mCS-dark-thick>.mCSB_scrollTools .mCSB_buttonLeft{
	background-position:-100px -40px;
}
.mCS-dark-thick>.mCSB_scrollTools .mCSB_buttonRight{
	background-position:-100px -56px;
}
/*light-thin*/
.mCS-light-thin>.mCSB_scrollTools .mCSB_draggerRail{
	background:#fff; /* rgba fallback */
	background:rgba(255,255,255,0.1);
}
.mCS-light-thin>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:2px;
}
.mCS-light-thin.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{
	width:100%;
}
.mCS-light-thin.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:100%;
	height:2px;
	margin:7px auto;
}
/*dark-thin*/
.mCS-dark-thin>.mCSB_scrollTools .mCSB_draggerRail{
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.15);
}
.mCS-dark-thin>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:2px;
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.75);
}
.mCS-dark-thin.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{
	width:100%;
}
.mCS-dark-thin.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:100%;
	height:2px;
	margin:7px auto;
}
.mCS-dark-thin>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background:rgba(0,0,0,0.85);
}
.mCS-dark-thin>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark-thin>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background:rgba(0,0,0,0.9);
}
.mCS-dark-thin>.mCSB_scrollTools .mCSB_buttonUp{
	background-position:-80px 0;
}
.mCS-dark-thin>.mCSB_scrollTools .mCSB_buttonDown{
	background-position:-80px -20px;
}
.mCS-dark-thin>.mCSB_scrollTools .mCSB_buttonLeft{
	background-position:-80px -40px;
}
.mCS-dark-thin>.mCSB_scrollTools .mCSB_buttonRight{
	background-position:-80px -56px;
}