
/*******************************************************************************************************
													Home 1
********************************************************************************************************/
.info-account.list-inline-block.pull-right {
    .link.compare,.link.wishlist {
        display: none;
    }
}
.main-menu-left { display: none; }
.language-current {
    display: block;
    height: 40px;
    line-height: 40px;
	position:relative;
}
.language-current::after,.currency-current::after,.profile-link::after{
	font-family:"fontAwesome";
	content:"\f107";
	margin-left:5px;
}
.currency-current{
	&:extend(.language-current);
}
.currency-list.list-none {
    .label.switcher-label {
        display: none;
    }
    .switcher-trigger a {
        background: #fafafa none repeat scroll 0 0;
        display: block;
        font-size: 14px;
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
        border-bottom: 1px solid #fff;
        &:hover {
            background: #6c3;
            color: #fff;
        }
    }
}
.profile-link{
	&:extend(.language-current);
}
.language-list {
    background: #fff none repeat scroll 0 0;
    margin-top: 30px;
    opacity: 0;
    padding: 10px;
    position: absolute;
    left: -15px;
    top: 100%;
    visibility: hidden;
    width: 130px;
	text-align:left;
	.drop-shadow;
	.transition;
}
.currency-list{
	&:extend(.language-list);
	width:90px;
}
.list-profile{
	&:extend(.language-list);
	width:170px
}
.dropdown-list{
	&:extend(.language-list);
	width:120px;
}
.language-box:hover .language-list{
	margin-top: 0;
    opacity: 1;
    visibility: visible;
}
.dropdown-box:hover .dropdown-list {
	&:extend(.language-box:hover .language-list);
}
.profile-box:hover .list-profile {
	&:extend(.language-box:hover .language-list);
}
.currency-box:hover .currency-list {
	&:extend(.language-box:hover .language-list);
}
.language-box,.currency-box,.profile-box{
	position:relative;
	z-index:9;
}
.language-list li a {
    background: #fafafa none repeat scroll 0 0;
    display: block;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
	border-bottom:1px solid #fff;
}
.currency-list li a {
	&:extend(.language-list li a);
}
.dropdown-list li a {
	&:extend(.language-list li a);
}
.language-list li a  img{
	margin-right:5px;
}
.currency-list li a span{
	margin-right:5px;
}
.info-account{
	margin:0 -10px;
}
.info-account li{
    position: relative;
	margin:0 10px;
}
.currency-language{
	margin:0 -10px;
}
.currency-language>li {
	&:extend(.info-account li);
}
.currency-language>li:first-child::after{
	&:extend(.info-account li::after);
}
.info-account li a {
    display: inline-block;
    height: 40px;
    line-height: 40px;
}
.info-account li a i{
	margin-right:5px;
}
.info-account li::after {
    display: inline-block;
    background: #e5e5e5;
    height: 16px;
    width: 1px;
	content:"";
	position:absolute;
	right:-12px;
	top:10px;
}
.info-account li:last-child::after{
	display:none;
}
.language-current> img {
    display: inline-block;
    margin-right: 5px;
    margin-top: -3px;
}
.main-header {
    background: #f9f9f9;
    padding: 25px 0;
}
.search-form {
    position: relative;
    padding-right: 40px;
    border: 1px solid #e5e5e5;
    background: #fff;
    border-radius: 20px;
}
.search-form input[type="text"] {
    height: 38px;
    display: block;
    border: none;
    color: #999;
    border-radius: 20px;
    padding: 0 15px;
	width:100%;
}
.search-form button[type="submit"] {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    top: 0;
    right: 0;
    border: none;
    background: transparent;
    z-index: 9;
	line-height:40px;
	text-align:center;
    pointer-events: unset;
}
.search-form::after{
	&:extend(.search-form button[type="submit"]);
	z-index:0;
	content:"\f002";
	font-size:18px;
	font-family:fontAwesome;
}
.logo.logo1 {
    text-align: center;
    position: relative;
}
.logo.logo1 a {
    position: absolute;
    left: 0;
    right: 0;
    top: -60px;
}
.mini-cart1 .mini-cart-link {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    border: 1px solid #e5e5e5;
    background: #fff;
    border-radius: 20px;
    padding: 0 15px;
}
.main-nav.main-nav1{
	text-align:center;
}
.nav-header{
	padding:20px 0;
}
.main-nav.main-nav1>ul>li.current-menu-item>a{
	border-radius:20px;
	color:#fff;
}
.btn-arrow {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 30px;
	text-transform:uppercase;
	border-radius:20px;
	position:relative;
	background:transparent;
	.transition;
}
.btn-arrow.white{
	color:#fff;
    border: 2px solid #fff;
	line-height:38px;
}
.btn-arrow.style2.white{
	line-height:42px;
}
.btn-arrow::after{
    content: "\f3d6";
    font-family: "Ionicons";
    margin-left: 10px;
}
.item-slider1 .banner-info .btn-arrow{
	margin-top:25px;
	border-radius:0;
}
.item-slider1 .banner-info .title120{
	color:#f8ff09;
}
.item-slider1 .banner-info{
	height:250px;
}
.item-service1 .service-icon a {
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 50%;
    font-size: 30px;
    line-height: 100px;
    text-align: center;
	background:#fff;
	position:relative;
}
.item-service1 .service-icon a:hover {
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.15);
}
.item-service1 .service-icon a i{
	position:relative;	
}
.item-service1 .service-icon a::before{
	border-radius:50%;
	opacity:0;
	.absolute;
	.transition;
}
.item-service1 .service-icon a:hover::before{
	top:15px;
	left:15px;
	right:15px;
	bottom:15px;
	opacity:1;
}
.item-service1 .service-icon {
    width: 100px;
}
.item-service1 .service-info {
    vertical-align: middle;
    padding-left: 20px;
}
.item-service1 .service-info .title18 {
    margin-bottom: 5px;
}
.banner-slider1 {
    margin-bottom: 50px;
}
.list-service1 {
    margin-bottom: 90px;
}
.title-box1 {
    margin-bottom: 40px;
}
.item-adv1 {
    margin-bottom: 30px;
}
.item-adv1 .ver.banner-info {
    height: 160px;
}
.item-adv1 .hoz.banner-info {
    height: 90px;
}
.item-adv1 .banner-info .btn-arrow {
    margin-top: 20px;
}
.title-underline {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
.title-underline::after {
    position: absolute;
    height: 1px;
    width: 50px;
    content: "";
    background: #fff;
    bottom: 0px;
    left: 50%;
    margin-left: -25px;
}
.item-product {
    padding: 10px;
    position: relative;
	.transition;
}
.item-product1>* {
    position: relative;
    z-index: 1;
}
.product-thumb> .quickview-link {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    margin: auto;
	color:#fff;
	transform:scale(0);
	-webkit-transform:scale(0);
	z-index:1;
	display:inline-block;
	.absolute;
}
.product-thumb:hover> .quickview-link{
	transform:scale(1);
	-webkit-transform:scale(1);
}
.product-extra-link a{
	display:inline-block;
	height:36px;
	width:36px;
	line-height:36px;
	border-radius:18px;
	border:1px solid #e5e5e5;
	text-align:center;
	position:relative;
	color:#555;
}
.product-extra-link a span{
	width:80px;
	position:absolute;
	left:50%;
	top:100%;
	margin-left:-40px;
	font-size:12px;
	color:#999;
	opacity:0;
	margin-top:20px;
	display:block;
	.transition;
}
.product-extra-link a:hover span{
	opacity:1;
	margin-top:-5px;
}
.product-extra-link a.addcart-link{
	width:auto;
	padding:0 20px;
	color:#fff;
	border:none;
}
.item-product1::after{
	border:1px solid #e5e5e5;
	opacity:0;
	background:#fff;
	box-shadow:0 10px 10px 0 rgba(0,0,0,0.15);
	.absolute;
	.transition;
}
.item-product1:hover::after{
	top:-10px;
	left:-10px;
	bottom:-25px;
	right:-10px;
	opacity:1;
}
.product-slider1 .wrap-item.owl-carousel .owl-wrapper-outer {
    margin: -20px 0;
    padding: 20px 0;
}
.title-tab1 li a {
    display: block;
    height: 36px;
    line-height: 36px;
    padding: 0 20px;
    border-radius: 18px;
    border: 1px solid #e5e5e5;
	background:#fff;
}
.title-tab1 {
    margin-bottom: 50px;
}
.title-tab1 li {
    position: relative;
}
.title-tab1 li::after {
    position: absolute;
    width: 10px;
    height: 10px;
    content: "";
    background: #e5e5e5;
    right: -7px;
    top: 13px;
    border-radius: 50%;
	z-index:9;
}
.title-tab1 li.active a{
	color:#fff;
}
.title-tab1 li:last-child::after {
    display: none;
}
.product-bestsale{
	margin-bottom:50px;
}
.list-adv1{
	margin-bottom:60px;
}
.featured-product{
	padding:80px 0 100px;
	background-color:#fafcfc;
	background-repeat:no-repeat;
	background-position:left top,right top;
	background-size:auto 100%;
	margin-bottom:90px;
}
.featured-product-slider{
	margin:0 85px;
}
.item-product-featured .product-info {
    padding-left: 25px;
    padding-top: 30px;
}
.item-product-featured .product-info .desc {
    border-top: 1px solid #e5e5e5;
    margin-top: 25px;
    padding-top: 20px;
    margin-bottom: 25px;
}
.featured-product-slider .group-navi .owl-buttons {
    right: 0;
    top: 45px;
}
.deal-timer canvas{
	display:none;
}
.deal-timer {
    width: 170px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 20px;
    margin: 0 auto -50px;
    z-index: 9;
    position: relative;
    background: #fff;
}
.deal-timer .time_circles>div {
    display: inline-block;
    width: auto!important;
}
// .deal-timer .time_circles>div::after {
//     content: ":";
//     margin: 0 5px;
// }
.deal-timer .time_circles>div:last-child:after {
    display: none;
}
.product-dealof {
    margin-bottom: 60px;
}
.latest-news {
    background: #fafcfc;
    padding: 80px 0 90px;
    margin-bottom: 90px;
}
a.post-cat {
    height: 30px;
    display: inline-block;
    padding: 0 15px;
    border-radius: 15px;
    line-height: 30px;
	color:#fff;
}
.item-post1 .post-thumb{
	margin-bottom:30px;
}
.item-post1 .post-info{
	margin-bottom:30px;
}
.item-post1 .post-info .title18 {
    margin: 15px 0 10px;
}
.item-post1 .post-author-date {
    margin-bottom: 15px;
}
.btn-arrow.color:hover{
	color:#fff;
}
.btn-arrow.color{
	line-height:36px;
}
.latest-news .btn-arrow.color{
	margin-top:20px;
}
.list-diet {
    height: 380px;
    margin-right: -50px;
	max-width:500px;
}
.item-diet.table{
	margin-bottom:30px;
	padding-right:60px;
}
.item-diet .diet-thumb {
    width: 100px;
}
.diet-thumb a {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    text-align: center;
}
.diet-thumb a:hover{
	border-style:solid;
	box-shadow:0 10px 10px 0 rgba(0,0,0,0.15);
}
.diet-thumb a::after{
	position:absolute; 
	top:50%;
	margin-top:-5px;
	right:-5px;
	content:"";
	border-radius:50%;
	transform:scale(0);
	-webkit-transform:scale(0);
	width:10px;
	height:10px;
	.transition;
}
.diet-thumb a:hover::after{
	transform:scale(1);
	-webkit-transform:scale(1);
}
.diet-thumb a img{
	margin:auto;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}
.item-diet .diet-info {
    padding-left: 20px;
    vertical-align: middle;
}
.item-diet .diet-info .desc{
	margin-top:5px;
	line-height:20px;
	color:#999;
}
.list-diet .mCSB_scrollTools a+.mCSB_draggerContainer {
    margin: 0 0 20px;
    width: 10px;
    box-shadow: 0 0 0 1px #e5e5e5 inset;
    border-radius: 5px;
}
.list-diet .mCustomScrollBox > .mCSB_scrollTools {
    width: 10px;
    opacity: 1;
    z-index: 10;
}
.diet-image {
	margin:10px -80px 0 40px;
}
.list-diet .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:10px;
}
.list-diet .mCSB_scrollTools .mCSB_draggerRail{
	display:none;
}
.diet-intro {
    padding: 45px 53px 101px;
    text-align: center;
    margin-left: -20px;
    margin-top: -10px;
}
.diet-intro .desc {
    font-size: 18px;
}
.fruit-health {
    margin-bottom: 90px;
}
.client-review {
    background: #fafcfc;
    padding: 80px 0 90px;
}
.list-brand{
	padding:50px 0;
}
.item-brand{
	text-align:center;
	padding:40px 15px;
}
.brand-slider{
	margin:0 -15px;
}
.item-client {
    text-align: center;
}
.client-slider {
    max-width: 870px;
    margin: auto;
}
.client-slider .slick-dots{
	display:none!important;
}
.client-thumb a {
    width: 100px;
    display: block;
    margin: auto;
    border-radius: 50%;
	overflow:hidden;
	transform:translateZ(0);
	-webkit-transform:translateZ(0);
}
.client-thumb a img{
	border-radius: 50%;
	.transition;
}
.client-thumb a:hover img{
	transform:scale(1.15);
	-webkit-transform:scale(1.15);
}
.client-thumb {
    margin-bottom: 20px;
}
.client-info .title18 {
    margin: 16px auto 7px;
}
.client-slider .slick-nav {
    position: absolute;
    top: 15px;
    left: 50%;
    width: 70px;
	border-radius: 50%;
	cursor:pointer;
	z-index:9;
}
.client-slider .slick-nav  img{
	border-radius: 50%;
	.transition;
}
.client-slider .slick-nav.slick-prev {
    margin-left: -150px;
}
.client-slider .slick-nav.slick-next {
    margin-left: 80px;
}
.newsletter-box {
    padding: 50px 0;
}
.inner-newsletter .title30 i {
    margin-right: 10px;
}
.inner-newsletter li {
    margin-right: 30px;
    vertical-align: middle;
}
.inner-newsletter p {
    margin: 0 0 0 20px;
    width: 150px;
}
.email-form input[type="text"]{
	display:block;
	width:100%;
	height:50px;
	color:#999;
	background:#fff;
	border-radius:25px;
	border:none;
	padding:0 25px;
	vertical-align:top;
}
.email-form input[type="submit"]{
	position:absolute;
	top:0;
	right:0;
	height:50px;
	border:2px solid #fff;
	border-radius:25px;
	color:#fff;
	background:transparent;
	padding:0 40px;
	text-transform:uppercase;
}
.email-form{
	position:relative;
	padding-right:145px;
	width:520px;
}
.box-google-map .map-custom{
	width:100%;
	height:400px;
	position:relative;
}
.box-google-map .map-custom::before {
    .absolute;
    z-index: 9;
}
.main-footer {
    background: #2c2c2c;
    padding: 50px 0;
}
.footer-box .title24 {
    margin-bottom: 20px;
}
.list-instagram{
	margin:0 -5px;
	font-size:0;
	max-width:270px;
}
.list-instagram a {
    width: 80px;
    margin:5px;
    display: inline-block;
}
.list-instagram a img{
	.transition;
}
.social-payment {
    border-top: 1px solid rgba(255,255,255,0.1);
    margin-top: 70px;
    padding-top: 30px;
}
.bottom-fotter .term-policy li::after{
	background-color:rgba(255,255,255,0.1);
}
.social-payment .list-inline-block li {
    vertical-align: middle;
}
.social-payment .list-inline-block li .title24 {
    margin-right: 10px;
}
.social-payment .list-inline-block.text-right {
    margin-top: 5px;
}
.bottom-fotter {
    background: #1e1e1e;
    padding: 25px 0 20px;
}
.bottom-fotter .copyright {
    margin: 0;
}
.about-footer .desc {
    margin-top: 15px;
}
.menu-footer li {
    margin-bottom: 15px;
    position: relative;
    padding-left: 15px;
}
.menu-footer li::before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 8px;
}
.contact-footer .desc {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
}
.contact-footer .desc span {
    font-size: 18px;
    position: absolute;
    left: 0;
    top: 1px;
}
.contact-footer .desc.none-padding {
    padding: 0;
    margin-top: 20px;
}
/**************************************************************************************************
											Home 2			
**************************************************************************************************/
.dropdown-box{
	position:relative;
}
.top-header2{
	background:#f9f9f9; 
}
.top-header2 .language-current,.top-header2 .currency-current{
	height:44px;
	line-height:44px;
}
.top-header2 .info-account li a {
    height: 44px;
    line-height: 44px;
}
.top-header2 .info-account li::after, 
.top-header2 .currency-language > li:first-child::after{
	top:13px;
}
.main-header2 {
    padding: 25px 0;
}
.logo2{
	margin-bottom:-15px;
}
.search-form2 {
    width: 470px;
    margin-right: 30px;
}
.search-form2 .dropdown-box {
    position: absolute;
    right: 45px;
    top: 0;
    z-index: 10000;
}
.search-form2 .dropdown-box .dropdown-link{
	height:40px;
	line-height:40px;
	display:inline-block;
}
.search-form2 .dropdown-box .dropdown-list{
	left:auto;
	right:-15px;
	width:200px;
}
.nav-header2 {
    padding: 10px 0;
}
.main-nav.main-nav2 > ul > li > a {
    color: #fff;
}
.main-nav.main-nav2 > ul > li.current-menu-item>a{
	border:1px solid #fff;
	border-radius:20px;
}
.top-social a {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    border-radius: 50%;
    border: 1px solid #fff;
    width: 32px;
    text-align: center;
    color: #fff;
}
.nav-header2 .top-social {
    margin-top: 5px;
}
.item-slider2 .banner-info {
    height: auto;
}
.item-slider2 .banner-info .img-info{
	position:absolute;
	top:50px;
	left:0;
	right:0;
}
.item-slider2 .banner-info .text-info{
	position:absolute;
	bottom:70px;
	left:0;
	right:0;
}
.paci-font{
	font-family:'Pacifico', cursive; 
}
.poiret-font{
	font-family: 'Poiret One', cursive;
	font-weight:400;
}
.item-slider2 .banner-info .text-info .title30.color2 {
    margin: 10px 0 20px;
}
.btn-arrow.style2 {
    padding: 0 20px 0 45px;
}
.btn-arrow.style2::after {
    position: absolute;
    left: 5px;
    top: 3px;
    height: 30px;
    line-height: 30px;
	width:30px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
	margin:0;
	.transition;
}
.btn-arrow.style2:hover::after{
	background:fade(#fff,20%);
}
.item-fruit-cat1 {
    margin: 0 35px;
    background: #f8faf4;
    position: relative;
    padding: 40px 40px 210px;
	.transition;
}
.fruit-list-cat {
    margin: 0 0px 190px;
}
.banner-slider2 {
    margin-bottom: 100px;
}
.item-fruit-cat1 .cat-menu-img {
    position: absolute;
    bottom: -70px;
    left: -50px;
	right:-50px;
	text-align:center;
	z-index:2;
}
.line-space{
	position:relative;
	overflow:hidden;
}
.line-space::before {
    width: 1200px;
    height: 1px;
    top: 50%;
    left: 50%;
    content: "";
    position: absolute;
    margin-left: 20px;
}
.line-space::after {
    width: 1200px;
    height: 1px;
    top: 50%;
    right: 50%;
    content: "";
    position: absolute;
    margin-right: 20px;
}
.cat-menu2 {
    margin-top: 15px;
    margin-bottom: 22px;
}
.cat-menu2 li{
    margin-bottom: 5px;
}
.cat-menu2 li a{
    position: relative;
    padding-right: 20px;
	display:block;
}
.cat-menu2 li a span {
    position: absolute;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    right: 0;
    top: 0;
    color: #999;
	.transition;
}
.cat-menu2 li a:hover span{
	color:#fff;
}
.btn-viewall::before{
	content: "\f3d6";
    font-family: "Ionicons";
	height: 30px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
	margin-right:10px;
	display:inline-block;
	.transition;
}
.btn-viewall{
	display:inline-block;
	position:relative;
}
.item-fruit-cat1::before{
	background-color:transparent;
	background-repeat:no-repeat;
	background-position:left top,right top;
	background-image:url("../images/home2/menu-left.png"),	url("../images/home2/menu-right.png");
	opacity:0;
	.absolute;
	.transition;
}
.item-fruit-cat1.item-center{
	background:transparent;
}
.item-fruit-cat1.item-center::before{
	opacity:1;
}
.item-fruit-cat1::after{
	background:fade(#fff,90%);
	position:absolute;
	top:20px;
	left:20px;
	bottom:20px;
	right:20px;
	content:"";
	opacity:0;
}
.item-fruit-cat1.item-center::after{
	opacity:1;
}
.item-fruit-cat1.item-center>*:not(.cat-menu-img){
    position:relative;
    z-index:1;
}
.item-fruit-cat1:hover>*:not(.cat-menu-img){
	position:relative;
	z-index:1;
}
.item-fruit-cat1:hover {
    background:transparent;
    &:before {
        opacity:1;
    } 
    &:after {
        opacity:1;
    }
}
.item-fruit-cat1:hover .cat-menu-img{
    margin-bottom:30px;
}
.item-fruit-cat1 .cat-menu-img{
	.transition;
}
.title-box2{
	font-weight:700;
	margin-bottom:42px;
	text-transform:uppercase;
}
.title-tab-icon li a {
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: relative;
	color:#fff;
	overflow:hidden;
}
.title-tab-icon li a img {
	margin:auto;
    position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	.transition;
} 
.title-tab-icon{
	margin-bottom:20px;
	min-height:100px;
}
.title-tab-icon li a span {
    position: absolute;
    display: block;
    text-align: center;
    width: 100px;
    left: 50%;
    margin-left: -50px;
    bottom: -30px;
	text-transform:capitalize;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	.transition;
}
.title-tab-icon li.active a {
    height: 100px;
    width: 100px;
    margin-top: -15px;
	box-shadow:0 5px 5px 0 rgba(0,0,0,0.15);
}
.title-tab-icon li {
    margin: 0 3px;
}
.title-tab-icon li.active a img{
	top:20px;
	bottom:auto;					
    filter: grayscale(1000%) brightness(1000%);
    -webkit-filter:grayscale(1000%) brightness(1000%);
}
.title-tab-icon li a:hover img  {
	filter: grayscale(1000%) brightness(1000%);
    -webkit-filter:grayscale(1000%) brightness(1000%);
} 
.title-tab-icon li.active a span{
	bottom:20px;
}
.product-label.new-label {
    background: #ff946f;
    right: 0;
}
.product-label.sale-label {
    background: #fddd24;
    right: left;
}
.product-label {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 0;
    z-index: 9;
    line-height: 40px;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
	text-align:center;
    font-weight: 700;
}
.product-info .product-in-cat {
    margin-bottom: 12px;
	margin-top:25px;
}
.product-in-cat {
    margin: 0 -7px;
}
.product-in-cat li {
    margin: 0 7px;
    position: relative;
}
.product-in-cat li::after {
    position: absolute;
    height: 16px;
    width: 1px;
    content: "";
    background: #e5e5e5;
    top: 3px;
    right: -10px;
}
.product-in-cat li:last-child::after{
	display:none;
}
.item-product.border:hover{
	box-shadow:0 10px 15px 0 fade(#000,15%);
}
.percent-sale {
    width: 30px;
    height: 30px;
    display: inline-block;
    font-size: 12px;
    line-height: 30px;
    color: #fff;
    vertical-align: top;
    border-radius: 50%;
}
.featured-product2 {
    margin-bottom: 100px;
}
.title-deal-box2 {
    max-width: 570px;
    margin: auto;
    text-align: center;
    padding: 45px 15px 30px;
    position: relative;
}
.title-deal-box2 .paci-font {
    margin-bottom: 10px;
}
.deal-box2 {
    position:relative;
	margin-bottom:100px;
}
.deal-product2 {
    background: #f9f9f9;
    padding-top: 60px;
	padding-bottom:15px;
	position:relative;
	z-index:10;
}
.days-countdown canvas{
	display:none;
}
.item-product.item-deal-product2{
	padding:0;
}
.item-product.item-deal-product2 .product-info {
    height: 40px;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 10;
	padding-top:12px;
	padding-bottom:30px;
	.transition;
}
.deal-slider2.product-slider  .item-product.item-deal-product2 {
    margin-bottom: 50px;
}
.deal-slider2.product-slider .owl-wrapper-outer {
    margin-bottom: -75px;
    padding-bottom: 75px;
	margin-top:-20px;
	padding-top:20px;
}
.item-product.item-deal-product2:hover .product-info {
    height: 190px;
    background: #fff;
    transform: translateY(-80px);
    -webkit-transform: translateY(-80px);
}
.item-product.item-deal-product2 .product-thumb{
	border:1px solid #e5e5e5;
}
.item-product.item-deal-product2:hover .product-thumb{
	border-color:transparent;
}
.item-product.item-deal-product2::before{
	&:extend(.absolute);
	background:#fff;
	.transition;
}
.item-product.item-deal-product2:hover::before{
	top:-10px;
	bottom:-110px;
	right:-10px;
	left:-10px;
	box-shadow:0 10px 10px 0 rgba(0,0,0,0.15);
}
.item-product.item-deal-product2 .product-thumb .sale-label{
	top:10px;
	left:10px;
}
.item-product.item-deal-product2 .product-title {
    margin-bottom: 15px;
}
.deal-countdown2 {
    max-width: 570px;
    margin: auto;
    text-align: center;
	padding:40px 15px;
	position:relative;
}
.days-countdown .time_circles>div {
    width: 70px!important;
    height: 70px;
    background: rgba(0,0,0,0.7);
    border-radius: 70%;
    display: inline-block;
    margin: 0 -5px;
    text-align: center;
    color: #fff;
	text-transform:uppercase;
	padding-top:8px;
}
.days-countdown .time_circles>div .number{
	font-size:18px; 
	font-weight:700;
}
.days-countdown .time_circles>div .text{
	font-size:12px;
	display:block;
	position:relative;
	padding-top:5px;
	margin-top:-3px;
}
.days-countdown .time_circles>div .text::before{
	position:absolute;
	top:0;
	left:50%;
	width:30px;
	height:1px;
	margin-left:-15px;
	content:"";
}
.deal-box2::before {
    position: absolute;
    background: #f4f4f4;
    left: 0;
    right: 0;
    top: 60px;
    bottom: 0px;
    content: "";
}
.box-parallax{
	background-position:center center;
	background-repeat:no-repeat;
	background-attachment:fixed;
}
.why-choise {
	background-image:url("../images/home2/prl1.jpg");
	padding:100px 0;
	margin-bottom:90px;
}
.why-choise.box-parallax{
	background-position:center top;
}
.choise-title .paci-font {
    margin-bottom: 15px;
}
.list-service2 .item-service1 {
    margin-bottom: 30px;
    margin-top: 40px;
}
.list-service2 {
    padding-left: 200px;
}
.fruit-top {
    position: absolute;
    top: -20px;
    right: -60px;
}
.item-product.item-product2 {
    border: 1px solid #e5e5e5;
    margin-bottom: 30px;
}
.item-product.item-product2 .product-extra-link {
    border-top: 1px solid #e5e5e5;
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 25px;
}
.product-extra-link {
    margin: 0 -3px;
}
.product-extra-link a {
    margin: 0 3px;
}
.item-product.item-product2 .product-info {
    padding-right: 20px;
}
.best-product2 {
    margin-bottom: 70px;
}
.client-say2{
	padding:110px 0 120px;
	margin-bottom:90px;
	background-image:url("../images/home2/prl2.jpg");
}
.item-client2 .client-thumb a {
    border-style: dashed;
    padding: 15px;
}
.client-say2 .paci-font {
    margin-bottom: 15px;
}
.client-slider2 {
    margin-top: 43px;
}
.item-client2 .desc {
    max-width: 570px;
    margin: 45px  auto 0;
    position: relative;
}
.item-client2 .desc::before {
    height: 2px;
    width: 100px;
    content: "";
    position: absolute;
    top: -23px;
    left: 50%;
    margin-left: -50px;
}
.client-slider2 .owl-theme .owl-controls .owl-buttons div {
    top: 50px;
    left: 50%;
    right: initial;
}
.client-slider2 .owl-theme .owl-controls .owl-buttons div.owl-prev {
    margin-left: -170px;
}
.client-slider2 .owl-theme .owl-controls .owl-buttons div.owl-next {
    margin-left: 140px;
}
.item-blog2 {
    border: 1px solid #e5e5e5;
    padding: 10px;
    margin: 0 15px;
    margin-bottom: 30px;
}
.blog-info2 {
    padding-top: 30px;
}
.blog-info2.info-left {
    padding-left: 20px;
}
.post-comment-date {
    margin: 0 -8px;
}
.post-comment-date li {
    margin: 0 8px;
    position: relative;
}
.post-comment-date li:last-child::after{
	display:none;
}
.post-comment-date li::after {
    position: absolute;
    height: 16px;
    width: 1px;
    content: "";
    background: #e5e5e5;
    top: 3px;
    right: -10px;
}
.post-comment-date li .fa{
	margin-right:5px;
}
.blog-info2 .post-comment-date {
    margin-top: 15px;
    margin-bottom: 15px;
}
.blog-info2 .desc {
    margin-bottom: 20px;
}
body .list-inline-block .shop-button{
	display:inline-block;
	color:#fff;
	border-radius:18px;
	height:36px;
	line-height:36px;
	padding:0 18px;
	text-align:center;
	position:relative;
	border:none;
}
.blog-info2 .title18 {
    line-height: 24px;
}
.blog-info2.info-center {
    min-height: 340px;
}
.from-blog2{
	margin-bottom:70px;
}
.deal-countdown2 .title18 {
    margin-bottom: 15px;
}
.banner-guide .banner-info {
    height: 100px;
}
.banner-guide .banner-info .paci-font {
    margin-bottom: 15px;
}
.banner-guide .banner-info .list-inline-block li {
    margin: 0 3px;
}
.banner-guide {
    margin-bottom: 90px;
}
.product-type-slider .item {
    margin: 0 15px;
    border: 1px solid #e5e5e5;
}
.product-type-slider {
    margin: 0 -15px;
}
.justify-box1 .item-product-type.table {
    border-bottom: 1px solid #e5e5e5;
    padding: 20px;
	position:relative;
	.transition;
}
.item-product-type.table:hover{
	box-shadow:0 10px 15px 0 fade(#000,15%);
	z-index:10;
}
.item-product-type.table:last-child {
    border: none;
}
// .item-product-type.table .product-thumb {
//     width: 120px;
// }
.item-product-type.table .product-info {
    padding-left: 20px;
}
.view-all-product {
    border: 1px solid #e5e5e5;
    padding: 20px 15px;
    border-top: 0;
}
.product-type {
    margin-bottom: 100px;
}
.item-product-type.table .addcart-link {
    float: right;
    margin-top: 10px;
	opacity:0;
}
.item-product-type.table:hover .addcart-link{
	opacity:1;
}
.item-product-type.table .product-title {
    margin-bottom: 15px;
}
.product-type-slider .group-navi .owl-buttons {
    top: -60px;
}
.product-type-slider .owl-wrapper-outer{
	padding-bottom:20px;
	margin-bottom:-21px;
}
.fruit-farmer{
	padding:130px 0 100px;
	margin-bottom:90px;
	background:#999 url("../images/home2/bg-fruit.jpg") no-repeat center top;
	background-size:auto 100%;
}
.farm-slider {
    max-width: 960px;
    margin: auto;
}
.farm-slider.banner-slider .owl-theme .owl-controls .owl-buttons div{
	&:extend(.owl-theme .owl-controls .owl-buttons div);
	box-shadow:none;
	opacity:1;
}
.farm-slider.banner-slider .owl-theme .owl-controls .owl-buttons div:hover{
	color:#fff;
}
.farm-slider.banner-slider  .owl-theme .owl-controls .owl-buttons div i::before {
    line-height: 30px;
}
.farm-slider.banner-slider .owl-theme .owl-controls .owl-buttons div.owl-prev{
	left:0;
}
.farm-slider.banner-slider .owl-theme .owl-controls .owl-buttons div.owl-next{
	right:0;
}
.item-farm {
    position: relative;
}
.item-farm .farm-thumb{
	max-width:370px;
}
.item-farm .farm-info {
    position: absolute;
    background: #fff;
    top: 50px;
    left: 330px;
    right: 0;
    padding: 45px 30px 40px 45px;
}
.item-farm .top-social a{
	height:40px;
	line-height:40px;
	width:40px;
}
.farm-cat {
    margin: 7px 0 25px;
}
.farm-info .top-social {
    margin-top: 30px;
}
.farm-slider .group-navi .owl-buttons {
    top: 105px;
    right: 30px;
}
.item-brand2 {
    margin: 0 15px 30px;
    display: inline-block;
}
.item-brand2 a {
    display: inline-block;
	overflow:hidden;
}
.list-brand2 {
    font-size: 0;
    margin: 0 -15px;
    text-align: center;
}
.box-brand2 {
    margin-bottom: 70px;
}
.vege-banner{
	margin-bottom:90px;
}
.list-photo-in li{
	margin:0 3px 10px;
}
.photo-instagram{
	margin-bottom:90px;
}
.footer2.box-parallax{
	background-position:center bottom;
	background-image:url("../images/home2/prl3.jpg");
	padding:60px 0 30px;
}
.footer-box2 >.title18 {
    margin-bottom: 18px;
}
.contact-footer2 p {
    position: relative;
    padding-left: 45px;
    margin-bottom: 25px;
    min-height: 30px;
}
.contact-footer2 .desc span {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    top: -8px;
    text-align: center;
    line-height: 30px;
    background: #fff;
    border-radius: 50%;
    bottom: 0;
    margin: auto;
}
.footer-box2.payment-method {
    border-top: 1px solid rgba(255,255,255,0.2);
    margin-top: 20px;
    padding-top: 25px;
}
.footer-box2.payment-method .title18 {
    margin: 0 3px 25px;
}
.payment-method {
    margin: 0 -3px;
}
.payment-method a {
    margin: 0 3px;
}
.email-form2::before {
    content: "\f0e0";
    font-family: fontAwesome;
    top: 7px;
    left: 20px;
    position: absolute;
}
.email-form2 {
    background: #fff;
    border-radius: 20px;
	position:relative;
	padding-right:100px;
}
.email-form2 input[type="submit"] {
	height: 40px;
    width: 100%;
    border: none;
    border-radius: 20px;
	color:#fff;
	text-transform:uppercase;
	position:absolute;
	top:0;
	right:0;
	width:100px;
	text-align:center;
	.transition;
}
.email-form2 input[type="text"] {
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 20px;
    padding: 0 15px 0 45px;
	color:#999;
}
.email-form2 {
    margin-top: 20px;
}
.social-network.footer-box2 {
    margin-top: 30px;
    border-top: 1px solid rgba(255,255,255,0.2);
    padding-top: 25px;
}
.social-network.footer-box2 .tile18 {
    margin: 0 3px 25px;
}
.social-network.footer-box2 .title18 {
    margin: 0 0 25px;
}
.social-network {
    margin: 0 -3px;
}
.social-network a {
    margin: 0 3px;
    display: inline-block;
    vertical-align: top;
}
.social-network.footer-box2 a {
    width: 30px;
}
.logo-footer2 {
    position: relative;
    overflow: hidden;
    padding-top: 10px;
    margin-bottom: 20px;
}
.logo-footer2::before {
    position: absolute;
    content: "";
    background: rgba(255,255,255,0.2);
    top: 50%;
    left: 50%;
    width: 1200px;
    height: 1px;
    margin-left: 140px;
}
.logo-footer2::after{
	&:extend(.logo-footer2::before);
	margin-right:140px;
	left:auto;
	right:50%;
}
.menu-footer2 {
    margin: 0 -10px 15px;
}
.menu-footer2 li {
    margin: 0 10px;
}

/**************************************************************************************************
											Shop
***************************************************************************************************/
.shop-banner .banner-info {
    height: 60px;
    padding: 0 50px;
}
.bread-crumb {
    margin-top: 5px;
}
.bread-crumb a::after {
    content: "//";
    color: #939393;
    font-size: 10px;
    margin: 0 5px;
}
.shop-banner {
    margin-bottom: 30px;
}
.widget-search .search-form {
    border-radius: 6px;
}
.widget-search .search-form input[type="text"] {
    height: 34px;
    color: #555;
}
.widget-search .search-form input[type="submit"],
.widget-search .search-form::after{
	height: 34px;
    line-height: 34px;
}
.widget {
    margin-bottom: 25px;
}
.title-widget{
	margin-bottom:25px;
}
.wg-list-cat li {
    border-bottom: 1px dashed #e5e5e5;
    padding-bottom: 8px;
    margin-bottom: 8px;
    position: relative;
    padding-right: 20px;
}
.wg-list-cat li span {
    position: absolute;
    top: 0;
    right: 0;
}
.wg-list-cat li:last-child {
    border: none;
}
.item-wg-product.table .product-thumb {
    width: 70px;
}
.item-wg-product.table .product-info {
    padding-left: 20px;
}
.item-wg-product.table .product-thumb>.quickview-link {
    height: 30px;
    width: 30px;
    line-height: 30px;
}
.item-wg-product.table .product-info .product-title {
    font-size: 14px;
    margin-bottom: 3px;
}
.item-wg-product.table .product-price {
    margin-bottom: 5px;
}
.item-wg-product.table {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.item-wg-product.table:last-child{
	border:none;
	padding:0;
}
.wg-list-tabs li a{
	display:block;
	height:30px;
	line-height:30px;
	padding:0 20px;
	border-radius:15px;
	background:#fafcfc;
	color:#555555;
}
.wg-list-tabs li{
	margin-bottom:5px;
}
.wg-list-tabs li a:hover{
	color:#fff;
}
.wg-product-slider{
	margin:0 -15px;
}
.wg-product-slider .item{
	margin:0 15px;
}
.item-product.item-product-grid {
    border: 1px solid #e5e5e5;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.range-filter .slider-range {
    border: medium none;
    border-radius: 3px;
    height: 5px;
    margin-bottom: 23px;
}
.range-filter .ui-slider-range{
    background: #f1f1f1 none repeat scroll 0 0;
}
.range-filter .ui-slider-handle.ui-state-default.ui-corner-all {
    background: #fff none repeat scroll 0 0;
    cursor: pointer;
    height: 14px;
    margin-left: -7px;
    top: -5px;
    width: 14px;
	border-radius:50%;
}
.range-filter .amount {
    padding-top: 7px;
}
.widget.widget-filter-price {
    margin-bottom: 50px;
}
.view-bar a {
    background-color: #fff;
	background-repeat:no-repeat;
	background-position:center center;
    border: 1px solid #e5e5e5;
    display: inline-block;
    height: 36px;
    width: 30px;
}
.view-bar{
	font-size:0;
}
.view-bar .grid-view{
    background-image: url(../images/icon/icon-grid.png);
	border-radius:6px 0 0 6px;
}
.view-bar .list-view{
    background-image: url(../images/icon/icon-list.png);
	border-radius:0 6px 6px 0;
}
.view-bar .grid-view.active{
	background-image: url(../images/icon/icon-grid-active.png);
}
.view-bar .list-view.active{
	background-image: url(../images/icon/icon-list-active.png);
}
.sort-bar span {
    margin: 6px 10px 0 0;
}
.wrap-sort-view {
    margin: 0 -13px;
}
.wrap-sort-view>li {
    margin: 0 13px;
}
.shop-pagibar .desc {
    padding: 6px 0;
}
.shop-pagibar {
    margin-bottom: 30px;
}
.pagibar>a{
	display:inline-block;
	border:1px solid #e5e5e5;
	background:#fff;
	height:40px;
	line-height:40px;
	width:40px;
	text-align:center;
	line-height:40px;
	border-radius:50%;
	color:#555;
}
.pagibar>a:hover,.pagibar>a.current-page{
	color:#fff;
}
.content-shop {
    margin-bottom: 50px;
}
.product-grid-view {
    margin-bottom: 20px;
}
.item-product.item-product-list {
    border: 1px solid #e5e5e5;
    margin-bottom: 30px;
}
.item-product.item-product-list .desc {
    margin-top: 12px;
    margin-bottom: -7px;
}
.product-list-view {
    margin-bottom: 50px;
}
/*************************************************************************************************
										Detail					
**************************************************************************************************/
.related-product>h2.title30 {
    margin-bottom: 22px;
}
.title-tab-detail .title-tab1 {
    margin-bottom: 20px;
}
.detail-tabs .tab-content {
    border: 1px solid #e5e5e5;
    padding: 30px;
}
.detail-descript .desc {
    margin-top: 20px;
}
.detail-tabs {
    margin-bottom: 40px;
}
.gallery-control .carousel{
	margin:auto;
}
/*Begin Review*/
.content-tags-detail .title14 {
    margin: 0 0 18px;
    text-transform: inherit;
}
.list-none.list-tags-review li {
    display: table;
    margin-bottom: 20px;
    width: 100%;
}
.list-none.list-tags-review li > .review-author {
    width: 100px;
}
.list-none.list-tags-review li > div {
    display: table-cell;
    vertical-align: top;
}
.list-none.list-tags-review li > .review-info {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding: 20px;
    position: relative;
}
.list-none.list-tags-review li > .review-author a {
    border-radius: 50%;
    display: block;
    overflow: hidden;
    width: 70px;
}
.list-none.list-tags-review li > .review-author a img {
    border-radius: 50%;
}
.review-header {
    color: #999;
}
.review-info .product-rate {
    position: absolute;
    right: 20px;
    top: 20px;
}
.content-tags-detail .title14 {
    margin: 0 0 18px;
    text-transform: inherit;
}
.review-form {
    margin-top: 23px;
}
.review-form > div {
    margin-bottom: 10px;
    min-height: 40px;
    padding-left: 105px;
    position: relative;
}
.review-form > div > label {
    font-weight: 400;
    height: 40px;
    left: 0;
    line-height: 40px;
    position: absolute;
    top: 0;
}
.review-form > div > input[type="text"] {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    height: 40px;
    max-width: 400px;
    padding: 0 15px;
    width: 100%;
}
.review-form > div > .product-rate {
    transform: translateY(15px);
    -webkit-transform: translateY(15px);
}
.review-form > div > textarea {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    max-height: 120px;
    padding: 10px 15px;
    width: 100%;
}
.review-form > div > input[type="submit"] {
    border: medium none;
    margin-top: 10px;
}
/*End Review*/
.product-detail {
    padding: 10px;
    border: 1px solid #e5e5e5;
    margin-bottom: 50px;
}
.gallery-control .carousel li a {
    width: 100px;
    display: block;
    margin: 0 5px;
	background:#e2e2e2;
}
.gallery-control .carousel li a.active img{
	opacity:0.5;
}
.gallery-control .carousel li {
    float: none!important;
    display: inline-block;
    font-size: 14px;
}
.gallery-control{
    font-size: 0;
	text-align:center;
	margin:10px -5px;
}
.detail-gallery {
    margin-right: -20px;
}
.detail-info {
    padding: 20px;
}
.detail-info>.title30 {
    margin-bottom: 5px;
}
.detail-info .info-extra {margin-bottom: 10px;}
.detail-info .product-rate {
    margin-bottom: 12px;
}
.wrap-qty-extra {
    margin: 15px 0;
    padding: 30px 0;
    border-bottom: 1px dashed #e5e5e5;
    border-top: 1px dashed #e5e5e5;
}
.wrap-qty-extra >li{
	margin: 10px 0;
}
.detail-info .info-extra label {
    font-weight: 400;
    margin: 0;
    min-width: 100px;
}
.detail-info .info-extra a.silver {
    margin: 0 6px;
}
.detail-qty {
    width: 130px;
    text-align: center;
    color: #999;
    border: 1px solid #e5e5e5;
    height: 36px;
    line-height: 36px;
    position: relative;
    border-radius: 6px;
    margin-right: 6px;
}
.detail-qty a {
    position: absolute;
    top: 0;
}
.detail-qty .qty-down {
    left: 20px;
}
.detail-qty .qty-up {
    right: 20px;
}
.list-product-group {
    margin-top: 20px;
    border: 1px dashed #e5e5e5;
	border-bottom-width:0;
}
.product-detail.detail-group .wrap-qty-extra {
    border: none;
    margin: 20px 0;
    padding: 0;
}
.item-product-group .product-thumb {
    width: 80px;
}
.item-product-group .product-info {
    padding-left: 20px;
    vertical-align: middle;
}
.item-product-group .detail-qty {
    position: absolute;
    right: 10px;
    top: 0;
    margin: auto;
    bottom: 0;
    border-radius: 0;
    height: 40px;
    line-height: 40px;
}
.item-product-group {
    border-bottom: 1px dashed #e5e5e5;
    padding-right: 150px;
    position: relative;
}
.item-product-group .table {
    border-right: 1px dashed #e5e5e5;
    padding: 10px;
}
/*****************************************************************************************************
												Blog
*****************************************************************************************************/
.item-pop-post.table .post-thumb {
    width: 70px;
}
.item-pop-post.table .post-info {
    padding-left: 20px;
}
.item-pop-post.table .post-info .title14 {
    line-height: 22px;
    margin-bottom: 3px;
}
.item-pop-post.table {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}
.item-pop-post.table:last-child{
	border:none;
	margin:0;
}
.item-blog-list {
    margin-bottom: 30px;
}
.item-blog-list .blog-info {
    border-top-width: 0;
    padding: 30px 30px 40px 40px;
}
.item-blog-list .blog-info .title30 {
    margin-bottom: 13px;
}
.blog-comment-date label {
    font-weight: 400;
    margin: 0 5px;
}
.blog-comment-date li {
    margin: 0 12px;
    position: relative;
}
.blog-comment-date li::after {
    position: absolute;
    content: "//";
    color: #999;
    font-size: 10px;
    letter-spacing: -1px;
    right: -21px;
    top: 4px;
}
.blog-comment-date {
    margin: 0 -17px;
}
.blog-comment-date li:last-child::after {
    display: none;
}
.item-blog-list .blog-info .desc {
    margin: 15px 0 21px;
}
.blog-social a {
    margin-left: 18px;
}
.blog-social {
    padding-top: 8px;
}
.content-blog-list {
    margin-bottom: 50px;
}
.masonry-list-post .item-post-masonry {
    margin-bottom: 50px;
    padding: 0 15px;
    width: 33.334%;
}
.masonry-list-post {
    margin: 0 -15px;
}
.item-post-masonry .blog-info {
    padding-top: 22px;
}
.item-post-masonry .blog-info .title30 {
    margin-bottom: 14px;
}
.item-post-masonry .blog-info .desc {
    margin: 15px 0 20px;
}
.single-head .title30 {
    margin-bottom: 15px;
}
.single-head {
    margin-bottom: 43px;
}
.single-thumbnail.banner-adv {
    margin-bottom: 43px;
}
.blockquote {
    background: #fafcfc;
    padding: 30px 38px;
    margin-bottom: 50px;
}
.main-content-single .desc {
    margin-bottom: 40px;
}
.blockquote p {
    font-size: 18px;
    font-style: italic;
    color: #555;
    position: relative;
    padding-left: 45px;
	margin-bottom:15px;
}
.blockquote p::before {
    position: absolute;
    top: 5px;
    left: 0;
    content: "\f10d";
    font-family: fontAwesome;
    font-style: normal;
    font-size: 30px;
}
.single-soil .title30 {
    margin-bottom: 12px;
}
.single-soil .desc {
    margin-bottom: 20px;
}
.table.tags-share {
    border-bottom: 1px dashed #e5e5e5;
    border-top: 1px dashed #e5e5e5;
    padding: 13px 0;
    margin-bottom: 50px;
}
.tags-share .blog-social {
    padding-top: 0;
}
.single-tabs a {
    margin: 0 5px;
}
.table.tags-share .text-left {
}
.single-author.table .single-author-avatar {
    width: 130px;
}
.single-author.table .single-author-info {
    padding-left: 20px;
}
.single-author.table .single-author-info .title18 {
    margin-bottom: 18px;
}
.single-author-info .desc {
    margin: 0;
}
.single-author.table {
    margin-bottom: 50px;
}
.single-post-control.table .btn-arrow {
    margin-bottom: 12px;
}
.single-post-control.table {
    margin-bottom: 40px;
}
.single-comment>.title30 {
    margin-bottom: 22px; 
}
.single-comment-form input[type="text"] {
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 22px;
    padding: 0 15px;
}
.single-comment-form label {
    margin-bottom: 13px;
}
.single-comment-form textarea {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    height: 138px;
    padding: 10px 15px;
}
.single-comment-form input[type="submit"] {
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    padding: 0 45px;
}
.post-control-prev .btn-arrow::after{
	display:none;
}
.post-control-prev .btn-arrow::before{
	&:extend(.btn-arrow::after);
	margin-left:0;
	margin-right:10px;
	content:"\f3d5";
}
/********************************************************************************************************
												Page
*********************************************************************************************************/
.fruit-health.health-about {
    margin-top: 60px;
    margin-bottom: 50px;
}
.what-about {
    background: #fafcfc;
    padding-top: 70px;
    padding-bottom: 120px;
    margin-bottom: 65px;
}
.about-client-slider {
    margin: 30px auto 0;
    max-width: 830px;
}
.item-about-client .client-thumb a {
    width: 120px;
    height: 120px;
    padding: 10px;
    background: #fff;
}
.decate-farmer {
    margin-bottom: 55px;
}
.decate-slider{
	margin:0 -15px;
}
.decate-slider .item-decate{
	margin:0 15px;
}
.decate-farmer .title30 {
    margin-bottom: 45px;
}
.decate-info {
    padding: 40px 30px 20px 60px;
    margin-left: -60px;
    border-width: 2px;
    border-style: solid;
    margin-top: 50px;
}
.decate-info .title18 {
    margin-bottom: 8px;
}
.decate-info .desc {
    border-top: 1px dashed #e5e5e5;
    margin-top: 12px;
    padding-top: 10px;
    margin-bottom: 20px;
}
.item-about-client .client-thumb {
    margin-bottom: 55px;
}
.about-client-slider .owl-pagination {
    position: absolute;
    left: 0;
    right: 0;
    top: 138px;
}
.about-client-slider .owl-pagination .owl-page span {
    background: #fff;
}
.item-about-client .title18 {
    margin-top: 37px;
    margin-bottom: 8px;
    position: relative;
}
.item-about-client .title18::before{
	position:absolute;
	height:30px;
	width:1px;
	content:"";
	left:50%;
	bottom:100%;
	margin-bottom:10px;
}
.contact-map {
    padding: 10px;
    margin-bottom: 50px;
}
.contact-map iframe {
    width: 100%;
}
.item-contact-info .contact-icon {
    font-size: 60px;
}
.contact-info-page {
    max-width: 970px;
    margin: auto auto 80px;
    text-align: center;
}
.list-contact-info {
    margin-bottom: 40px;
}
.contact-form-page .title30 {
    margin-bottom: 20px;
}
.form-contact input[type="text"] {
    width: 100%;
    display: block;
    border: 1px solid #e5e5e5;
    height: 40px;
    color: #999;
    padding: 0 15px;
    margin-bottom: 30px;
}
.form-contact textarea {
    border: 1px solid #e5e5e5;
    width: 100%;
    margin-bottom: 30px;
    display: block;
}
.contact-form-page {
    margin-bottom: 50px;
}
.form-contact .shop-button {
    height: 40px;
    border-radius: 20px;
    padding: 0 30px;
	.transition;
}
/************************************************************************************************
											Cart/Checkout
************************************************************************************************/
.form-my-account input[type="text"] {
    border: 1px solid #e5e5e5;
    color: #999;
    height: 40px;
    padding: 0 20px;
    text-transform: uppercase;
    width: 100%;
}
.form-my-account .title {
    margin-bottom: 26px;
}
.form-my-account {
    max-width: 370px;
	width:100%;
}
.account-register {
    float: left;
    position: relative;
    width: 100%;
}
.account-register .form-my-account {
    float: right;
}
.account-register::before {
    border-right: 1px solid #e5e5e5;
    content: "";
    height: 100%;
    left: -15px;
    position: absolute;
    top: 0;
    width: 1px;
}
.form-my-account > p {
    margin-bottom: 20px;
    max-width: 370px;
    position: relative;
}
.form-my-account label {
    color: #555;
    font-weight: 400;
    margin: 0;
}
.form-my-account .ship-address label {
    color: #333;
}
.form-my-account input[type="checkbox"] + label::before {
    border: 1px solid #e5e5e5;
    content: "";
    display: inline-block;
    font-family: "FontAwesome";
    font-size: 14px;
    font-weight: 400;
    height: 20px;
    line-height: 18px;
    margin-right: 17px;
    text-align: center;
    vertical-align: middle;
    width: 20px;
}
.form-my-account input[type="checkbox"]:checked+label::before{
    content:"\f00c";
}
.form-my-account input[type="checkbox"] {
    display:none;
}
.form-my-account a {
    position: absolute;
    right: 0;
    top: 0;
}
.form-my-account input[type="submit"] {
    border: medium none;
    color: #fff;
    height: 40px;
    margin-top: 10px;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    width: 110px;
}
.form-my-account input[type="submit"]:hover {
    background-color: #333;
}
.form-my-account > p:last-child {
    margin: 0;
}
.box-col2 input[type="text"] {
    float: left;
    width: 47.5%;
}
.box-col2 input[type="text"]:first-child {
    margin-right: 5%;
}
.form-my-account textarea {
    border: 1px solid #e5e5e5;
    color: #999;
    padding: 10px 15px;
    text-transform: uppercase;
    width: 100%;
}
.ship-address > label {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.check-billing {
    border-right: 1px solid #e5e5e5;
    margin-right: -15px;
}
.check-address {
    float: left;
    width: 100%;
}
.check-address .form-my-account {
    float: right;
}
.order_review_heading {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    margin: 50px 0 -1px;
    padding: 20px;
    position: relative;
    text-transform: uppercase;
}
.shop_table.woocommerce-checkout-review-order-table thread{
	position:relative;
}
td.product-thumbnail img {
    max-width: 100px;
}
/*Woocommerce*/
.woocommerce table.shop_table {
    border: 1px solid #e5e5e5;
    border-collapse: collapse;
    border-radius: 0;
    margin: 0 0 50px;
    text-align: left;
    width: 100%;
}
.woocommerce table.shop_table thead {
    background: #f4f4f4 none repeat scroll 0 0;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
}
.woocommerce table.shop_table thead th {
    padding: 15px 20px;
}
.woocommerce table.shop_table td {
    border-top: 1px solid #e5e5e5;
    padding: 15px 20px;
    vertical-align: middle;
}
.woocommerce table, .woocommerce th, .woocommerce td {
    border: 1px solid #e5e5e5 !important;
    color: #555;
    margin: 0;
    padding: 15px 20px !important;
}
.woocommerce tfoot th{
	text-transform:uppercase;
}
#shipping_method  li {
    padding: 10px 0;
}
#shipping_method li label {
    cursor: pointer;
    margin: 0;
    padding-left: 25px;
    position: relative;
}
#shipping_method  li input[type="radio"]{
	display:none;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
#shipping_method li input[type="radio"] + label::before {
	line-height: 13px;
}
}
#shipping_method li input[type="radio"] + label::before {
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    content: "";
    display: inline-block;
    font-family: "FontAwesome";
    font-size: 6px;
    font-weight: 400;
    height: 14px;
    left: 0;
    line-height: 13px;
    margin-right: 10px;
    position: absolute;
    text-align: center;
    top: 2px;
    vertical-align: middle;
    width: 14px;
}
#shipping_method  li  input[type="radio"]:checked  + label::before {
	content: "\f111";
}
.payment_methods.methods {
    border: 1px solid #e5e5e5;
    margin: 0 0 -1px;
}
.payment_methods.methods li {
    border-bottom: 1px solid #e5e5e5;
    padding: 20px;
}
.payment_methods.methods li:last-child{
	border:none;
} 
.payment_methods.methods li label {
    font-size: 18px;
    margin: 0 0 0 7px;
    text-transform: uppercase;
}
.payment_box.payment_method_bacs > p {
    margin: 5px 0 0;
    padding-left: 24px;
}
.payment_method_paypal img {
    margin: -6px 10px 0;
    max-width: 160px;
}
.form-row.place-order {
    border: 1px solid #e5e5e5;
    padding: 20px;
    text-align: right;
}
.form-row.place-order input[type="submit"] {
    border: medium none;
    color: #fff;
    height: 40px;
    padding: 0 25px;
    text-transform: capitalize;
	-webkit-transition:all 0.3s ease-out 0s;
	transition:all 0.3s ease-out 0s;
}
.form-row.place-order input[type="submit"]:hover{
	background-color:#333;
}
.form-my-account select {
    border: 1px solid #e5e5e5;
    color: #999;
    height: 40px;
    padding: 0 20px;
    text-transform: uppercase;
    width: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.form-my-account select option{
	text-transform: capitalize;
	font-weight:400;
	padding:10px 20px;
}
.woocommerce table.shop_table td.actions {
    text-align: right;
}
.woocommerce table.shop_table td .coupon {
    float: left;
}
.woocommerce table.shop_table td.actions input[type="submit"] {
    border: medium none;
    color: #fff;
    height: 40px;
    padding: 0 20px;
}
.woocommerce table.shop_table td.actions input[type="submit"]:hover {
	background: #333 none repeat scroll 0 0;
}
.woocommerce table.shop_table td.actions input[type="text"] {
    border:1px solid #e5e5e5;
    color: #999;
    height: 40px;
    padding: 0 20px;
}
.woocommerce .cart-content-page table.shop_table thead{
	background:#f4f4f4;
}
.woocommerce .cart-content-page table.shop_table thead th {
    border-color: #e5e5e5;
    color: #333;
}
.woocommerce .cart-content-page table.shop_table .product-thumbnail img {
    max-width: 70px;
}
.cart-collaterals .cart_totals > h2 {
    background: #f4f4f4 none repeat scroll 0 0;
    border: 1px solid #e5e5e5;
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 -1px;
    padding: 15px 20px;
    text-transform: uppercase;
}
.wc-proceed-to-checkout a.checkout-button {
    color: #fff;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin: 20px 0 0;
    padding: 0 25px;
    text-transform: uppercase;
	-webkit-transition:all 0.3s ease-out 0s;
	transition:all 0.3s ease-out 0s;
}
.wc-proceed-to-checkout a.checkout-button:hover{
	background-color:#333;
}
.content-cart-checkout>h2{
	margin-bottom:30px;
}
.content-cart-checkout{
	margin-bottom:50px;
}
/*End Wooocommerce*/
/******************************************Begin Preload***************************************************/
.wrapper_slider {
    margin-bottom: 50px;
    .owl-carousel.owl-theme .owl-controls .owl-buttons {
        div {
            height: 56px;
            width: 56px;
            margin: -28px 0 0;
            border: none;
            background-color: rgba(0, 0, 0, 0.5);
            font-size: 0;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05) inset;
            color: #fff;
            &:before {
                font-family: 'Ionicons';
                font-size: 30px;
                color: @bkg;
                line-height: 56px;
            }
            &:hover {
                background: @linkshover;
            }
        }
        div.owl-next {
            right: -60px;
            opacity: 0; 
            &:before {
                content: '\f3d6';
            }   
        }
        div.owl-prev {
            left: -60px;
            opacity: 0;
            &:before {
                content: '\f3d5';
            }  
        }
    }
    &:hover .owl-theme .owl-controls .owl-buttons {
        div.owl-next {
            right: 15px;
            opacity: 1;    
        }
        div.owl-prev {
            left: 15px;
            opacity: 1;
        }
    }
}
.brand-slider .owl-pagination { display: none; }
.gal-content3 .btn-gal, .product-thumb .quickview-link {
    background: #6c3;
}
.product-thumb .quickview-link, .gal-content3 .btn-gal {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    margin: auto;
    color: #fff;
    transform: scale(0);
    -webkit-transform: scale(0);
    z-index: 5;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
}
.product-thumb:hover .quickview-link {
    transform: scale(1);
    -webkit-transform: scale(1);
}
.list-inline-block > li ,
.list-inline-block > li >div{
    a {
        color: #999;
    }
    &:hover >a {
        color: @linkshover;
    }
}
.owl-carousel .owl-wrapper-outer {
    padding: 20px 0 20px 0;
    margin: -20px 0 -20px 0;
}
.btn-arrow.color {
    color: @linkshover;
}
.latest-news .item-post1 {
    padding: 0 15px;
}
.owl-carousel.owl-theme .owl-controls .owl-buttons {
    opacity: 1;
    visibility: visible;
    > div{
        &:before{
            font-size: 20px;
        }
        &.owl-next {
            &:before {
                content: "\f3d6";
                font-family: "Ionicons";
                color: #c5c5c5;
            }
            &:hover:before {
            color: @bkg;
            }
        } 
        &.owl-prev {
            &:before {
                content: "\f3d5";
                font-family: "Ionicons";
                color: #c5c5c5;
            }
            &:hover:before {
                color: @bkg;
           }
        }
    }
}
.featured-product-slider .owl-theme .owl-buttons {
    position: absolute;
    right: 0;
    top: 45px;
    width: 63px;
}
.title-tab1 li.active:hover a {
    color: #fff;
}
.widget {
    border: 0;
}
#layered-ajax-list-products .item-product {
    padding-left: 0;
    padding-right: 0;
}
select { padding: 7px 25px; }
.container {
    .page-main.container {
        padding: 0;
    }
    #header, .nav-breadcrumbs,
    .page-footer { margin: 0 -15px ; }
}

/****************style new home 2 *******************/
.service-info .white {
    color: @bkg;
}
.logo {
    margin: 0;
    max-width: 100%;
    float: none;
}
.menu-footer2.list-inline-block .white {
    color: @bkg;
    &:hover { 
        color: @linkshover;
    }
}
.design2.desc.white a { color: @linkshover; }
li.active a span { color: @bkg; }
.fruit-list-cat .owl-carousel .owl-wrapper-outer {
    padding-bottom: 70px;
    margin-bottom: -70px;
}
.item.bestsellerslider-item {
    padding: 0 15px;
}
.best-product2 .owl-theme .owl-controls .owl-buttons>div { top: 47.9%; }
.box-product-type .justify-box1 {
    margin: 0 15px;
    border: 1px solid @bordercolor;
}
.box-product-type .owl-theme .owl-buttons {
    position: absolute;
    right: 15px;
    top: -34px;
    width: 63px;
}
body .shop-button {
    display: inline-block;
    color: #fff;
    border-radius: 18px;
    height: 36px;
    line-height: 36px;
    padding: 0 18px;
    text-align: center;
    position: relative;
    border: none;
}
.banner-info.text-center{
    .img-info {
        position: absolute;
        top: 55px;
        left: 0;
        right: 0;
    }
    .text-info {
        position: absolute;
        top: 500px;
        left: 0;
        right: 0;
        h2 {
            margin-bottom: 20px;
        }
    }
}
.btn-arrow.style2.bg-color, .btn-arrow.style2.bg-color2 {
    color: @bkg;
    border: 0;
}
.item-product .product-extra-link{
    margin-top:28px;
}
.slider_homepage2slider .first-active {
    .img-info {
        webkit-animation-name: zoomIn;
        animation-name: zoomIn;
    }
    .text-info  {
        -webkit-animation-name: bounceInUp;
        animation-name: bounceInUp;
    }
}
.wg-list-tabs.list-inline-block li a {
    color: #555;
    &:hover {
        background: @linkshover;
        color: @bkg;
    }
}
.why-choise-home2 {
    position: relative;
    .container {
        position: sticky;
        z-index: 99;
    }
}

.why-choise.box-parallax:after {
    content: "";
    background-color: rgba(77,77,77,.4);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
/******************************************End Preload*****************************************************/