<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile
$showCart = $block->getConfig('addtocart');
?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?php /* @escapeNotVerified */ echo __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>
    <?php
        $viewMode = 'grid';
        $image = 'category_newin';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
   /*Grid*/
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
  ?>
    <div class="box-product-type">
    <h2 class="color2 title30 text-center title-box2"><?php echo __('Recent') ?></h2>
        <?php $iterator = 1; 
      $i = 0;
      $rows = 3; ?>
     <div class="product-type-slider"> 
        <ul class="owl">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollection as $_product){ ?>
        <?php if($i %$rows == 0) { ?> <li class="justify-box1"> <?php } ?> 
                <div class="item-product-type table" data-container="product-grid">
                    <?php
                    $productImage = $block->getImage($_product, $image);
                    if ($pos != null) {
                        $position = ' style="left:' . $productImage->getWidth() . 'px;'
                            . 'top:' . $productImage->getHeight() . 'px;"';
                    }
                    ?>
                    <?php // Product Image ?>
          <div class="product-thumb">
            <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product-thumb-link zoom-thumb" tabindex="-1">
                            <?php echo $productImage->toHtml(); ?>
            </a>
                        <div class="quickview-product">
                            <a class="quickview-link fancybox fancybox.iframe" data-role="quickview-button" data-id="<?php echo $_product->getId(); ?>" href="javascript: void(0);" data-href="<?php echo $block->getUrl('quickview/product/quickview/id/' . $_product->getId()) ?>" title=""><i class="fa fa-search"></i>
                            </a>
                        </div> 
          </div>
                    <div class="product-info">
                        <div class="product-price">
                            <?php
                                echo $this->helper('Rokanthemes\Superdeals\Helper\Data')->getPriceDisplayCustom($block->getProductPrice($_product));
                            ?>
                        </div>
                        <h3 class="product-title">
                            <a class="product-item-link"
                               href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
                                <?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                            </a>
                        </h3>
                        <div class="product-rate">
                            <div class="product-rating">
                                <?php if ($templateType): ?>
                                    <?php echo $block->getReviewsSummaryHtml($_product, $templateType,true); ?>
                                <?php endif; ?>
                            </div>
                        </div>
                          <div class="addcart-link">
                            <?php if ($_product->isSaleable()): ?>
                              <?php
                                $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
                                $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_product), ['product' => $_product->getEntityId()]);
                                $postParams = json_decode($postData, true);
                                ?>
                              <form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
                                <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
                                <input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                <?php echo $block->getBlockHtml('formkey')?>
                                <button type="submit"
                                    title=""
                                    class="btn-add-to-cart color">
                                 
                                  <i class="fa fa-shopping-basket"></i>
                                </button>
                              </form>
                            <?php else: ?>
                              <?php if ($_product->getIsSalable()): ?>
                                <div class="stock available"><span><?php echo __('In stock') ?></span></div>
                              <?php else: ?>
                                <div class="stock unavailable"><span><?php echo __('Out of stock') ?></span></div>
                              <?php endif; ?>
                            <?php endif; ?>
                          </div>
                    </div>
                </div>
               <?php $i++;?>
            <?php if($i %$rows == 0) echo "</li>"; ?>
            <?php } ?>
            <?php if($i %$rows != 0) echo "</li>"; ?> 
        </ul>
      </div>
      <div class="view-all-product text-center"><a href="<?php echo $this->getUrl() ?>recent.html" class="btn-arrow color style2">View All</a></div>
    </div>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {}
            }
        }
        </script>
    
    <?php endif; ?>
  <script type="text/javascript">
    require([
      'jquery',
      'mage/mage',
      'rokanthemes/owl'
    ], function ($) {
      'use strict';

      jQuery(".box-product-type .owl").owlCarousel({
        autoPlay : false,
        items : 1,
        itemsDesktop : [1199,1],
        itemsDesktopSmall : [991,2],
        itemsTablet: [768,2],
        itemsMobile : [640,1],
        slideSpeed : 500,
        paginationSpeed : 500,
        rewindSpeed : 500,
        navigation : true,
        stopOnHover : true,
        pagination :false,
        scrollPerPage:true,
      });
    });
  </script>
<?php endif; ?>
