<div class="main-content-home">
	<div class="container">
		<div class="list-adv8">
			<div class="row">
				<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('list_adv8')->toHtml(); ?>
			</div>
		</div>
		<div class="product-bestsale best-sale6">
			<?php echo $block->getLayout()->createBlock('Rokanthemes\ProductTab\Block\Producttab')->setTemplate('Rokanthemes_ProductTab::producttab.phtml')->toHtml();?>
		</div>
		<div class="pop-cat8 bg-white">
			<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('featured_categories_home3')->toHtml(); ?>
		</div>
		<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('why_choise8')->toHtml(); ?>
	</div>
	<div class="client-review8 box-parallax">
		<?php echo $block->getLayout()->createBlock('Rokanthemes\Testimonials\Block\Testimonials')->setTemplate('Rokanthemes_Testimonials::slider.phtml')->toHtml(); ?>
	</div>
	<div class="container">
		<div class="from-blog2">
			<div class="row">
				<?php echo $block->getLayout()->createBlock('Rokanthemes\Blog\Block\Sidebar\Recent')->setTemplate('Rokanthemes_Blog::sidebar/slider.phtml')->toHtml();?>
			</div>
		</div>
		<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('brand_slider8')->toHtml(); ?>
	</div>
</div>

<script type="text/javascript">
require([
		'jquery',
		'mage/mage',
		'rokanthemes/owl',
		'rokanthemes/mCustomScrollbar'
	], function ($) {
		'use strict';
	$( document ).ready(function() {
		$('.custom-scroll').mCustomScrollbar({
			scrollButtons:{
				enable:true
			}
		});
		$("ul.tabs li").click(function() {
			$(this).closest("ul").find("li").removeClass("active");
			$(this).addClass("active");
			$(this).closest(".common-tab-system-fixed").find(".tab_content").hide();
			$(this).closest(".common-tab-system-fixed").find(".tab_content").removeClass("animate1");
			var activeTab = $(this).attr("rel");
			$("#"+activeTab) .addClass("animate1");
			$("#"+activeTab).fadeIn();
		});
		// sub-banner-slider
		$(".brand-slider8 .wrap-item").owlCarousel({
		  items: 5,
         	itemsDesktop : [1199, 5],
	        itemsDesktopSmall : [991, 4],
	        itemsTablet : [767, 3],
	        itemsMobile : [479, 1],
	        navigation : false,
	         afterAction: function(el){
		     this.$owlItems.removeClass('first-active')
		     this.$owlItems .eq(this.currentItem).addClass('first-active')  
		  }
		});
		$(".group-navi").owlCarousel({
		  items: 1,
         	itemsDesktop : [1199, 1],
	        itemsDesktopSmall : [991, 1],
	        itemsTablet : [767, 1],
	        itemsMobile : [480, 1],
	        navigation : true,
	         afterAction: function(el){
		     this.$owlItems.removeClass('first-active')
		     this.$owlItems .eq(this.currentItem).addClass('first-active')  
		  }
		});
		//block-home1
		$(".block-wrap-item").owlCarousel({
		  items: 1,
         	itemsDesktop : [1199, 1],
	        itemsDesktopSmall : [991, 1],
	        itemsTablet : [767, 1],
	        itemsMobile : [479, 1],
	        navigation : true,
	         afterAction: function(el){
		     this.$owlItems.removeClass('first-active')
		     this.$owlItems .eq(this.currentItem).addClass('first-active')  
		  }
		});
		//Close Service Box
		$('.close-service-box').on('click',function(event) {
			event.preventDefault();
			$('.banner-top-home').slideUp('slow');
		});
		$(".category_tab_slider").owlCarousel({
			items : 2,
			autoPlay : false,
			slideSpeed : 1000,
			navigation : true,
			stopOnHover : true,
			pagination : false,
			itemsDesktop : [1199,2],
			itemsDesktopSmall : [991,2],
			itemsTablet: [767,2],
			itemsMobile : [480,1],
			 afterAction: function(el){
		     this.$owlItems.removeClass('first-active')
		     this.$owlItems .eq(this.currentItem).addClass('first-active')  
		  }
		});
		//Category Brand
		if($('.category-brand-slider').length>0){
			$('.category-brand-slider').each(function(){
			  $(this).find('.wrap-item').owlCarousel({
				items: 1,
				itemsCustom: [
				[0, 2],
				[480, 2],
				[768, 1],
				[992, 1],
				[1200, 1]
				],
				pagination: false,
				navigation: true,
				autoPlay:true,
				navigationText:['<i class="fa fa-angle-left"></i>','<i class="fa fa-angle-right"></i>']
			  });
			});
		}
	});
});
</script>