<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/* @var $block \Magento\Bundle\Block\Catalog\Product\View\Type\Bundle */
?>
<?php $_product = $block->getProduct() ?>
<?php if ($block->displayProductStockStatus()): ?>
    <?php if ($_product->isAvailable()): ?>
        <p class="stock available" title="<?php /* @escapeNotVerified */ echo __('Availability:') ?>">
            <?php /* @escapeNotVerified */ echo __('Availability') ?>: <span><?php /* @escapeNotVerified */ echo __('In stock') ?></span>
        </p>
    <?php else: ?>
        <p class="stock unavailable" title="<?php /* @escapeNotVerified */ echo __('Availability:') ?>">
            <?php /* @escapeNotVerified */ echo __('Availability') ?>: <span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span>
        </p>
    <?php endif; ?>
<?php endif; ?>
<?php echo $block->getChildHtml('bundle_prices') ?>
